<a href="#" data-toggle="modal" data-target="#aaronCruz">Ruby Alternatives - Aaron Cruz</a>

<div class="modal fade bs-example-modal-lg" id="aaronCruz" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-body">
		<button type="button" class="close pull-right" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <div class="rows clearfix">
		<div class="col-sm-8">
			<h2 class="modal-title" id="myModalLabel">Ruby Alternatives</h2>
			<div class="modal-desc">
				<i class="glyphicon glyphicon-calendar"></i> Saturday 19th March, 2016 &nbsp;&nbsp;<i class="glyphicon glyphicon-time"></i> 10:00 am to 10:25 am (IST)
			</div>
			<p>The story for the future of parallelism in Ruby is looking pretty bleak. Matz just said at Euruko that it will be a while (years) before the notorious Global Interpreter Lock is gone.</p>
<p>So I've been on a journey to find a more modern replacement that gives me the same joy that I feel when I write Ruby. It turns out that with modern programming languages, it's actually not that hard to learn a new technology.</p>
<p>I've found some great candidates in Go, Elixir and a newcomer Crystal. I'll dig in and show you some code and you can decide if maybe, you too, want to enter Parallel World with me!</p>
		</div>
		<div class="col-sm-4">
			<div class="image-box" style="background-image:url({{ site.github_project_name }}/assets/images/speakers/aaron-cruz.jpg)"></div>
			<span class="name">Aaron Cruz</span>
            <span class="company"><a href="https://twitter.com/mraaroncruz" target="_blank"><i class="fa fa-twitter fa-fw"></i> @mraaroncruz</a></span>
			<hr />
            <div class="speaker-desc">
				Aaron lives in the suburbs of Vienna, Austria but is a native of the suburbs of Seattle. In his former life he was a shepherd, a cheesemaker and a sous chef. Now he is freelancing, building native iOS and Android apps and their respective API's. In his spare time, he organizes a range of user groups in Vienna. If you get him started talking about food, he may never stop.
			</div>
	    </div>
		</div>
      </div>
    </div>
  </div>
</div>
