<a href="#" data-toggle="modal" data-target="#aaronCruz">Duck! An interface love story - Aaron Cruz</a>

<div class="modal fade bs-example-modal-lg" id="aaronCruz" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-body">
		<button type="button" class="close pull-right" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <div class="rows clearfix">
		<div class="col-sm-8">
			<h2 class="modal-title" id="myModalLabel">Duck! An interface love story</h2>
			<div class="modal-desc">
				<i class="glyphicon glyphicon-calendar"></i> Friday 19th February, 2016 &nbsp;&nbsp;<i class="glyphicon glyphicon-time"></i> 10:10 am to 10:35 am (IST)
			</div>
			<p>80% of software development can be taken up by maintenance and this is where all your sins during early development will come back to bite you. Interfaces make change easier and can help to fight the maintenance burden.<br /><br />But if you want to learn how to use interfaces effectively in Go, you’re in for a lot of disappointment. The existing resources tell you a lot about what an interface is and how to use one, but they fall short in explaining the more important Why and When to use one.<br /><br />To learn this, you would need to spend hours digging through OOP design pattern books and reading hundreds of lines of Java, C++ or Objective-C code.<br /><br />It’s your lucky day! I have already done this for you.<br /><br />Come to this talk to gain a better understanding of when it make sense to grab in your toolbox for the interface. We will also look through some code to see how the Go masters are using them best. Let’s tell those ducks how to walk and how to talk.</p>
		</div>
		<div class="col-sm-4">
			<div class="image-box" style="background-image:url({{ site.github_project_name }}/images/speakers/aaron-cruz.jpg)"></div>
			<span class="name">Aaron Cruz</span>
            <span class="company"><a href="https://twitter.com/mraaroncruz" target="_blank"><i class="fa fa-twitter fa-fw"></i> @mraaroncruz</a></span>
			<hr />
            <div class="speaker-desc">
				Aaron lives in the suburbs of Vienna, Austria but is a native of the suburbs of Seattle. In his former life he was a shepherd, a cheesemaker and a sous chef. Now he is freelancing, building native iOS and Android apps and their respective API's. In his spare time, he organizes a range of user groups in Vienna. If you get him started talking about food, he may never stop. He <a href="https://sourcegraph.com/blog/live/gopherconindia/111535062177" target="_blank">spoke</a> at GopherConIndia 2015.
			</div>
	    </div>
		</div>
      </div>
    </div>
  </div>
</div>
