<a href="#" data-toggle="modal" data-target="#aditya">The Hidden Power of Humble Interfaces - Aditya Mukerjee</a>

<div class="modal fade bs-example-modal-lg" id="aditya" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-body">
		<button type="button" class="close pull-right" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <div class="rows clearfix">
		<div class="col-sm-8">
			<h2 class="modal-title" id="myModalLabel">The Hidden Power of Humble Interfaces</h2>
			<div class="modal-desc">
				<i class="glyphicon glyphicon-calendar"></i> Friday 19th February, 2016 &nbsp;&nbsp;<i class="glyphicon glyphicon-time"></i> 9:45 am to 10:10 am (IST)
			</div>
			<p>Are you using interfaces effectively? Interfaces are one of the most powerful language features that Go provides, yet Go programmers often under-utilize existing interfaces in their code. Even many advanced Gophers rarely write their own interfaces, or write interfaces that are less powerful than they could be.<br /><br />This talk provides a behind-the-scenes look at the two most ubiquitous interfaces of them all: the humble "io.Reader" and "error". These interfaces are simple in nature, yet hold the key to writing powerful code. In this talk, we will learn how to design our own interfaces in Go that are simple yet powerful – just like "io.Reader" and "error". We will learn how to correctly identify the places where writing interfaces will improve our code, and the specific steps to ensuring that our interfaces - and therefore our programs - are as powerful as they can be.</p>
		</div>
		<div class="col-sm-4">
			<div class="image-box" style="background-image:url({{ site.github_project_name }}/images/speakers/aditya.jpg)"></div>
			<span class="name">Aditya Mukerjee</span>
            <span class="company"><a href="https://twitter.com/chimeracoder" target="_blank"><i class="fa fa-twitter fa-fw"></i> @chimeracoder</a></span>
			<hr />
            <div class="speaker-desc">
				Aditya is an engineer at Stripe and has been a full-time Go developer since 2012. He is the main developer for gitgo, a pure Go implementation of Git; Anaconda, the Twitter client library for Go; and gojson, a tool for generating Go struct definitions from JSON. He has also contributed to a number of Go projects, big and small, ranging from Goat, a bittorrent tracker, to the Go project itself.<br /><br />Aditya studied statistics at Columbia and computer science at Cornell, and spends his free time playing German-style board games and listening to embarrassing music.
			</div>
	    </div>
		</div>
      </div>
    </div>
  </div>
</div>
