<a href="#" data-toggle="modal" data-target="#lim">Gopher Tricks in Production - Audrey Lim</a>

<div class="modal fade bs-example-modal-lg" id="lim" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-body">
		<button type="button" class="close pull-right" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <div class="rows clearfix">
		<div class="col-sm-8">
			<h2 class="modal-title" id="myModalLabel">Gopher Tricks in Production</h2>
			<div class="modal-desc">
				<i class="glyphicon glyphicon-calendar"></i> Saturday 20th February, 2016 &nbsp;&nbsp;<i class="glyphicon glyphicon-time"></i> 11:25 am to 11:50 am (IST)
			</div>
			<p>Go's simplicity belies some powerful and unique language features. Let's delve into how some of these unique features can be applied effectively in production.</p>
		</div>
		<div class="col-sm-4">
			<div class="image-box" style="background-image:url({{ site.github_project_name }}/images/speakers/audrey-lim.jpg)"></div>
			<span class="name">Audrey Lim</span>
            <span class="company"><a href="https://twitter.com/audreylim77" target="_blank"><i class="fa fa-twitter fa-fw"></i> @audreylim77</a></span>
			<hr />
            <div class="speaker-desc">A former lawyer and a self-taught programmer from the beautiful city of Singapore, Audrey became interested in the world of programming and computer science. She picked up front-end programming in April 2014 before learning Go as her first backend language in July 2014. She's since moved to programming full-time as her career at Nitrous.IO in SFO, USA.</div>
	    </div>
		</div>
      </div>
    </div>
  </div>
</div>
