<a href="#" data-toggle="modal" data-target="#baiju">Web development using Go and Ember.js - Baiju Muthukadan</a>

<div class="modal fade bs-example-modal-lg" id="baiju" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-body">
		<button type="button" class="close pull-right" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <div class="rows clearfix">
		<div class="col-sm-8">
			<h2 class="modal-title" id="myModalLabel">Web development using Go and Ember.js</h2>
			<div class="modal-desc">
				<i class="glyphicon glyphicon-calendar"></i> Friday 20th February, 2015 &nbsp;&nbsp;<i class="glyphicon glyphicon-time"></i> 2:15 pm to 2:40 pm (IST)
			</div>
			<p>This talk will give an introduction to web application development using Go and Ember.js The talk will cover database connectivity (PostgreSQL), token based authentication and web related libraries like Negroni and Gorilla mux. I have an example application developed here: <a href="https://github.com/baijum/pitracker" target="_blank">https://github.com/baijum/pitracker</a></p>
		</div>
		<div class="col-sm-4">
			<div class="image-box" style="background-image:url({{ site.github_project_name }}/images/speakers/baiju-muthukadan.jpg)"></div>
			<span class="name">Baiju Muthukadan</span>
            <span class="company"><a href="https://twitter.com/baijum" target="_blank"><i class="fa fa-twitter fa-fw"></i> @baijum</a></span>
			<hr />
            <div class="speaker-desc">Baiju Muthukadan is a Technical Architect at ZeOmega, Bangalore. He was a contributor to Zope project from 2006 to 2010. He founded the Swathanthra Malayalam Computing project in 2001 while studying at REC, Calicut. He was also employed by FSF India in 2002-2003. Baiju has conducted many Python related talks and workshops in various parts of India including FOSS.IN. During PyCON India 2013, he received the first <a href="http://in.pycon.org/blog/baijum-first-kenneth-gonsalves-award-recipient" target="_blank">Kenneth Gonsalves Award</a>.
			</div>
	    </div>
		</div>
      </div>
    </div>
  </div>
</div>
