<a href="#" data-toggle="modal" data-target="#changSau">Programming Complexity - Chang Sau Sheong</a>

<div class="modal fade bs-example-modal-lg" id="changSau" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-body">
		<button type="button" class="close pull-right" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <div class="rows clearfix">
		<div class="col-sm-8">
			<h2 class="modal-title" id="myModalLabel">Programming Complexity</h2>
			<div class="modal-desc">
				<i class="glyphicon glyphicon-calendar"></i> Saturday 20th February, 2016 &nbsp;&nbsp;<i class="glyphicon glyphicon-time"></i> 10:10 am to 10:35 am (IST)
			</div>
			<p>Complexity science is the study of complex systems, systems with many parts that interact to produce global behaviour that cannot easily be explained in terms of interactions between the individual parts. Complexity science includes many different areas of study, including game theory, emergence, network science and others. This is a basic talk that provide a sample of ideas in complexity science, and dives into a couple of well-known areas using agent-based modeling.</p>
		</div>
		<div class="col-sm-4">
		
			<div class="image-box" style="background-image:url({{ site.github_project_name }}/images/speakers/sau-sheong-chang.jpg)"></div>
			<span class="name">Sau Sheong Chang</span>
            <span class="company"><a href="//twitter.com/sausheong" target="_blank"><i class="fa fa-twitter fa-fw"></i> @sausheong</a></span>
			<hr />
            <div class="speaker-desc">Sau Sheong Chang is the Director of Global Consumer Engineering for PayPal, managing teams that deliver consumer-focused products for PayPal. Previously, he was the Director of HP Labs Singapore, responsible for managing a team of research scientists and engineers focusing on researching and developing cloud computing and Big Data technologies for HP. Before joining HP, he was the Chief Technology Officer for Garena and Director of Engineering for Yahoo! Southeast Asia. Sau Sheong has been doing software development for 20 years, mostly in web application development. He is active in the Ruby and Go developer communities have have contributed to open source projects and spoke at meetups and conferences. Sau Sheong has also published 3 programming-related books, mostly on Ruby and is working on a 4th book titled "Go Web Programming".</div>
	    </div>
		</div>
      </div>
    </div>
  </div>
</div>
