<a href="#" data-toggle="modal" data-target="#cory">Closing Keynote: The Go Community - Cory LaNou</a>

<div class="modal fade bs-example-modal-lg" id="cory" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-body">
		<button type="button" class="close pull-right" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <div class="rows clearfix">
		<div class="col-sm-8">
			<h2 class="modal-title" id="myModalLabel">Closing Keynote: The Go Community</h2>
			<div class="modal-desc">
				<i class="glyphicon glyphicon-calendar"></i> Saturday 20th February, 2016 &nbsp;&nbsp;<i class="glyphicon glyphicon-time"></i> 3:40 pm to 4:25 pm (IST)
			</div>
			<p>In this talk I will share my experience with the Go community, and how Go's language design has had direct impact on the shape of the communities, both online and offline. I will talk about how I have benefited by being part of the community, as well as how to give back.</p>
		</div>
		<div class="col-sm-4">

		<div class="image-box" style="background-image:url({{ site.github_project_name }}/images/speakers/cory.jpg)"></div>
		<span class="name">Cory LaNou</span>
                <span class="company"><a href="https://twitter.com/corylanou" target="_blank"><i class="fa fa-twitter fa-fw"></i> @corylanou</a></span>
		<hr />
                <div class="speaker-desc">Cory LaNou is a full stack web developer and entrepreneur with over 17 years of experience. After 11 years of being a successful serial entrepreneur, he has joined the <a href="https://influxdata.com/" target="_blank">InfluxDB team</a>, working on building an open source time series database, written in Go. He is active in the Go community, leading the <a href="http://www.meetup.com/Denver-Go-Language-User-Group/" target="_blank">Denver Gophers</a> meetup, as well as mentoring students in his free time. Prior to joining InfluxDB, Cory was with gSchool, Galvanize, SupportLocal, LocalLaunch, Pulsity and Computer Discount Warehouse.</div>
	    </div>
		</div>
      </div>
    </div>
  </div>
</div>
