<a href="#" data-toggle="modal" data-target="#dushyant">Comparative Analysis of Automation Frameworks (Testing) - Dushyant Bhalgami</a>

<div class="modal fade bs-example-modal-lg" id="dushyant" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-body">
		<button type="button" class="close pull-right" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <div class="rows clearfix">
		<div class="col-sm-8">
			<h2 class="modal-title" id="myModalLabel">Comparative Analysis of Automation Frameworks (Testing)</h2>
			<div class="modal-desc">
				<i class="glyphicon glyphicon-calendar"></i> Friday 19th February, 2016 &nbsp;&nbsp;<i class="glyphicon glyphicon-time"></i> 4:05 pm to 4:30 pm (IST)
			</div>
			<p>The talk will include usage and benefits of different Automation and Performance Testing Frameworks. I will also include a comparative analysis of frameworks built using GoLang v/s other languages.</p>
		</div>
		<div class="col-sm-4">
			<div class="image-box" style="background-image:url({{ site.github_project_name }}/images/speakers/dushyant.jpg)"></div>
			<span class="name">Dushyant Bhalgami</span>
            <span class="company"><a href="https://twitter.com/autoMate_" target="_blank"><i class="fa fa-twitter fa-fw"></i> @autoMate_</a></span>
			<hr />
            <div class="speaker-desc">
				Dushyant is QA Automation expert with 8+ years of experience. Java, Ruby, GoLang, NodeJS are few of the names from his list of technical skill set. He has successfully helped the organizations like QuickOffice (aquired by Google), CloudOn (aquired by DropBox), Prezi to make their products bug-free and most-optimized in a way to cater millions of users. He is an active member of "The Document Foundation" and has presented a talk in LibreOffice Conference at Bern, Switzerland in 2014. He spends his free time learning new technologies, playing Counter-Strike and watching movies.
			</div>
	    </div>
		</div>
      </div>
    </div>
  </div>
</div>
