<a href="#" data-toggle="modal" data-target="#gabrielAszalos">Testing in Go - Gabriel Aszalos</a>

<div class="modal fade bs-example-modal-lg" id="gabrielAszalos" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-body">
		<button type="button" class="close pull-right" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <div class="rows clearfix">
		<div class="col-sm-8">
			<h2 class="modal-title" id="myModalLabel">Testing in Go</h2>
			<div class="modal-desc">
				<i class="glyphicon glyphicon-calendar"></i> Friday 19th February, 2016 &nbsp;&nbsp;<i class="glyphicon glyphicon-time"></i> 3:40 pm to 4:05 pm (IST)
			</div>
			<p>This talk is intended for people interested in the topic of testing Go programs. It will provide an introduction to testing concepts in general, as well as specific to Go. Attendees will learn about common testing techniques, such as mocking interfaces and functions, as well as tips and tricks when using the "testing" package from the standard library.</p>
		</div>
		<div class="col-sm-4">
			<div class="image-box" style="background-image:url({{ site.github_project_name }}/images/speakers/gabriel-aszalos.jpg)"></div>
			<span class="name">Gabriel Aszalos</span>
            <span class="company"><a href="https://twitter.com/gabrielaszalos" target="_blank"><i class="fa fa-twitter fa-fw"></i> @gabrielaszalos</a></span>
			<hr />
            <div class="speaker-desc">
				Gabriel has been programming since the early 90s, starting out with Pascal and C which are still two of his favorite languages to day. Soon thereafter, he started exploring the web development world with various languages and eventually became specialized in JavaScript. When Go was released, it revived his passion for programming and he was instantly hooked. Go was the perfect combination of his favorite programming languages from the past. During his career, Gabriel worked on a contractual basis for various companies in Romania, Denmark, United Kingdom and the USA.

			</div>
	    </div>
		</div>
      </div>
    </div>
  </div>
</div>
