<a href="#" data-toggle="modal" data-target="#hana">Writing Mobile App Libraries in Go - Hana Kim</a>

<div class="modal fade bs-example-modal-lg" id="hana" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-body">
		<button type="button" class="close pull-right" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <div class="rows clearfix">
		<div class="col-sm-8">
			<h2 class="modal-title" id="myModalLabel">Writing Mobile App Libraries in Go</h2>
			<div class="modal-desc">
				<i class="glyphicon glyphicon-calendar"></i> Friday 19th February, 2016 &nbsp;&nbsp;<i class="glyphicon glyphicon-time"></i> 11:25 am to 11:50 am (IST)
			</div>
			<p>The <a href="https://godoc.org/golang.org/x/mobile" target="_blank">golang.org/x/mobile</a> repository offers tools and packages that aid Go mobile app development. In this talk, I will present the 'gobind' and 'gomobile bind' tools that turn a Go package into a library for mobile apps. I will demonstrate how to use the tools and also discuss technical challenges behind their development.</p>
		</div>
		<div class="col-sm-4">
			<div class="image-box" style="background-image:url({{ site.github_project_name }}/images/speakers/hana-kim.jpg)"></div>
			<span class="name">Hana Kim</span>
            <span class="company"><a href="https://twitter.com/belbaoverhill" target="_blank"><i class="fa fa-twitter fa-fw"></i> @belbaoverhill</a></span>
			<hr />
            <div class="speaker-desc">
				Hana Kim is a software engineer on the Go team at Google and working on the Go mobile project. Before joining the project, she worked on various internal Google projects for distributed tracing, large-scale cluster monitoring and alerting technologies, and google-wide Go process performance monitoring and debugging.
			</div>
	    </div>
		</div>
      </div>
    </div>
  </div>
</div>
