<a href="#" data-toggle="modal" data-target="#jasonMoiron">Go Faster: Optimising Go Programs - Jason Moiron</a>

<div class="modal fade bs-example-modal-lg" id="jasonMoiron" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-body">
		<button type="button" class="close pull-right" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <div class="rows clearfix">
		<div class="col-sm-8">
			<h2 class="modal-title" id="myModalLabel">Go Faster: Optimising Go Programs</h2>
			<div class="modal-desc">
				<i class="glyphicon glyphicon-calendar"></i> Friday 20th February, 2015 &nbsp;&nbsp;<i class="glyphicon glyphicon-time"></i> 1:00 pm to 1:25 pm (IST)
			</div>
			<p>This 25-minute english-language talk will be an exploration in various optimisation techniques we have attempted at DataDog in the past year of using Go in production. It will cover things like use of the Go profiler, the go test benchmarks, runtime behavior, cgo, compiler optimisation/inlining, go's asm support, and some implementation details for maps, channels, the runtime and the select statement. It's intended for intermediate to experienced gophers, although beginners who are more or less familiar with the language features will certainly be able to follow along.</p>
			<p>Though much of the talk is about optimising at a low level, there will be an exploration of how to structure programs to make them easier to profile, reason about, and optimise. There will be benchmarks as well as exploration of the behavior of the underlying code explaining their results. This will not stray too far into the philosophy of composition; it will be mostly technical, with only a few unremarkable but important overarching points. People should hopefully come away with understanding something new about the implementation of the Go language itself, how it impacts the runtime speed of Go programs, and perhaps how these might change in future.</p>
            <p>Some of the material I plan to present will be similar to that covered in my "<a href="http://jmoiron.net/blog/go-performance-tales" target="_blank">Go Performance Tales</a>" and "<a href="http://jmoiron.net/blog/whats-going-on/" target="_blank">What's Going On</a>" blog posts, but updated with new insights or details.</p>
		</div>
		<div class="col-sm-4">
			<div class="image-box" style="background-image:url({{ site.github_project_name }}/images/speakers/jason-moiron.jpg)"></div>
			<span class="name">Jason Moiron</span>
            <span class="company"><a href="https://twitter.com/jmoiron" target="_blank"><i class="fa fa-twitter fa-fw"></i> @jmoiron</a></span>
			<hr />
            <div class="speaker-desc">
				Jason is an engineer at Datadog, a saas monitoring service for IT and operations teams based in New York City. There, he uses Go to write data pipeline services that process thousands of companies monitoring and statistics data. He writes frequently about Go at <a href="http://jmoiron.net/" target="_blank">his blog</a>, and contributes to a number of open source projects including sqlx, modl, and jsonq.
			</div>
	    </div>
		</div>
      </div>
    </div>
  </div>
</div>
