<a href="#" data-toggle="modal" data-target="#karthic">Perform better - Using Golang benchmark and profiling in everyday coding to make you optimize your code  - Karthic Rao</a>

<div class="modal fade bs-example-modal-lg" id="karthic" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-body">
		<button type="button" class="close pull-right" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <div class="rows clearfix">
		<div class="col-sm-8">
			<h2 class="modal-title" id="myModalLabel">Perform better - Using Golang benchmark and profiling in everyday coding to make you optimize your code </h2>
			<div class="modal-desc">
				<i class="glyphicon glyphicon-calendar"></i> Friday 19th February, 2016 &nbsp;&nbsp;<i class="glyphicon glyphicon-time"></i> 1:40 pm to 2:05 pm (IST)
			</div>
			<p>There are various  scenarios where programmers find  it difficult to make a choice based on performance of code. Scenarios like, whether to choose Data structure A or B ?? Or logic A performs better than logic B ?? Is it better to Unmarshal the post body request into a map or into a struct ?? Or Need to tune the code for performance benefits ? Dont worry, with Go Benchmark and profiling it's really easy. Explore the ease of use of Go Benchmarks and profiling in everyday Golang coding to make your code perform better.</p>
		</div>
		<div class="col-sm-4">
			<div class="image-box" style="background-image:url({{ site.github_project_name }}/images/speakers/karthic.jpg)"></div>
			<span class="name">Karthic Rao</span>
            <span class="company"><a href="https://twitter.com/hackintoshrao" target="_blank"><i class="fa fa-twitter fa-fw"></i> @hackintoshrao</a></span>
			<hr />
            <div class="speaker-desc">
				Karthic is a passionate programmer, keyboardist and a foss activist. He's the founding engineer of the Santa Clara based startup called Adori Labs. He primarily works on Full Stack Development of the product with Golang as the webserver stack. In the meantime, he performs for various bands as a keyboardist, writes tech blogs, speaks at various engineering institutions across the state related to different Open Source and Foss technologies and gets involved with various communities as part of the Free Software Movement Karnataka (FSMK).
			</div>
	    </div>
		</div>
      </div>
    </div>
  </div>
</div>

