<a href="#" data-toggle="modal" data-target="#khosrow">Stream Processing Using Go - Khosrow Afroozeh</a>

<div class="modal fade bs-example-modal-lg" id="khosrow" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-body">
		<button type="button" class="close pull-right" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <div class="rows clearfix">
		<div class="col-sm-8">
			<h2 class="modal-title" id="myModalLabel">Stream Processing Using Go</h2>
			<div class="modal-desc">
				<i class="glyphicon glyphicon-calendar"></i> Saturday 20th February, 2016 &nbsp;&nbsp;<i class="glyphicon glyphicon-time"></i> 2:05 pm to 2:30 pm (IST)
			</div>
			<p>We have been hard at work in Aerospike to build our own service platform in Go. In addition to building the platform around a micro-service architecture, we have built quite a lot of infrastructure using Go. In this talk, I'll discuss how we have used Go's abstraction idioms via channels and interfaces to build a flexible engine to allow general purpose data processing and reporting for a nosql database.</p>
		</div>
		<div class="col-sm-4">
			<div class="image-box" style="background-image:url({{ site.github_project_name }}/images/speakers/khosrow-afroozeh.jpg)"></div>
			<span class="name">Khosrow Afroozeh</span>
            <span class="company"><a href="https://twitter.com/parshua" target="_blank"><i class="fa fa-twitter fa-fw"></i> @parshua</a></span>
			<hr />
            <div class="speaker-desc">
				Khosrow is a member of the engineering team at Aerospike. He holds a Master's degree in Computer Science, and his interests include Photography, Distributed Systems, Programming Languages and Compilers, Computer Vision, Artificial Intelligence and converting Coffee to code.
			</div>
	    </div>
		</div>
      </div>
    </div>
  </div>
</div>
