<a href="#" data-toggle="modal" data-target="#marcel">Handling Real-World Text in Go - Marcel van Lohuizen</a>

<div class="modal fade bs-example-modal-lg" id="marcel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-body">
		<button type="button" class="close pull-right" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <div class="rows clearfix">
		<div class="col-sm-8">
			<h2 class="modal-title" id="myModalLabel">Handling Real-World Text in Go</h2>
			<div class="modal-desc">
				<i class="glyphicon glyphicon-calendar"></i> Saturday 20th February, 2016 &nbsp;&nbsp;<i class="glyphicon glyphicon-time"></i> 11:00 am to 11:25 am (IST)
			</div>
			<p>As the world is getting increasingly global, applications need to handle an increasingly large number of human languages. Internationalization support in Go has been designed to optimize the typical Go server use case, meaning static binaries, streaming text handling, and multiple users. I will show some of the key features of Go's internationalization support and how to use it in your applications.</p>
		</div>
		<div class="col-sm-4">
			<div class="image-box" style="background-image:url({{ site.github_project_name }}/images/speakers/marcel.jpg)"></div>
			<span class="name">Marcel van Lohuizen</span>
            <!--<span class="company"><a href="https://twitter.com/gabrielaszalos" target="_blank"><i class="fa fa-twitter fa-fw"></i> @gabrielaszalos</a></span>-->
			<hr />
            <div class="speaker-desc">Marcel van Lohuizen is a longtime Googler who works on the Go team, where he now focuses on expanding Go's text processing capabilities. With a background in natural language processing, he started at Google on the search team. Here, among other things, he worked on a deployment system, which segued into his involvement in the development of Borg, Google's large-scale cluster manager. After his move to Zürich he helped grow the local office and went on a multi-year management stint. He ultimately reunited with some old colleagues on the Go team.</div>
	    </div>
		</div>
      </div>
    </div>
  </div>
</div>
