<a href="#" data-toggle="modal" data-target="#markbates">Fighting the FUD - Mark Bates</a>

<div class="modal fade bs-example-modal-lg" id="markbates" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-body">
		<button type="button" class="close pull-right" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <div class="rows clearfix">
		<div class="col-sm-8">
			<h2 class="modal-title" id="myModalLabel">Fighting the FUD</h2>
			<div class="modal-desc">
				<i class="glyphicon glyphicon-calendar"></i> Friday 19th February, 2016 &nbsp;&nbsp;<i class="glyphicon glyphicon-time"></i> 11:00 am to 11:25 am (IST)
			</div>
			<p>Go is picking up a lot of steam these days, but yet your company and/or client still isn't using it. How do you convince others that Go is the right tool for the job?<br /><br />In this talk we'll look how you can sell Go to your boss, clients, and fellow co-workers. I'll give you all the ammunition you need to make a convincing argument for this powerful language, and how to respond to the usual FUD arguments you get. I'll also let you in on some "sneaky" ways to get Go into your business.<br /><br />By the end of this talk you’ll be a full fledged Go advocate.</p>
		</div>
		<div class="col-sm-4">
			<div class="image-box" style="background-image:url({{ site.github_project_name }}/images/speakers/mark-bates.jpg)"></div>
			<span class="name">Mark Bates</span>
            <span class="company"><a href="https://twitter.com/markbates" target="_blank"><i class="fa fa-twitter fa-fw"></i> @markbates</a></span>
			<hr />
            <div class="speaker-desc">
				Mark Bates is the founder and chief architect of the Boston, MA based consulting company, Meta42 Labs. Mark spends his days focusing on new application development and consulting for his clients. At night he writes books, raises kids, and occasionally he forms a band and "tries to make it". Mark is the author of three books, "Distributed Programming with Ruby" (2009), "Programming in CoffeeScript" (2012), and "Conquering the Command Line" (2014). He also runs the weekly Golang screencast site, <a href="http://www.metacasts.tv/" target="_blank">www.metacasts.tv</a>
			</div>
	    </div>
		</div>
      </div>
    </div>
  </div>
</div>
