<a href="#" data-toggle="modal" data-target="#martin">bleve - modern text indexing for Go - Martin Schoch</a>


<div class="modal fade bs-example-modal-lg" id="martin" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-body">
		<button type="button" class="close pull-right" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <div class="rows clearfix">
		<div class="col-sm-8">
			<h2 class="modal-title" id="myModalLabel">bleve - modern text indexing for Go</h2>
			<div class="modal-desc">
				<i class="glyphicon glyphicon-calendar"></i> Saturday 21st February, 2015 &nbsp;&nbsp;<i class="glyphicon glyphicon-time"></i> 10:30 am to 10:55 am (IST)
			</div>
			<p>
				Nearly every application today has a search component. But delivering high quality search results requires a long list of text analysis and indexing techniques. With the bleve library, we bring advanced text indexing and search to your Go applications.
			</p>
			<p>
This talk will start with a brief introduction to text search concepts. We’ll discuss the importance of choosing the right analyzer for your text. Then we’ll look at examples that demonstrate how to index your existing data model. Finally, we’ll look at how you can integrate advanced features, like result highlighting and faceting, to complete the user experience.
			</p>
		</div>
		<div class="col-sm-4">
			<div class="image-box" style="background-image:url({{ site.github_project_name }}/images/speakers/martin-schoch.jpg)"></div>
			<span class="name">Martin Schoch</span>
            <span class="company"><a href="//twitter.com/mschoch" target="_blank"><i class="fa fa-twitter fa-fw"></i> @mschoch</a></span>
			<hr />
            <div class="speaker-desc">
				Marty Schoch is a software engineer at Couchbase. As a part of the Couchbase Labs team, Marty has built many experimental projects in Go, contributing to its increased adoption inside Couchbase. The most successful of these projects was N1QL, an SQL-like query language for Couchbase Server. He is also a core contributor to the Go Couchbase SDK. Currently, Marty is leading development of <a href="http://www.blevesearch.com/" target="_blank">bleve</a>, a modern text indexing library for Go.
			</div>
	    </div>
		</div>
      </div>
    </div>
  </div>
</div>