<a href="#" data-toggle="modal" data-target="#Matthew">Cloud in your Cloud, how we build DigitalOcean - Matthew Campbell</a>

<div class="modal fade bs-example-modal-lg" id="Matthew" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-body">
		<button type="button" class="close pull-right" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <div class="rows clearfix">
		<div class="col-sm-8">
			<h2 class="modal-title" id="myModalLabel">Cloud in your Cloud, how we build DigitalOcean</h2>
			<div class="modal-desc">
				<i class="glyphicon glyphicon-calendar"></i> Saturday 20th February, 2015 &nbsp;&nbsp;<i class="glyphicon glyphicon-time"></i> 11:50 am to 12:15 pm (IST)
			</div>
			<p>How is the cloud built? We will go into detail how we write microservices that run the cloud at scale. With tens of the thousands of customers, and 10+ datacenters. We will talk about how we write, monitor and deploy the microservices that run the cloud you use.</p>
		</div>
		<div class="col-sm-4">
			<div class="image-box" style="background-image:url({{ site.github_project_name }}/images/speakers/matthew.campbell.png)"></div>
			<span class="name">Matthew Campbell</span>
            <span class="company"><a href="//twitter.com/kanwisher" target="_blank"><i class="fa fa-twitter fa-fw"></i> @kanwisher</a></span>
			<hr />
            <div class="speaker-desc">Matthew Campbell is a Microservices scalability expert at DigitalOcean where he builds the future of cloud services. He wrote a book called "Microservices in Go" for O'Reilly. He recently presented at GothamGO, Velocity NYC, and GopherCon India, and blogs at <a href="http://kanwisher.com/" target="_blank">kanwisher.com</a>. Matthew was a founder of Errplane and <a href="http://www.langfight.com/" target="_blank">Langfight</a>. In the past he worked at Thomson Reuters, Bloomberg, Gucci, and Cartoon network.</div>
	    </div>
		</div>
      </div>
    </div>
  </div>
</div>
