<a href="#" data-toggle="modal" data-target="#piyush">Addressing Microservices architecture patterns with Gilmour - Piyush Verma</a>

<div class="modal fade bs-example-modal-lg" id="piyush" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-body">
		<button type="button" class="close pull-right" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <div class="rows clearfix">
		<div class="col-sm-8">
			<h2 class="modal-title" id="myModalLabel">Addressing Microservices architecture patterns with Gilmour</h2>
			<div class="modal-desc">
				<i class="glyphicon glyphicon-calendar"></i> Friday 19th February, 2016 &nbsp;&nbsp;<i class="glyphicon glyphicon-time"></i> 3:15 pm to 3:40 pm (IST)
			</div>
			<p>Microservices have rapidly evolved over the years as a popular way of developing applications. Let's explore the common characteristics and design patterns used while designing, developing, maintaining and governing distributed systems. We will also talk about common Unix philosophies and how we kept those in mind while we designed Gilmour: a framework to write and maintain effective microservices that exchange data over non-HTTP transports. Finally, we will go through some code samples demonstrating how Gilmour is used to address the above discussed design patterns.</p>
		</div>
		<div class="col-sm-4">
			<div class="image-box" style="background-image:url({{ site.github_project_name }}/images/speakers/piyush-verma.jpg)"></div>
			<span class="name">Piyush Verma</span>
            <span class="company"><a href="https://twitter.com/meson10" target="_blank"><i class="fa fa-twitter fa-fw"></i> @meson10</a></span>
			<hr />
            <div class="speaker-desc">Piyush Verma is a Platform and Infrastructure Engineer with Datascale.io. He is an ex-KDE developer and codes for Coffee and House music. He likes Multiprocessing, Distributed systems, APIs and automating everything. Previously, he created <a href="http://about.siminars.com/index.html" target="_blank">Siminars</a> and when not coding he can be found running or cycling around the town.
			</div>
	    </div>
		</div>
      </div>
    </div>
  </div>
</div>
