<a href="#" data-toggle="modal" data-target="#shobhit">Anatomy of constant lookup and autoloading in Rails - Prathamesh Sonpatki</a>

<div class="modal fade bs-example-modal-lg" id="shobhit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-body">
		<button type="button" class="close pull-right" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <div class="rows clearfix">
		<div class="col-sm-8">
			<h2 class="modal-title" id="myModalLabel">Anatomy of constant lookup and autoloading in Rails</h2>
			<div class="modal-desc">
				<i class="glyphicon glyphicon-calendar"></i> Saturday 19th March, 2016 &nbsp;&nbsp;<i class="glyphicon glyphicon-time"></i> 11:15 am to 11:40 am (IST)
			</div>
			<p>Constant lookup and autoloading is one of those topics from the list of "Look at all the things that I am not doing!" that Rails takes care of for us.</p><p>But how exactly it work? Are there any edge cases that one should know?</p><p>In this talk, I will discuss everything from constant lookup to how they are autoloaded by Rails. Bonus point - we will also see some of the edge cases of the autoloading feature, by dissecting the algorithm behind it.</p>
		</div>
		<div class="col-sm-4">
			<div class="image-box" style="background-image:url({{ site.github_project_name }}/assets/images/speakers/prathmesh.jpeg)"></div>
			<span class="name">Prathamesh Sonpatki</span>
            <span class="company"><a href="https://twitter.com/_cha1tanya/" target="_blank"><i class="fa fa-twitter fa-fw"></i> @_cha1tanya</a></span>
			<hr />
            <div class="speaker-desc">Prathamesh is a remote programmer for BigBinary based out of India. He builds web apps using Rails and React.js!. He is interested in open source and contributes to many Ruby and Rails related projects. He likes Emacs operating system a lot and can be found constantly tweaking his .emacs.d</div>
	    </div>
		</div>
      </div>
    </div>
  </div>
</div>
