<a href="#" data-toggle="modal" data-target="#rajesh">Cgo - Go under the hood - Rajesh Ramachandran</a>

<div class="modal fade bs-example-modal-lg" id="rajesh" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-body">
		<button type="button" class="close pull-right" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <div class="rows clearfix">
		<div class="col-sm-8">
			<h2 class="modal-title" id="myModalLabel">To be decided</h2>
			<div class="modal-desc">
				<i class="glyphicon glyphicon-calendar"></i> Friday 19th February, 2015 &nbsp;&nbsp;<i class="glyphicon glyphicon-time"></i> 3:45 pm to 4:10 pm (IST)
			</div>
			<p>To be decided.</p>
		</div>
		<div class="col-sm-4">
			<div class="image-box" style="background-image:url({{ site.github_project_name }}/images/speakers/rajesh-ramachandran.jpg)"></div>
			<span class="name">Rajesh Ramachandran</span>
            <!--<span class="company"><a href="https://twitter.com/gabrielaszalos" target="_blank"><i class="fa fa-twitter fa-fw"></i> @gabrielaszalos</a></span>-->
			<hr />
            <div class="speaker-desc">
				Rajesh heads the dynamic group of software professionals of the Real Image Software Division, Chennai. Rajesh comes to Real Image from InstallShield, Chicago where he was architecting software installation technologies and tools. He also led the development teams of two of InstallShield's leading products. Prior to that, Rajesh worked at Sapura, Kuala Lumpur where he was involved in creating a rapid application development tool for the Macintosh and Windows platforms. Rajesh is also a member of the faculty at DevelopMentor, a component software think tank based in Los Angeles where he trained software professionals on component software topics. Currently Rajesh and his team are developing innovative products for the mass entertainment industries.
			</div>
	    </div>
		</div>
      </div>
    </div>
  </div>
</div>
