<a href="#" data-toggle="modal" data-target="#sathish">Exploiting Your Powerful Cloud Servers with GoLang's Concurrency - Sathish VJ</a>

<div class="modal fade bs-example-modal-lg" id="sathish" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-body">
		<button type="button" class="close pull-right" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <div class="rows clearfix">
		<div class="col-sm-8">
			<h2 class="modal-title" id="myModalLabel">Exploiting Your Powerful Cloud Servers with GoLang's Concurrency</h2>
			<div class="modal-desc">
			  <i class="glyphicon glyphicon-calendar"></i> Saturday 20th February, 2016 &nbsp;&nbsp;<i class="glyphicon glyphicon-time"></i> 12:15 pm to 12:40 pm (IST)
			</div>
			<p>As computer hardware becomes more powerful with multiple processors and the number of users who need to be served within fractions of a second multiply, individuals and companies wrongly assume that investing in costlier hardware will automatically provide greater throughput. Provisioning costly machines is not useful until your programming language and programs can utilize it. In this talk Sathish VJ will demonstrate with small code examples how Go can be used to fully exploit your provisioned hardware and thus deliver greater throughput to your end users.</p>
		</div>
		<div class="col-sm-4">
			<div class="image-box" style="background-image:url({{ site.github_project_name }}/images/speakers/sathish.jpg)"></div>
			<span class="name">Sathish VJ</span>
            <span class="company"><a href="https://twitter.com/sathishvj" target="_blank"><i class="fa fa-twitter fa-fw"></i> @sathishvj</a></span>
			<hr />
            <div class="speaker-desc">Sathish VJ is currently a software architect at a startup. His projects are typically full stack projects, and has been using Go as the primary backend language since he recognized it's significant advantages to development even while in its beta stages. He has been independently evangelizing Go at various forums including conducting workshops and training sessions as part of many technology forums.</div>
	    </div>
		</div>
      </div>
    </div>
  </div>
</div>
