<a href="#" data-toggle="modal" data-target="#shiju">Writing HTTP Middleware in Go - Shiju Varghese</a>

<div class="modal fade bs-example-modal-lg" id="shiju" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-body">
		<button type="button" class="close pull-right" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <div class="rows clearfix">
		<div class="col-sm-8">
			<h2 class="modal-title" id="myModalLabel">Writing HTTP Middleware in Go</h2>
			<div class="modal-desc">
				<i class="glyphicon glyphicon-calendar"></i> Friday 19th February, 2016 &nbsp;&nbsp;<i class="glyphicon glyphicon-time"></i> 2:05 pm to 2:30 pm (IST)
			</div>
			<p>The talk will introduce the concept of HTTP middleware, and will demonstrate how to use HTTP middleware in Go web applications. The talk will also demonstrate real-world usage of HTTP middleware in Go web applications using with third-party package "Negroni".</p>
		</div>
		<div class="col-sm-4">
			<div class="image-box" style="background-image:url({{ site.github_project_name }}/images/speakers/shiju-varghese.jpg)"></div>
			<span class="name">Shiju Varghese</span>
            <span class="company"><a href="https://twitter.com/shijucv" target="_blank"><i class="fa fa-twitter fa-fw"></i> @shijucv</a></span>
			<hr />
            <div class="speaker-desc">Shiju Varghese is a Solutions Architect focused on building highly scalable Cloud solutions with a special interest in APIs, Microservices, Containerized Apps and Distributed Systems. He currently specializes in Go, Google Cloud, Microsoft Azure and Docker. Shiju is passionate on building scalable backend systems and Microservices in Go. Before Go, he has extensively worked on .Net and Node.js stacks. He is a pragmatic minimalist, who focuses on real-world practices for architecting solutions.
			</div>
	    </div>
		</div>
      </div>
    </div>
  </div>
</div>
