<a href="#" data-toggle="modal" data-target="#shobhit">Hidden features in Ruby you may not know about - Shobhit Srivastava</a>

<div class="modal fade bs-example-modal-lg" id="shobhit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-body">
		<button type="button" class="close pull-right" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <div class="rows clearfix">
		<div class="col-sm-8">
			<h2 class="modal-title" id="myModalLabel">Ruby Alternatives</h2>
			<div class="modal-desc">
				<i class="glyphicon glyphicon-calendar"></i> Saturday 19th March, 2016 &nbsp;&nbsp;<i class="glyphicon glyphicon-time"></i> 10:25 am to 10:50 am (IST)
			</div>
			<p>How well do you know the language you're using? What if I tell you that even if you use it the whole day and every day it still can hide some tricks that you might not be aware of? I'd like to reveal some less or more known, but certainly interesting parts of Ruby to make you sure that you don't miss anything.</p>
		</div>
		<div class="col-sm-4">
			<div class="image-box" style="background-image:url({{ site.github_project_name }}/assets/images/speakers/aaron-cruz.jpg)"></div>
			<span class="name">Shobhit Srivastava</span>
            <span class="company"><a href="https://twitter.com/mraaroncruz" target="_blank"><i class="fa fa-twitter fa-fw"></i> @mraaroncruz</a></span>
			<hr />
            <div class="speaker-desc">
				Aaron lives in the suburbs of Vienna, Austria but is a native of the suburbs of Seattle. In his former life he was a shepherd, a cheesemaker and a sous chef. Now he is freelancing, building native iOS and Android apps and their respective API's. In his spare time, he organizes a range of user groups in Vienna. If you get him started talking about food, he may never stop.
			</div>
	    </div>
		</div>
      </div>
    </div>
  </div>
</div>
