<a href="#" data-toggle="modal" data-target="#siva">IPFS: The Permanent Web - Siva Chandran</a>

<div class="modal fade bs-example-modal-lg" id="siva" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-body">
		<button type="button" class="close pull-right" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <div class="rows clearfix">
		<div class="col-sm-8">
			<h2 class="modal-title" id="myModalLabel">IPFS: The Permanent Web</h2>
			<div class="modal-desc">
			  <i class="glyphicon glyphicon-calendar"></i> Saturday 20th February, 2016 &nbsp;&nbsp;<i class="glyphicon glyphicon-time"></i> 1:40 pm to 2:05 pm (IST)
			</div>
			<p>IPFS is a distribution protocol that enables the creation of completely distributed applications through content addressing. A very ambitious open source project in Go, IPFS adopts a peer-to-peer hypermedia protocol to protect against a single point of failure. This presentation aims to highlight the design and ideas of IPFS and also touches upon a real world use case.</p>
		</div>
		<div class="col-sm-4">
			<div class="image-box" style="background-image:url({{ site.github_project_name }}/images/speakers/siva.jpg)"></div>
			<span class="name">Siva Chandran</span>
            <!--<span class="company"><a href="https://twitter.com/sathishvj" target="_blank"><i class="fa fa-twitter fa-fw"></i> @sathishvj</a></span>-->
			<hr />
            <div class="speaker-desc">Siva is a software architect at Real Image Media Technologies. Starting off with embedded application development in C/C++ more than decade ago, he has contributed to open source projects such as GStreamer and log4cplus. Having gained extensive experience in digital cinema, back end development with Go is what has captured his imagination now.</div>
	    </div>
		</div>
      </div>
    </div>
  </div>
</div>
