<a href="#" data-toggle="modal" data-target="#smita">Go Build a Context Aware Distributed System - Smita Vijayakumar</a>

<div class="modal fade bs-example-modal-lg" id="smita" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-body">
		<button type="button" class="close pull-right" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <div class="rows clearfix">
		<div class="col-sm-8">
			<h2 class="modal-title" id="myModalLabel">Go Build a Context Aware Distributed System</h2>
			<div class="modal-desc">
				<i class="glyphicon glyphicon-calendar"></i> Saturday 20th February, 2016 &nbsp;&nbsp;<i class="glyphicon glyphicon-time"></i> 9:45 am to 10:10 am (IST)
			</div>
			<p>The talk will focus on Go's Context Library and its use in a fairly complex distributed system. Specifically, it will try explaining the need for context handling, how Go's context library helps implement the same, and how best it may be leveraged. A few real-world scenarios shall also be discussed.</p>
		</div>
		<div class="col-sm-4">
			<div class="image-box" style="background-image:url({{ site.github_project_name }}/images/speakers/smita.jpg)"></div>
			<span class="name">Smita Vijayakumar</span>
            <!--<span class="company"><a href="https://twitter.com/maria_fibonacci" target="_blank"><i class="fa fa-twitter fa-fw"></i> @maria_fibonacci</a></span>-->
			<hr />
            <div class="speaker-desc">Smita Vijayakumar graduated with a Masters in Computer Sciences under the guidance of Prof. Gagan Agrawal at The Ohio State University. Their work on resource management on cloud environments is published as a <a href="http://www.amazon.com/Resource-Accuracy-Management-Cloud-Environments/dp/3659308064" target="_blank">book</a>. Smita worked in the San Francisco bay area for networking giants before relocating to Bangalore. Presently at Exotel as an engineer, she developed interest in Go and is excited about exploring and applying this for efficient solutions to problems on hand at Exotel.</div>
	    </div>
		</div>
      </div>
    </div>
  </div>
</div>
