<a href="#" data-toggle="modal" data-target="#uttam">RESTful webservices in Golang - Uttam Gandhi</a>

<div class="modal fade bs-example-modal-lg" id="uttam" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-body">
		<button type="button" class="close pull-right" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <div class="rows clearfix">
		<div class="col-sm-8">
			<h2 class="modal-title" id="myModalLabel">RESTful webservices in Golang</h2>
			<div class="modal-desc">
			  <i class="glyphicon glyphicon-calendar"></i> Friday 19th February, 2016 &nbsp;&nbsp;<i class="glyphicon glyphicon-time"></i> 2:30 pm to 2:55 pm (IST)</div>
			<p>The talk will introduce RESTFul service, and will demonstrate how to create a web service in Go. The talk will also demonstrate securing and testing the web service.</p>
		</div>
		<div class="col-sm-4">
			<div class="image-box" style="background-image:url({{ site.github_project_name }}/images/speakers/uttam.jpg)"></div>
			<span class="name">Uttam Gandhi</span>
            <span class="company"><a href="https://twitter.com/UttamGandhi" target="_blank"><i class="fa fa-twitter fa-fw"></i> @UttamGandhi</a></span>
			<hr />
            <div class="speaker-desc">Uttam has over 12 years of experience as a software developer. He has experience in C, C++ and Python. He is currently employed as a Tech Lead at Synerzip, Pune. He has recent experience in  Go, Node.js, MongoDB and InfluxDB.
</div>
	    </div>
		</div>
      </div>
    </div>
  </div>
</div>
