<a href="#" data-toggle="modal" data-target="#vLopez">Building a Product with Go Mobile - Verónica López</a>

<div class="modal fade bs-example-modal-lg" id="vLopez" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-body">
		<button type="button" class="close pull-right" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <div class="rows clearfix">
		<div class="col-sm-8">
			<h2 class="modal-title" id="myModalLabel">Building a Product with Go Mobile</h2>
			<div class="modal-desc">
				<i class="glyphicon glyphicon-calendar"></i> Friday 19th February, 2016 &nbsp;&nbsp;<i class="glyphicon glyphicon-time"></i> 12:15 pm to 12:40 pm (IST)
			</div>
			<p>In this talk I'll share my experience building a real-life Android product with Go and Java from the ground up, focusing on the trade-offs that long time Android developers have to make, but also the concrete benefits that developers can find during the practical implementation, beyond the theoretical features and lang specs that Go developers are already familiar with.</p>
		</div>
		<div class="col-sm-4">
			<div class="image-box" style="background-image:url({{ site.github_project_name }}/images/speakers/veronica-lopez.jpg)"></div>
			<span class="name">Verónica López</span>
            <span class="company"><a href="https://twitter.com/maria_fibonacci" target="_blank"><i class="fa fa-twitter fa-fw"></i> @maria_fibonacci</a></span>
			<hr />
            <div class="speaker-desc">
				Verónica is a mobile and back-end developer currently working at Ardan Labs. Previously, she was a data structures researcher, the lead mobile developer of Mexico's tax collection service (SAT), and led the back-end team of an advertising digital agency, where she began using Go. She is also an Android instructor, a very active community member, and runs the Mexico City Go Meetup, which is the largest Go community in Latin America.</div>
	    </div>
		</div>
      </div>
    </div>
  </div>
</div>
