<a href="#" data-toggle="modal" data-target="#William">Opening Keynote: Mechanical sympathy - William Kennedy</a>

<div class="modal fade bs-example-modal-lg" id="William" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-body">
		<button type="button" class="close pull-right" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <div class="rows clearfix">
		<div class="col-sm-8">
			<h2 class="modal-title" id="myModalLabel">Opening Keynote: Mechanical sympathy</h2>
			<div class="modal-desc">
				<i class="glyphicon glyphicon-calendar"></i> Saturday 20th February, 2016 &nbsp;&nbsp;<i class="glyphicon glyphicon-time"></i> 9:00 am to 9:45 am (IST)
			</div>
			<p>Performance matters and Go delivers on performance. But performance is not enough, if it was everyone would write code in C. How has Go been designed to make programmers productive and at the same time write performant code? How does Go bring performance and productivity together in a programming language everyone can use. That is what we will explore in this talk.
</p>
		</div>
		<div class="col-sm-4">
			<div class="image-box" style="background-image:url({{ site.github_project_name }}/images/speakers/william.kennedy.jpg)"></div>
			<span class="name">William Kennedy</span>
            <span class="company"><a href="https://twitter.com/goinggodotnet" target="_blank"><i class="fa fa-twitter fa-fw"></i> @goinggodotnet</a></span>
			<hr />
            <div class="speaker-desc">William Kennedy is a managing partner at Ardan Studio in Miami, Florida, a mobile, web, and systems development company. He is also a co-author of the book Go in Action, the author of the blog <a href="http://www.goinggo.net/" target="_blank">GoingGo.Net</a>, and a founding member of GoBridge which is working to increase Go adoption through diversity. Bill is focused on Go education through his training company Ardan Labs. He can often be found talking at conferences and giving workshops both locally and over hangouts. He always finds time to work with individuals and groups who want to take their Go knowledge, blogging, and coding skills to the next level.
</div>
	    </div>
		</div>
      </div>
    </div>
  </div>
</div>
