<!-- Footer Section -->
<footer>
  <div class="container footer-container-padding">
    <div class="row">
      <div class="col-md-7">
        <ul class="list-inline">
          <li><a href="{{ site.github_project_name }}/#page-top">Home</a></li>
          <li class="footer-menu-divider">⋅</li>
          <li><a href="{{ site.github_project_name }}/#about">About</a></li>
          <!--<li class="footer-menu-divider">⋅</li>
          <li><a href="http://cfp.rubyconfindia.org/">Speaking</a></li>-->
          <li class="footer-menu-divider">⋅</li>
          <li><a href="{{ site.github_project_name }}/#sponsor">Sponsors</a></li>
          <li class="footer-menu-divider">⋅</li>
          <li><a href="{{ site.github_project_name }}/#contact">Contact</a></li>
          <li class="footer-menu-divider">⋅</li>
          <li><a href="{{ site.github_project_name }}/previous-conference/">Past Conferences</a></li>
        </ul>

        <p class="copyright text-muted small"> © 2014-2019, <a href="http://rubyconfindia.org/">RubyConfIndia.org</a> All Rights Reserved. </p>
      </div>
      <div class="col-md-5 ft-logo">
        <div class="col-md-6">
          <p class="copyright text-muted small">Conference Organized by</p><img src="{{ site.github_project_name }}/assets/images/emerging-logo.png" alt="Emerging Technology Trust" />
        </div>
        <div class="col-md-4">
    			<p class="copyright text-muted small">Website by</p><img src="{{ site.github_project_name }}/assets/images/emerging-logo.png" alt="Emerging Technology Trust" />
        </div>
      </div>

    </div>
    <br>
  </div>
</footer>

{% include js.html %}
