<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="robots" content="{{page.index}}index, {{page.follow}}follow" />
<meta name="description" content="The official site of RubyConfIndia. A Ruby programming language conference in India." />
<meta name="author" content="RubyConfIndia" />
<meta name="keywords" content=" ruby, rubyconf, rubyconfindia, conference, india" />
<meta name="p:domain_verify" content="465dc3baf27b0caa31c05aeab0c7c0ac" />
<meta name="google-site-verification" content="eytWUbBUrmEOY0zSaUfJre-1Aw_i0MOSJf18X2zNKlc" />
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="@rubyconfindia" />
<meta name="twitter:creator" content="@IndianGuru" />
<meta name="twitter:title" content="RubyConfIndia - RubyConf's Indian edition" />
<meta name="twitter:description" content="The Indian edition of the international Ruby programming language conference. It is organized annually on a not-for-profit basis by volunteers." />
<meta name="twitter:image" content="http://www.rubyconfindia.org/assets/images/logo.png" />

<!-- Facebook meta tags -->
<meta property="og:site_name" content="RubyConf India" />
<meta property="og:url" content="http://rubyconfindia.org/" />
<meta property="og:type" content="website" />
<meta property="og:title" content="RubyConfIndia - RubyConf's Indian edition" />
<meta property="og:description" content="The Indian edition of the international Ruby programming language conference. It is organized annually on a not-for-profit basis by volunteers." />
<meta property="og:image" content="http://www.rubyconfindia.org/assets/images/logo.png" />

<link rel="favicon" href="/favicon.ico">
<link rel="apple-touch-icon" href="/apple-touch-icon.png">

<!-- Bootstrap Core CSS -->
<link href="http://netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" type="text/css">

<!-- Fonts -->
<link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet" type="text/css">

<!-- Custom Theme CSS -->
<link href="{{ site.github_project_name }}/assets/css/main.css" rel="stylesheet">
<link href="{{ site.github_project_name }}/assets/css/style-guide.css" rel="stylesheet">
<link href="{{ site.github_project_name }}/assets/css/override-bootstrap-responsive.css" rel="stylesheet">
