<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header page-scroll">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse"> <i class="fa fa-bars"></i> </button>
      <a class="navbar-brand" href="{{ site.github_project_name }}/#page-top">
        <span>RUBYCONF INDIA 2019</span> <br/>
        <span class="first-conf">The Indian edition of the RubyConf</span>
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
      <ul class="nav navbar-nav">

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">About  <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li class="page-scroll"><a href="{{ site.github_project_name }}/#about">About RubyConf</a></li>
            <li><a href="{{ site.github_project_name }}/code-of-conduct/">Code of Conduct</a></li>
            <li><a href="{{ site.github_project_name }}/faq/">FAQ</a></li>
            <li><a href="{{ site.github_project_name }}/staff-information/">Staff Information</a></li>
            <li><a href="{{ site.github_project_name }}/community-in-india/">Ruby Community in India</a></li>
            <li><a href="{{ site.github_project_name }}/previous-conference/">Past Conferences</a></li>
            <li class="page-scroll"><a href="{{ site.github_project_name }}/#contact">Contact</a></li>
          </ul>
        </li>
        <li class="page-scroll">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Events <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="{{ site.github_project_name }}/#speakers">Speakers</a></li>
          <!--  <li><a href="{{ site.github_project_name}}/program/">Program</a></li> -->
	    <!-- <li><a href="{{ site.github_project_name }}/talk-schedule/">Talk Schedule</a></li> -->
          </ul>
        </li>
        <li class="dropdown">
             <a href="#" class="dropdown-toggle" data-toggle="dropdown">Speaking <b class="caret"></b></a>
             <ul class="dropdown-menu">
             <li> <a href="https://www.papercall.io/rci19">Call For Proposals</a></li>
             </ul>
             </li>
        <li class="page-scroll">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Sponsorship<b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="{{ site.github_project_name }}/#sponsor">Sponsors</a></li>
            <li><a href="{{ site.github_project_name }}/#sponsor">Sponsorship Prospectus</a></li>
            <!-- <li><a href="{{ site.github_project_name
              }}/individuals">Individual Supporters</a></li> -->
          </ul>
        </li>

        <li>
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Venue <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="{{ site.github_project_name }}/venue/">Venue Map</a></li>
          </ul>
        </li>
        <li>
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Registration <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="https://www.townscript.com/e/rci19">Register</a></li>
          </ul>
        </li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container -->
</nav>
