<div class='gci-heading gci-heading-1'>Call for Proposal</div>

<p>The Talk CFP is now closed. We shall inform everyone who has submitted a proposal, whether his/her talk has been selected or not.</p>
<p>Thank you for the overwhelming response.</p>

<!--<p><b>GopherConIndia 2016</b>, taking place for the second time in India, is accepting all types of talk proposals <b>upto 11:59 pm IST on October 18th, 2015</b>. Due to the competitive nature of the selection process, we encourage prospective speakers to submit their proposals as early as possible. We're looking forward to receiving your best proposals for talks.</p>

<div class="give-talk-img"><a href="https://docs.google.com/forms/d/1anFUCY-kdy4mNSekaQeORyNoUNz6ODG2hMF-mJl6yfI/viewform" target="_blank"><img src="{{ site.github_project_name }}/images/submit-btn.png" alt="talk-image"></a></div>

<p>Please note the Talk Theme <b>"Real World Go Usage"</b>.</p>
<p>Anyone with any level of Go knowledge is a candidate for a great topic at this conference. As we will get attendees of all kinds, we need speakers of all kinds. In all ways and manners, we will try to assemble the most diverse conference we can, and we do that with your help.</p>
<p>These are the traditional talk sessions given during the main conference days, Friday through Saturday. All talks are <b>20 minutes long</b>.</p>
<p>As for the topic, that's up to you. We want something for everyone. We want the hot topics in the community right now. We also want the hot topics for the future. Where is Go going? You tell us. You're the people who make those decisions and we want to share them.</p>
<p>GopherConIndia is entirely volunteer-organized and run, and works hard to keep costs as low as possible.</p>

<p class="gci-bold">As such:</p>

<ul class="gci-unordered-list">
  <li><b>selected</b> speakers will have to spend on and make their own travel, boarding and lodging arrangements.</li>
  <li>there is <b>no talk remuneration</b> to any speaker whether he/she is an invited / selected foreign or Indian speaker.</li>
  <li>GopherAcademy, LLC will be sponsoring one deserving woman speaker to the conference. They will cover her economy class airfare and hotel cost while in India.</li>
</ul>

<p class="gci-bold">Finally do note that:</p>

<ul class="gci-unordered-list">
  <li>we are accepting only single participant talks.</li>
  <li>you can submit as many talk proposals as you want.</li>
  <li>we require all selected talks to comply wholly with our <a href="http://www.gophercon.in/code-of-conduct/" target="_blank">Code of Conduct</a> Policy. If you have any questions at all about this, don't hesitate to ask us at <a href="mailto:team@emergingtechs.in" target="_blank">team@emergingtechs.in</a>.</li>
  <li><b>every proposal submission will be responded to, whether or not the talk is accepted.</b></li>
  <li>all the speakers are picked based on their involvement in the community and contribution to Go and in no way reflects the bias towards any speakers. The speakers submit the application and is carefully reviewed by the board to approve them as speakers.</li>
  <li>if your talk is selected, we will need your:
    <ul>
      <li>draft presentation latest by 5th Jan. 2016 for review.</li>
      <li>talk slides latest by 31st Jan. 2016.</li>
    </ul>
  </li>
</ul>
<p>You don't need to be a well traveled professional speaker to get on stage at GopherConIndia. What matters is the topics, the material, and the drive to present great things to this community.</p>
<p>Whether or not your talk is accepted, if you submit a proposal, we'll reserve a ticket space for you. That means that if you're waiting to purchase a spot just in case your proposal is accepted, you don't need to worry. Even if the conference sells out and your proposals aren't accepted, you'll still have the chance to buy a GopherConIndia ticket.</p>-->

