<div class='gci-heading gci-heading-1'>Code of Conduct</div>

<div class='gci-heading gci-heading-2'>Short Version</div>

<p><b>RubyConfIndia</b>, is a community conference intended for networking and collaboration in the developer community. We value the participation of each member of the community and want all participants to have an enjoyable and fulfilling experience. We are committed to providing a safe environment for everyone regardless of gender, race, nationality, religion, disability, appearance or sexual orientation. Any misconduct by any participant during the course of the conference, at the venue or otherwise, will not be tolerated. Attendees violating these rules may be asked to leave the conference without a refund at the sole discretion of the conference organizers.</p>

<p>Thank you for helping make this a welcoming, friendly event for all.</p>

<p>At the outset, we assume that most people are intelligent and well-intended, and we are not inclined to tell people what to do. That said, we take issues of harassment very seriously. Let us be clear - we do not condone harassment or inappropriate behaviour, at our conferences or anywhere. It is counter to our values as an organization and a community; and more importantly, it is counter to our values as human beings.</p>

<p>We believe that a diverse community based on mutual respect is the base for a creative and productive environment enabling the success of this endeavour. It is our endeavour to provide a safe, unbiased and harassment-free environment to all members of the community so that they may achieve the above goals.</p>

<p>All communication should be appropriate for a professional audience and must be sufficiently inclusive of people from many different backgrounds.</p>

<p>Harassment and inappropriate behaviour can include (but is not limited to):</p>

<ul class="gci-unordered-list">
  <li>use of excessive swearing or abusive language.</li>
  <li>sustained disruption of talks or other presentations.</li>
  <li>making inappropriate or offensive jokes, insults or comments related to gender, sexual orientation, disability, physical appearance, body size, ethnicity or cultural background in verbal, graphic or written form.</li>
  <li>posting sexually explicit, racial or violent material in presentations or public spaces.</li>
  <li>posting (or threatening to post) other people's personally identifying information.</li>
  <li>inappropriate physical contact or unwelcome sexual attention.</li>
  <li>violent threats, intimidation, stalking, following, harassing photography/recording or personal insults directed against another person.</li>
  <li>repeated harassment of others.</li>
  <li>advocating for, or encouraging, any of the above behaviour.</li>
  <li>Exhibitors in the sponsor or vendor booths, or similar activities are also subject to the anti-harassment policy. In particular, exhibitors should not use sexualized images, activities, or other material. Booth staff (including volunteers) should not use sexualized clothing/uniforms/costumes, or otherwise create a sexualized environment.</li>
  <li>Attendees will be held responsible for any violation of the rules of the hotel in which the conference is being held (including, but not limited to damage of hotel property) and the hotel may take appropriate action against the participant; the conference organizers may not be held resposible for the same.</li>
</ul>

<p>Any such incidents reported to the conference organizers may be dealt with by actions ranging from warning the offender to desist from such behaviour to expulsion of the participant from the remainder of the conference without refund or rebate in any form.</p>

<p>We invite you to help us make this conference a place that is welcoming and respectful to all participants, so that everyone can focus on the conference itself and the great networking and community richness that can happen when we get together in person.</p>

<div class='gci-heading gci-heading-2'>Participant procedure for handling incidents</div>

<ul class="gci-unordered-list">
  <li>indicate to the person performing such actions that it is inappropriate and unacceptable.</li>
  <li>refrain from engaging the purported offender beyond the above warning.</li>
  <li>immediately bring the incident to the attention of the conference organizers (note: organizers will be wearing distinguishing clothing which will be announced during the welcome address).</li>
  <li>preferably provide all relevant details of the incident to the organizers in writing.</li>
  <li>refrain from posting incident online or any form of public shaming before the conference organizers have been given an opportunity to redress the matter.</li>
</ul>

<div class='gci-heading gci-heading-2'>Responsibility of Sponsors</div>

<p>Sponsors are afforded several privileges for their contribution to the event. We expect that the sponsors utilize these privileges with due responsibility by not using any inappropriate artwork or messaging on their promotional material displayed or handed out during the conference.</p>

<div class='gci-heading gci-heading-2'>Contact Information</div>

<div class="row">
  <div class="col-sm-2 staff">
    <img src="{{ site.github_project_name }}/images/staff/ajey-gore.jpg" alt="Ajey Gore" />
    <div class="title">Ajey Gore</div>
    <div class="twitter"><a href="https://twitter.com/AjeyGore" class="gci-link" target="_blank">@ajeygore</a></div>
    <div class="phone">+919764999768</div>
  </div>

  <div class="col-sm-2 staff">
    <img src="{{ site.github_project_name }}/images/staff/gautam-rege.jpeg" alt="Gautam Rege" />
    <div class="title">Gautam Rege</div>
    <div class="twitter"><a href="https://twitter.com/gautamrege" class="gci-link" target="_blank">@gautamrege</a></div>
    <div class="phone">+919881395656</div>
  </div>

  <div class="col-sm-2 staff">
    <img src="{{ site.github_project_name }}/images/staff/satish-talim.jpg" alt="Satish Talim" />
    <div class="title">Satish Talim</div>
    <div class="twitter"><a href="https://twitter.com/indianguru" class="gci-link" target="_blank">@indianguru</a></div>
    <div class="phone">+918087766880</div>
  </div>
</div>

<div style="height:80px;">&nbsp;</div>
