<div class='gci-heading gci-heading-1'>Ruby Community in India</div>

<p>Here are some of the Ruby meetup groups in India:</p>

<ul class="gci-unordered-list">
  <li><a href="https://www.meetup.com/Bangalore-Ruby-Users-Group/" target="_blank">Banglore Ruby Users Group</a></li>
  <li><a href="https://www.meetup.com/chennai-ruby/" target="_blank">Chennai Ruby Users Group</a></li>
  <li><a href="http://deccanrubyconf.org" target="_blank">Deccan Ruby Conf</a></li>
  <li><a href="https://www.meetup.com/delhi-ruby/" target="_blank">Delhi Ruby Users Group</a></li>
  <li><a href="https://www.meetup.com/Jaipur-rb-Ruby-Users-Group/" target="_blank">Jaipur Ruby Users Group</a></li>
  <li><a href="http://krug.github.io/" target="_blank">Kerala Ruby Users Group</a></li>
  <li><a href="https://www.meetup.com/MumbaiRB/" target="_blank">Mumbai Ruby Users Group</a></li>
  <li><a href="https://www.meetup.com/mysore-ruby-meetup/" target="_blank">Mysore Ruby Users Group</a></li>
  <li><a href="https://www.meetup.com/PuneRailsMeetup/" target="_blank">Pune Ruby Users Group</a></li>
  <li><a href="http://krug.github.io/posts/trivandrum-july" target="_blank">Trivandrum Ruby Users Group</a></li>
</ul>
