<div class='gci-heading gci-heading-1'>FAQ</div>
<div>

<p><a href="#1"><strong>Q. I had purchased a conference ticket but now my plan has changed. Will you refund my money?</strong></a></p>
<!--<p><a href="#2"><strong>Q. When is the pre-conference party?</strong></a></p>-->
<p><a href="#3"><strong>Q. Will we be able to tweet about all the Ruby awesomeness at the conference?</strong></a></p>
<p><a href="#4"><strong>Q. How many tracks will the talks be organized into?</strong></a></p>
<p><a href="#5"><strong>Q. What are the timings of the event?</strong></a></p>

<p id="1">&nbsp;</p>
<strong>Q. I had purchased a conference ticket but now my plan has changed. Will you refund my money?</strong>
<p>We had mentioned at the time of buying the ticket, that it is non-refundable. However, we will try and help you find buyers for your ticket.
Once you sell your ticket, do inform us the purchaser's name so that we can print the attendee badge in his/her name.</p>


<!--<p id="2">&nbsp;</p>
<strong id="2">Q. When is the pre-conference party?</strong>
<p>We are having a <a href="http://www.meetup.com/Golang-Bangalore/events/220026762/" target="_blank">pre-conference party</a> on Thursday, 19th February evening and EVERYONE's invited!</p>
-->
<p id="3">&nbsp;</p>
<strong id="3">Q. Will we be able to tweet about all the Ruby awesomeness at the conference?</strong>
<p>Of course you can! Just tag all your tweets <a href="https://twitter.com/search?q=%23RCI17" target="_blank">#RCI17</a>.</p>


<p id="4">&nbsp;</p>
<strong id="4">Q. How many tracks will the talks be organized into?</strong>
<p>We love going to conferences that don't make you choose between two great presentations. So we created RubyConfIndia as a single-track event that you don't want to miss and where everyone gets the opportunity to see the same talks. We think you'll enjoy the speakers we're lining up so much, you won't want to miss anyone of them.</p>


<p id="5">&nbsp;</p>
<strong id="5">Q. What are the timings of the event?</strong>
<p>Registrations will open at 8:00 am on Saturday, 28 January 2017 and day 1 will run upto 5:35 pm. The talks on
day 2 will start at 9:00 am and run upto 5:15 pm. This is subject to change.</p>


<p>&nbsp;</p>

</div>
