<div class='gci-heading gci-heading-1'>AirBnB Benefits</div>
<div>
	 <div class="col-md-2">
         <a href="https://www.airbnb.co.in/events/gopherconindia?af=3330229&c=Gopher&alsm=1" target="_blank">
             <img alt="airbnb" src="{{ site.github_project_name }}/images/supporter/airbnb.png" class="image-responsive" /></a>

     </div>
	 <div class="col-md-10">
	  <p>
		AirBnB is a trusted community marketplace for people to list, discover, and
		book unique accommodations around the world. And they are providing attractive discount of <strong>Rs. 1500</strong> for anyone who books a place
		in Bengaluru during the event period! And if you're from Bengaluru and have a spare room, you can also make some new friends
		by listing your space on AirBnB. More details on <a href="https://www.airbnb.co.in/events/gopherconindia?af=3330229&c=Gopher&alsm=1" target="_blank">AirBnB's website</a>.
		</p>
		<p>&nbsp;</p>
	 </div>
</div>



<div class='gci-heading gci-heading-1'>Nearby Hotels</div>
<p>Listed below are the hotels near to our venue Royal Orchid. It will be a short auto-rickshaw ride away.</p>
<p>When you complete your registration for GopherConIndia 2015, do book your hotel reservation.</p>
<ul class="gci-unordered-list">
  <li><a href="https://www.google.com/maps/search/hotel+near++domlur+bangalore/@12.961622,77.6356204,15z/data=!3m1!4b1" target="_blank">Hotels listed by Google Maps</a></li>
  <li><a href="https://www.airbnb.com/" target="_blank">Apartments and Rooms</a></li>
  <li><a href="http://www.apollogreens.in/" target="_blank">Apollo Greens Service Apartments</a></li>
  <li><a href="http://www.tripadvisor.in/Hotel_Review-g297628-d734816-Reviews-Hotel_Empire_International_Koramangala-Bangalore_Karnataka.html" target="_blank">Hotel Empire International, Koramangala</a></li>
  <li><a href="http://www.tripadvisor.in/Hotel_Review-g297628-d2339446-Reviews-Ibis_Bengaluru_Hosur_Road-Bangalore_Karnataka.html" target="_blank">Ibis Bengaluru Hosur Road</a></li>
  <li><a href="http://www.tripadvisor.in/Hotel_Review-g297628-d4173405-Reviews-Ginger_Bangalore_Inner_Ring_Road-Bangalore_Karnataka.html" target="_blank">Ginger Bangalore (Inner Ring Road)</a></li>
  <li><a href="http://www.tripadvisor.in/Hotel_Review-g297628-d1235771-Reviews-Casa_de_Bengaluru-Bangalore_Karnataka.html" target="_blank">Casa de Bengaluru</a></li>
  <li><a href="http://www.tripadvisor.in/Hotel_Review-g297628-d1389700-Reviews-Shanthi_Park_Hotel_Krishna_Temple_Road-Bangalore_Karnataka.html" target="_blank">Shanthi Park Hotel Krishna Temple Road</a></li>
  <li><a href="http://www.tripadvisor.in/Hotel_Review-g297628-d1143857-Reviews-Durga_Residency_Hotel-Bangalore_Karnataka.html" target="_blank">Durga Residency Hotel</a></li>
  <li><a href="http://www.tripadvisor.in/Hotel_Review-g297628-d1143909-Reviews-Gokul_Majestic_Hotel-Bangalore_Karnataka.html" target="_blank">Gokul Majestic Hotel</a></li>
  <li><a href="http://www.tripadvisor.in/Hotel_Review-g297628-d1143263-Reviews-Paramount_Hotel-Bangalore_Karnataka.html" target="_blank">Paramount Hotel</a></li>
</ul>

