<div class='gci-heading gci-heading-1'>Individual Supporters</div>
<div class='gci-heading gci-heading-4 mt-20 mb-20'>The amount you donate goes towards a Student Scholarship Fund which will help students attend the conference and cover their travel, boarding and lodging expenses. The Student Scholarship Fund is now closed.<!--<a href="https://www.townscript.com/e/rci17/booking" target="_blank">Donate</a> and support our students today.-->
<br /><br />The following Rubyists have donated generously:</div>
<div class="row">
  <div class="col-sm-2 volun">
    <div class="support-bg clearfix">
      <p class="source-logo"><a href="https://twitter.com/aag1091" target="_blank"><img alt="Avinash Gosavi" src="{{ site.github_project_name }}/assets/images/individuals/avinash.jpg" class="image-responsive" /><br />Avinash Gosavi</a></p>
    </div>
  </div>  <div class="col-sm-2 volun">
    <div class="support-bg clearfix">
      <p class="source-logo"><a href="https://twitter.com/avishastry" target="_blank"><img alt="Avinasha Shastry" src="{{ site.github_project_name }}/assets/images/individuals/avinasha.jpg" class="image-responsive" /><br />Avinasha Shastry</a></p>
    </div>
  </div>
  <div class="col-sm-2 volun">
    <div class="support-bg clearfix">
      <p class="source-logo"><a href="https://twitter.com/bilalbudhani" target="_blank"><img alt="Bilal Budhani" src="{{ site.github_project_name }}/assets/images/individuals/bilal.jpg" class="image-responsive" /><br />Bilal Budhani</a></p>
    </div>
  </div>
  <div class="col-sm-2 volun">
    <div class="support-bg clearfix">
      <p class="source-logo"><a href="https://twitter.com/sarvaiya_nidhi" target="_blank"><img alt="Nidhi Sarvaiya" src="{{ site.github_project_name }}/assets/images/individuals/nidhi.jpg" class="image-responsive" /><br />Nidhi Sarvaiya</a></p>
    </div>
  </div>
  <div class="col-sm-2 volun">
    <div class="support-bg clearfix">
      <p class="source-logo"><a href="https://twitter.com/_cha1tanya" target="_blank"><img alt="Prathamesh Sonpatki" src="{{ site.github_project_name }}/assets/images/individuals/prathamesh.jpg" class="image-responsive" /><br />Prathamesh Sonpatki</a></p>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-2 volun">
    <div class="support-bg clearfix">
      <p class="source-logo"><a href="https://twitter.com/sshpritesh" target="_blank"><img alt="Pritesh Jain" src="{{ site.github_project_name }}/assets/images/individuals/pritesh.jpg" class="image-responsive" /><br />Pritesh Jain</a></p>
    </div>
  </div>
  <div class="col-sm-2 volun">
    <div class="support-bg clearfix">
      <p class="source-logo"><a href="https://twitter.com/shobhitic" target="_blank"><img alt="Shobhit Bakliwal" src="{{ site.github_project_name }}/assets/images/individuals/shobhit.jpg" class="image-responsive" /><br />Shobhit Bakliwal</a></p>
    </div>
  </div>
  <div class="col-sm-2 volun">
    <div class="support-bg clearfix">
      <p class="source-logo"><a href="https://twitter.com/_swanand" target="_blank"><img alt="Swanand Pagnis" src="{{ site.github_project_name }}/assets/images/individuals/swanand.jpg" class="image-responsive" /><br />Swanand Pagnis</a></p>
    </div>
  </div>
  <div class="col-sm-2 volun">
    <div class="support-bg clearfix">
      <p class="source-logo"><a href="https://twitter.com/tusharmaroo" target="_blank"><img alt="Tushar Maroo" src="{{ site.github_project_name }}/assets/images/individuals/tushar.jpg" class="image-responsive" /><br />Tushar Maroo</a></p>
    </div>
  </div>  
</div>
<!--
  <div class="col-sm-2 volun">
    <div class="support-bg clearfix">
      <p class="source-logo"><a href="https://twitter.com/kpvarma" target="_blank"><img alt="Krishna" src="{{ site.github_project_name }}/images/individuals/krishnaprasad-varma.jpg" class="image-responsive" /><br />Krishnaprasad Varma</a></p>
    </div>
  </div>

  <div class="col-sm-2 volun">
    <div class="support-bg clearfix">
      <p class="source-logo"><a href="http://kumargaurav.co/" target="_blank"><img alt="Kumar" src="{{ site.github_project_name }}/images/individuals/kumar-gaurav.jpg" class="image-responsive" /><br />Kumar Gaurav</a></p>
    </div>
  </div>

  <div class="col-sm-2 volun">
    <div class="support-bg clearfix">
      <p class="source-logo"><a href="http://mantish.com/" target="_blank"><img alt="Kumar" src="{{ site.github_project_name }}/images/individuals/kumarmantesh.jpg" class="image-responsive" /><br />Kumar Mantesh</a></p>
    </div>
  </div>

  <div class="col-sm-2 volun">
    <div class="support-bg clearfix">
      <p class="source-logo"><a href="https://twitter.com/pravinmishra88" target="_blank"><img alt="Pravin" src="{{ site.github_project_name }}/images/individuals/pravin_mishra.jpg" class="image-responsive" /><br />Pravin Mishra</a></p>
    </div>
  </div>

</div>

<div class="row">
  <div class="col-sm-2 volun">
    <div class="support-bg clearfix">
      <p class="source-logo"><a href="https://twitter.com/rmenn" target="_blank"><img alt="Rahul" src="{{ site.github_project_name }}/images/individuals/rahul.jpg" class="image-responsive" /><br />Rahul Menon</a></p>
    </div>
  </div>

  <div class="col-sm-2 volun">
    <div class="support-bg clearfix">
      <p class="source-logo"><a href="https://twitter.com/varunksaini" target="_blank"><img alt="Varun" src="{{ site.github_project_name }}/images/individuals/varun-saini.jpg" class="image-responsive" /><br />Varun Saini</a></p>
    </div>
  </div>
-->
</div>
<div class="clearfix" style="height:100px;"></div>
