<div class='gci-heading gci-heading-1'>Individual Supporters</div>
<div class='gci-heading gci-heading-4 mt-20 mb-20'>The amount you donate goes towards a Student Scholarship Fund which will help students attend the conference and cover their travel, boarding and lodging expenses. <!-- The Student Scholarship Fund is now closed. --><a href="https://www.townscript.com/e/rci18/booking" target="_blank">Donate</a> and support our students today.
  <br /><br />The following Rubyists have donated generously:</div>

  <div class="row">
    <div class="col-sm-2 volun">
      <div class="support-bg clearfix">
        <p class="source-logo">
          <a href="https://twitter.com/abdulkarim_me" target="_blank"><img alt="Abdul Karim" src="{{site.github_project_name }}/assets/images/individuals/abdul.jpeg" class="image-responsive" /><br />Abdul Karim
          </a>
        </p>
      </div>
    </div>

    <div class="col-sm-2 volun">
      <div class="support-bg clearfix">
        <p class="source-logo"><a href="https://twitter.com/aniket_rao" target="_blank"><img alt="Aniket Rao" src="{{ site.github_project_name }}/assets/images/individuals/aniket.jpg" class="image-responsive" /><br />Aniket Rao</a></p>
      </div>
    </div>

    <div class="col-sm-2 volun">
      <div class="support-bg clearfix">
        <p class="source-logo"><a href="https://twitter.com/aag1091" target="_blank"><img alt="Avinash Gosavi" src="{{ site.github_project_name }}/assets/images/individuals/avinash.jpg" class="image-responsive" /><br />Avinash Gosavi</a></p>
      </div>
    </div>

    <div class="col-sm-2 volun">
      <div class="support-bg clearfix">
        <p class="source-logo"><a href="https://twitter.com/jay2631" target="_blank"><img alt="Janmejay Rai" src="{{ site.github_project_name }}/assets/images/individuals/janmejay.jpg" class="image-responsive" /><br />Janmejay Rai</a></p>
      </div>
    </div>

    <div class="col-sm-2 volun">
      <div class="support-bg clearfix">
        <p class="source-logo"><a href="https://twitter.com/mohnishgj" target="_blank"><img alt="Mohnish Jadwani" src="{{ site.github_project_name }}/assets/images/individuals/mohnish.jpg" class="image-responsive" /><br />Mohnish Jadwani</a></p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-2 volun">
      <div class="support-bg clearfix">
        <p class="source-logo">
          <a href="https://twitter.com/nishantmodak" target="_blank"><img alt="Nishant Modak" src="{{site.github_project_name }}/assets/images/individuals/nishant.jpg" class="image-responsive" /><br />Nishant Modak
          </a>
        </p>
      </div>
    </div>

    <div class="col-sm-2 volun">
      <div class="support-bg clearfix">
        <p class="source-logo">
          <a href="https://twitter.com/sshpritesh" target="_blank"><img alt="Pritesh Jain" src="{{site.github_project_name }}/assets/images/individuals/pritesh.jpeg" class="image-responsive" /><br />Pritesh Jain
          </a>
        </p>
      </div>
    </div>

    <div class="col-sm-2 volun">
      <div class="support-bg clearfix">
        <p class="source-logo">
          <a href="https://twitter.com/mechanicles" target="_blank"><img alt="Santosh Wadghule" src="{{site.github_project_name }}/assets/images/individuals/santosh.jpeg" class="image-responsive" /><br />Santosh Wadghule
          </a>
        </p>
      </div>
    </div>
    <div class="col-sm-2 volun">
      <div class="support-bg clearfix">
        <p class="source-logo">
          <a href="https://twitter.com/_kanuahs" target="_blank"><img alt="Shaunak Pagnis" src="{{site.github_project_name }}/assets/images/individuals/shaunak.jpeg" class="image-responsive" /><br />Shaunak Pagnis
          </a>
        </p>
      </div>
    </div>
    <div class="col-sm-2 volun">
      <div class="support-bg clearfix">
        <p class="source-logo"><a href=" https://twitter.com/_svs_" target="_blank"><img alt="Siddharth Sharma" src="{{ site.github_project_name }}/assets/images/individuals/siddharth.jpg" class="image-responsive" /><br />Siddharth Sharma</a></p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-2 volun">
      <div class="support-bg clearfix">
        <p class="source-logo"><a href="https://twitter.com/_swanand"
            target="_blank"><img alt="Swanand Pagnis" src="{{
        site.github_project_name }}/assets/images/individuals/swanand.jpg"
    class="image-responsive" /><br />Swanand Pagnis</a></p>
      </div>
    </div>

    <div class="col-sm-2 volun">
      <div class="support-bg clearfix">
        <p class="source-logo"><a href="https://twitter.com/tusharmaroo" target="_blank"><img alt="Tushar Maroo" src="{{ site.github_project_name }}/assets/images/individuals/tushar.jpg" class="image-responsive" /><br />Tushar Maroo</a></p>
      </div>
    </div>
  </div>
</div>

<div class="clearfix" style="height:100px;"></div>
