<div class='gci-heading gci-heading-1'>Program</div>
<div class='gci-heading gci-heading-2'>Aaron Cruz</div>
<p>Aaron lives in the suburbs of Vienna, Austria but is a native of the suburbs of Seattle. In his former life he was a shepherd, a cheesemaker and a sous chef. Now he is freelancing, building native iOS and Android apps and their respective API's. In his spare time, he organizes a range of user groups in Vienna. If you get him started talking about food, he may never stop.</p>
<p><strong>This Bot Will Pump You Up!</strong></p>
<p>Bots got me in amazing shape. My goal was to be able to do a handstand but I took it much further than that. I built a series of fitness related bots as a side project and I learned a ton about what works with bot development and conversational interfaces. Did you know messaging apps are growing faster than social networks? In this talk I'll show you the ins and outs of using Ruby to create bots for this enormous audience. Get ripped with Ruby!</p>


