<div class='gci-heading gci-heading-1'>Proposal Advice</div>

<p> We are grateful for your interest in presenting at GopherConIndia 2016. This is a guide to help you submit the best possible proposal, and tips to make your proposal more likely to be accepted. Please keep in mind that many more proposals are submitted for talks than can be accepted; following the recommendations provided here will increase your chance of acceptance.</p>
<div class='gci-heading gci-heading-2'>Good Ideas</div>
<ul class="gci-unordered-list">
  <li> 	<b>Submit your proposal early </b>. The program committee will provide feedback to talks in our system, and we will work with you to improve your proposal if we have issues with it, but we can only do this if your talk is in before the deadline.</li>
  <li> 	In your abstract, be sure to include answers to some basic questions:
    <ul>
      <li>	Who is the intended audience for your talk? (Be specific; "Go programmers" is not a good answer to this question.) </li>
      <li> What will attendees get out of your talk? When they leave the room, what will they know that they didn't know before?</li>
    </ul>
  </li>
  <li> 	Your outline should be an enumeration of what you intend to say, along with time estimates.
    <ul>
      <li> 	It is not necessary to have completely written or planned your talk already, but you should have a basic idea of what the over-arching points you intend to make are, and roughly how long you will spend on each one. </li>
    </ul>
  </li>
  <li> 	Ensure that your talk will be relevant to a non-trivial set of people. If your talk is on a particular Go package or piece of software, it should be something that a decent number of people use or want to use. If your talk is about a package that you are writing, ensure that it's gained some acceptance before submitting a talk.</li>
  <li> 	Include links to source code, articles, blog posts, or other writing that adds context to the presentation.</li>
  <li> 	If you've given a talk, tutorial, or other presentation before, especially at an earlier GopherCon or another conference, include that information as well as a link to slides or a video if they're available.</li>
  <li> 	Fill out your outline and biography completely, but concisely. The outline and background information often are used to eliminate proposals during the first cut, so incomplete details may be a cause for early rejection of a potentially great talk or tutorial. Don't let this happen to you!</li>
</ul>

<div class='gci-heading gci-heading-2'>Bad Ideas</div>

<ul class="gci-unordered-list">
  <li> Avoid infomercials.
    <ul>
      <li> That doesn't mean you can't talk about your work or company at GopherConIndia. For instance, we welcome talks on how you or your company solved a problem, or notable open source projects that may benefit attendees.</li>
      <li> On the other hand, talks on "how to use our product" (or similar) usually aren't appropriate.</li>
    </ul>
  </li>
  <li> Avoid presenting a proposal for code that is far from completion. The program committee is very skeptical of "conference-driven development".</li>
  <li> Avoid "state of our project" talks, unless you can make a compelling argument that the talk will be well-attended and that attendees will gain value from it.</li>
  <li> Do not assume that everyone on the Program Committee will know who you are simply because you have presented at GopherCon in the past. Everyone should submit a full proposal. </li>
</ul>

<div class='gci-heading gci-heading-2'>More Information</div>

<p> For more resources to help prepare your proposal, see <a href="/proposal-resource/">Proposal Resources</a></p>