<div class='gci-heading gci-heading-1'>Proposal Resources</div>

<p>We want <b>you </b>to submit a proposal to GopherConIndia! The program committee is always available to help you put together a proposal. Here's a list of information and advice to help you out.</p>

<div class='gci-heading gci-heading-2'>General advice</div>

<ul class="gci-unordered-list">
  <li> <a href="/proposal-advice/">Proposal Advice</a> on how to structure your GopherConIndia talk, tutorial, or conference proposal.</li>
  <li> <a href="http://speakup.io/" target="_blank">Speak Up!</a> is a cross-community project that provides a friendly place to help people give great talks. They have a fantastic list of <a href="http://speakup.io/resources.html" target="_blank"> resources</a>.</li>
</ul>

<div class='gci-heading gci-heading-2'>Articles</div>

<ul class="gci-unordered-list">
  <li> <a href="http://www.craigkerstiens.com/2012/06/19/pro-tips-for-conference-talks/" target="_blank">Pro Tips for Conference Talks  </a> - an excellent write up / advice by Craig Kerstiens of Heroku</li>
  <li> <a href="http://www.oscon.com/oscon2011/public/cfp/144" target="_blank">OSCON Call for Proposals</a> - the same guidelines and tips for OSCON talks apply for GopherConIndia talks. </li>
</ul>