<section id="speaker" class="content-section text-center download-section homepage">
  <div class="container">
    <h2 class="speaker-title">Program</h2>
    <div class="speakers-wrapper text-left">

      <div class="row speaker" id="aboobacker">
        <div class="col-sm-2 image center">
          <div class="image-box">
            <img alt="speaker image" src="{{ site.github_project_name }}/assets/images/speakers/aboobacker.jpg">
          </div>
        </div>
        <div class="col-sm-10">
          <p class="name">Aboobacker MK</p>
          <p class="about-speaker">
            Ruby on rails developer at Red Panthers.
            Open source enthusiast and volunteer at Swathanthra Malayalam Computing.
          </p>
          <p><strong>Talk: Towards a decentralised world with ruby</strong></p>
          <p class="about-speaker">
            The centralized system based service invites privacy concerns and questions
            how the data is handled/censored by the system. Discuss how having a decentralised
            software would really help us, Implementation of a simple decentralised app,
            Using Diaspora and Mastadon as examples
          </p>
        </div>
      </div>

      <div class="row speaker" id="aram">
        <div class="col-sm-2 image center">
          <div class="image-box">
            <img alt="speaker image" src="{{ site.github_project_name }}/assets/images/speakers/aram.jpg">
          </div>
        </div>
        <div class="col-sm-10">
          <p class="name">Aram Bhusal</p>
          <p class="about-speaker">
            Aram is a full stack developer with over 7 years of experience
            building all kinds of web apps, primarily using Ruby on Rails.
            He has worked on B2B solutions around loyalty, messaging, Ecommerce,
            messaging and content curation platforms.
            In his previous avatars he was heading technology in various startups
            like 88 Cordials, Cloudaria and PoshVine, and is currently the AVP Technology in ArgilDX.
          </p>
          <p><strong>Talk: Multi-tenant applications and challenges I faced</strong></p>
          <p class="about-speaker">
            Multi-tenant applications are some of the most interesting applications. How do you make such applications using Postgresql and Elasticsearch which work very seamlessly together? What are the challenges I faced when creating a multi-tenant application used by many banks and airline loyalty programs?
          </p>
        </div>
      </div>

      <div class="row speaker" id="avdi">
        <div class="col-sm-2 image center">
          <div class="image-box">
            <img alt="speaker image" src="{{ site.github_project_name }}/assets/images/speakers/avdi-grimm.jpg">
          </div>
        </div>
        <div class="col-sm-10">
          <p class="name">Avdi Grimm</p>
          <p class="about-speaker">
            Avdi Grimm is a father, a Ruby Hero, the head chef at
            <a href = "https://www.rubytapas.com/" target = "_blank">RubyTapas</a>,
            and author of the books <a href="http://www.confidentruby.com/" target="_blank">Confident Ruby</a>,
            <a href="http://objectsonrails.com/" target="_blank"> Objects on Rails</a>
            and <a href="http://exceptionalruby.com/" target="_blank">Exceptional Ruby</a>.
            He splits his theoretical spare time between hiking the Smoky Mountains and dancing to oontz-oontz music.
            <br>
            His passion is Ruby. He spends most of his time training and educating other programmers, speaking at software conferences, hosting podcast and programming episodes.
          </p>
          <p><strong>Talk: #NOCODE</strong></p>
          <p class="about-speaker">
            For beginning programmers, coding is a superpower.
            But for experienced developers, code-centric thinking can also be a trap.
            Prepare to have your conception of what it means to be a programmer challenged,
            as we explore how to increase your leverage by choosing NOT to write code.
          </p>
        </div>
      </div>

      <div class="row speaker" id="charles">
        <div class="col-sm-2 image center">
          <div class="image-box">
            <img alt="speaker image" src="{{ site.github_project_name }}/assets/images/speakers/headius.jpg">
          </div>
        </div>
        <div class="col-sm-10">
          <p class="name">Charles Nutter</p>
          <p class="about-speaker">
            He is one of the “JRuby guys”,
            co-lead of JRuby project and JVM enthusiast.
            He is a Ruby Hero and Java Champion too! He works every day
            to make JRuby the best JVM-based Ruby possible while pushing
            JVM folks and other language authors to keep improving the platform.
          </p>
          <p><strong>Talk: Ten Years of JRuby: What We've Learned and Where We're Going</strong></p>
          <p class="about-speaker">
            JRuby 1.0 was released just over a decade ago.
            Since then we've built JRuby into a fast, concurrent implementation of Ruby,
            and the only production-ready alternative to CRuby.
            We'll take a look back, see where JRuby is today, and talk about what the future holds.
          </p>
        </div>
      </div>

      <div class="row speaker" id="elle">
        <div class="col-sm-2 image center">
          <div class="image-box">
            <img alt="speaker image" src="{{ site.github_project_name }}/assets/images/speakers/elle-meredith.jpg">
          </div>
        </div>
        <div class="col-sm-10">
          <p class="name">Elle Meredith</p>
          <p class="about-speaker">
            Elle works as a consultant for Blackmill. Before Blackmill,
            she was a Development Director in the New York City office of thoughtbot.
            She believes in writing clean code, driven by automatic tests, with agile practices,
            an even work/life balance, and a respectful and inclusive team culture.
            Elle appreciates the value of strong communities.
            When she is not immersed in the Ruby community,
            she is probably immersed in water, or lately, in bread flour.
          </p>
          <p><strong>Talk: Algorithms to live by and why should we care</strong></p>
          <p class="about-speaker">
            In this talk we will discuss algorithmic thinking in everyday life
            in language we can all understand. We will explore widely applicable algorithms,
            and how they reveal themselves in our everyday lives,
            so that we better understand what when and how we can use them in our programs.
          </p>
        </div>
      </div>

      <div class="row speaker" id="kei">
        <div class="col-sm-2 image center">
          <div class="image-box">
            <img alt="speaker image" src="{{ site.github_project_name }}/assets/images/speakers/kei.jpg">
          </div>
        </div>
        <div class="col-sm-10">
          <p class="name">Kei Sawada</p>
          <p class="about-speaker">
            Kei, pronounced as "Kay", is a guy who loves day-to-day engineering.
            He feels happy at any moment during programming. That's why he met Ruby.
            His job was, is and will be everything about server-side and people.
            He also plays the contrabass once in a while.
          </p>
          <p><strong>Talk: Prototyping Kubernetes CRI(Container Runtime Interface) With Ruby and gRPC</strong></p>
          <p class="about-speaker">
            Are you interested in wondering what Ruby can do to make this containerized world better?
            Want to know what is happening under the hood when Kubernetes is running?
            Then this talk is for you! In this talk, we will explore how we can make
            the best use of Ruby, gRPC, and k8s to orchestrate containers.
          </p>
        </div>
      </div>

      <div class="row speaker" id="paul">
        <div class="col-sm-2 image center">
          <div class="image-box">
            <img alt="speaker image" src="{{ site.github_project_name }}/assets/images/speakers/paul.jpg">
          </div>
        </div>
        <div class="col-sm-10">
          <p class="name">Paul Stefan Ort</p>
          <p class="about-speaker">
            <a href="https://www.pso.io/" target="_blank">Paul </a> makes software at
            <a href="https://www.defmethod.com" target="_blank">Def Method </a> in New York City.
            He is building <a href="https://www.dependable.io" target="_blank">Dependable </a>
            for dependency update automation and the evolution of codebases.
            He is a classical violinist and pianist when not programming or reading.
          </p>
          <p><strong>Talk: Reflection in Ruby: Understanding the Implications of Loading Gems and Files</strong></p>
          <p class="about-speaker">
            Have you wondered what is provided by a gem? What about monkey patches?
            Can you be sure that new changes do not conflict with old ones?
            We will demonstrate how to use Ruby’s built-in reflection methods
            to address all of these topics, building up from foundations available to every Ruby developer.
          </p>
        </div>
      </div>

      <div class="row speaker" id="prasun">
        <div class="col-sm-2 image center">
          <div class="image-box">
            <img alt="speaker image" src="{{ site.github_project_name }}/assets/images/speakers/prasun.jpg">
          </div>
        </div>
        <div class="col-sm-10">
          <p class="name">Prasun Anand</p>
          <p class="about-speaker">
            Prasun is involved with different open-source projects aimed at super fast Scientific Computing on Ruby and D. He worked with SciRuby as a GSoC student in 2016, 2017. He worked on JRuby port of NMatrix and is currently work on creating GPGPU libraries for D and Ruby. One such effort is ArrayFire gem which has an outstanding performance. Currently he is working with Genenetwork on softwares for high performance genome analysis and RbCUDA gem.
          </p>
          <p><strong>Talk: GPU-accelerated Libraries for Ruby</strong></p>
          <p class="about-speaker">
            RbCUDA and ArrayFire gem has an outstanding performance and can handle real
            world problems by crunching huge datasets.
            Deep learning libraries for Ruby with GPU acceleration are on their way.
            In this talk I would like to show how RbCUDA and ArrayFire help you easily
            accelerate your code.
          </p>
        </div>
      </div>

      <div class="row speaker" id="rishi">
        <div class="col-sm-2 image center">
          <div class="image-box">
            <img alt="speaker image" src="{{ site.github_project_name }}/assets/images/speakers/rishi-jain.jpg">
          </div>
        </div>
        <div class="col-sm-10">
          <p class="name">Rishi Jain </p>
          <p class="about-speaker">
            Rishi is currently working at Unbxd where he helps customers go from
            intent to content and solving some interesting problems along the way.
            Rishi also likes to travel and indulge in sports.
            Currently, Rishi is pursuing the dark of art of cooking his own meals,
            sleeping on time and staying positive.
          </p>
          <p><strong>Talk: Faster green builds: The key to developer happiness ..!!</strong></p>
          <p class="about-speaker">
            Wouldn’t it be great if your the test cases were blazingly fast?
            In this experience talk, I will share how I reduced the test suite run time by 75%.
            I will share how using certain expectations, selectors, what to test and team work
            can lead to faster test cases.
          </p>
        </div>
      </div>


       <div class="row speaker" id="shobhit">
        <div class="col-sm-2 image center">
          <div class="image-box">
            <img alt="speaker image" src="{{ site.github_project_name }}/assets/images/speakers/shobhit.png">
          </div>
        </div>
        <div class="col-sm-10">
          <p class="name">Shobhit Bakliwal</p>
          <p class="about-speaker">
            Founder of software company Indusbit,
            He has been in love with Ruby since 2012. Amateur pianist,
            full stack developer, newbie salesman, lazy blogger,
            and a product guy at heart. Was an early team member at
            Crowdfire and Head of Product at Unacademy.
          </p>
          <p><strong>Talk: A Rack and Morty adventure in serving requests</strong></p>
          <p class="about-speaker">
            In this talk you’ll go through Rack from request to response.
            Starting with a basic “Hello C137” request and moving to something more complex.
            We’ll find what Rack enables us to do, write tests for our code,
            learn how to create reusable middleware, and how it fits in Ruby frameworks like Rails.
          </p>
        </div>
      </div>

      <div class="row speaker" id="siddharth">
        <div class="col-sm-2 image center">
          <div class="image-box">
            <img alt="speaker image" src="{{ site.github_project_name }}/assets/images/individuals/siddharth.jpg">
          </div>
        </div>
        <div class="col-sm-10">
          <p class="name">Siddharth Sharma</p>
          <p class="about-speaker">
            Siddharth is currently the CTO at
            <a href="https://www.shaadi.com/" target="_blank">shaadi.com</a>,
            the world's no. 1 matchmaking service. He has been a Ruby developer
            for over ten years. In prior lives Siddharth has been an investment
            banker and musician.
          </p>
          <p><strong>Talk: Programming Carbon Based Wetwares</strong></p>
          <p class="about-speaker">
            At some point in your programming life, it might fall upon you to
            be responsible for the output of other humans.
            Humans run a weird carbon-based wetware that is infamous for its highly inconsistent API,
            fuzzy logic and extreme fragmentation. I’ll help you understand, work with and scale this wetware
          </p>
        </div>
      </div>

      <div class="row speaker" id="tony">
        <div class="col-sm-2 image center">
          <div class="image-box">
            <img alt="speaker image" src="{{ site.github_project_name }}/assets/images/speakers/tony.jpg">
          </div>
        </div>
        <div class="col-sm-10">
          <p class="name">Tony Vincent</p>
          <p class="about-speaker">
            He is a developer from Kochi, Kerala working at <a href="https://redpanthers.co/">RedPanthers</a>
            and He is in love with ruby.
            He enjoys contributing to opensource and answering stuff on Stack Overflow.
            He has prior experience of speaking at RubyConf Indonesia 2017
          </p>
          <p><strong>Talk: Reusing the Wheel</strong></p>
          <p class="about-speaker">
            This talk demonstrates with examples how to write better
            Ruby code using some lesser known, underused ruby/rails methods & abstractions.
            Don’t miss this talk if you want to learn about some simple yet powerful methods
            like ‘enum#flat_map’ & ‘object#tap’ that can help you code like a pro using Ruby
          </p>
        </div>
      </div>

      <div class="row speaker" id="tushar">
        <div class="col-sm-2 image center">
          <div class="image-box">
            <img alt="speaker image" src="{{ site.github_project_name }}/assets/images/individuals/tushar.jpg">
          </div>
        </div>
        <div class="col-sm-10">
          <p class="name">Tushar Maroo</p>
          <p class="about-speaker">
            He is a software architect with a business mindset. Currently working as an Engineering lead at <a href="http://shopx.in/">ShopX.</a>
            He started his career as a freelancer wearing multiple hats and going fullstack.
            He has been working on some challenging features & solving scaling problems lately for the B2B world.
            He loves open source, also he help in organizing BRUG meetups (<a href="https://www.meetup.com/Bangalore-Ruby-Users-Group">Bangalore Ruby User Group</a>).
            When not working you can find him exploring $crypto currencies & blockchain.
          </p>
          <p><strong>Talk: Scaling up: Myths Busted!!</strong></p>
          <p class="about-speaker">
            Scaling a legacy system is something we all face at one point or the other.
            In this talk, I will share about scaling a Write heavy system along with some
            of the myths busted in process. These learning and myths will leave you with a
            thirst of doing your own research as per your use-cases for sure.
          </p>
        </div>
      </div>

      <div class="row speaker" id="victor">
        <div class="col-sm-2 image center">
          <div class="image-box">
            <img alt="speaker image" src="{{ site.github_project_name }}/assets/images/speakers/victor.jpg">
          </div>
        </div>
        <div class="col-sm-10">
          <p class="name">Victor Shepelev</p>
          <p class="about-speaker">
            Ukrainian programmer and poet with more than fifteen years of programming experience
            and twelve years of Ruby programming. Working at VerbIT.ai,
            mentoring students (including Google Summer of Code-2016/2017,
            as a mentor for SciRuby organization), developing open source (Ruby Association Grant 2015).
          </p>
          <p><strong>Talk: When The Whole World Is Your Database </strong></p>
          <p class="about-speaker">
            How to model all real world concepts in Ruby and don’t lose your mind in the process? How to fetch data uniformly from Wikidata, WorldBank, OpenStreetMap, and TheMoviesDB and mash them up?… And why would anybody try to lift up such a task? Answers are coming.
          </p>
        </div>
      </div>

      <div class="row speaker" id="zach">
        <div class="col-sm-2 image center">
          <div class="image-box">
            <img alt="speaker image" src="{{ site.github_project_name }}/assets/images/speakers/holman.png">
          </div>
        </div>
        <div class="col-sm-10">
          <p class="name">Zach Holman</p>
          <p class="about-speaker">
            Zach Holman is a developer living in San
            Francisco. He joined GitHub in 2010 as one of their first engineering
            hires, and helped build and grow their product and culture over five
            years. Currently he’s the founder and CEO of <a href =
            "http://during.com/" target="_blank">During</a>, a new calendar to
            help you during your day. He also advises startups, including <a href
            ="https://about.gitlab.com/" target="_blank">GitLab</a>
            and <a href="https://dockbit.com/" target="_blank">Dockbit</a>.
          </p>
          <p><strong>Talk: UTC is Enough for Everybody, Right?</strong></p>
          <p class="about-speaker">
            "Just use UTC" is the common sentiment we give programmers when it comes to dates and times.
            But that's not... entirely... accurate... particularly when we're building applications meant
            to be seen and used by multiple humans in multiple timezones.
            There's a lot of very valuable things we can learn to help us improve our software
            when it comes to times and dates.
          </p>
        </div>
      </div>

    </div>
  </div>
</section>
