<div class='gci-heading gci-heading-1'>Program</div>

<div class='gci-heading gci-heading-2'>Aaron Cruz</div>

<p>Aaron lives in the suburbs of Vienna, Austria but is a native of the suburbs of Seattle. In his former life he was a shepherd, a cheesemaker and a sous chef. Now he is freelancing, building native iOS and Android apps and their respective API's. In his spare time, he organizes a range of user groups in Vienna. If you get him started talking about food, he may never stop.</p>
<p><strong>This Bot Will Pump You Up!</strong></p>
<p>Bots got me in amazing shape. My goal was to be able to do a handstand but I took it much further than that. I built a series of fitness related bots as a side project and I learned a ton about what works with bot development and conversational interfaces. Did you know messaging apps are growing faster than social networks? In this talk I'll show you the ins and outs of using Ruby to create bots for this enormous audience. Get ripped with Ruby!</p>

<div class='gci-heading gci-heading-2'>Adam Hawkins</div>
<p>Adam is a proud traveller and trance addict. He lives in Bangalore, India. Right now his full time gig is for Saltside. He runs the SRE team and trains a new generation of engineers how to build, ship and operate production systems according to the DevOps philosophy using Docker.</p>
<p><strong>Production Ready Ruby</strong></p>
<p>This talk accumulates best practices hardened from years of building, shipping, and running a varies of Ruby services in production. The talk walks through simple steps to take to improve the production operability, debuggabilility, and insight of production services. It's easy to gem install production and expect everything to just work. Here we take a difference approach by showing the code and understanding how to approach the operability perspective.</p>

<div class='gci-heading gci-heading-2'>Anagha R</div>
<p>Anagha is an undergraduate student doing her computer science and engineering from Amrita University and an open source enthusiast. She has developed a basic application in Ruby on Rails and is currently developing it based upon her existing knowledge. She is a GHCI2016 student scholar and an advisor for the #include fellowship program by the she++ community.</p>
<p><strong>Getting Started With Rails</strong></p>
<p>The talk is aimed at beginners who want to get started with a Rails application from scratch.Here you will have an overview on Rails and will be guided to make an application using it and problems a newcomer faces in getting started with Rails.</p>
