<div class='gci-heading gci-heading-1'>The Ruby Hero Award</div>

<div>

<p>
<strong>The RubyConfIndia Ruby Hero Award gives recognition to influential devs in the Indian Ruby/Rails community and shall announce the winner at <a href="http://rubyconfindia.org">RubyConfIndia</a>.</strong>
</p>

<p>
  We believe great work deserves recognition. The Indian Ruby/Rails dev community is full of amazing contributors and unsung heroes who are busy producing educational content, developing plugins and gems, contributing to open- source projects, or putting on events to help developers learn and grow.</p>
<p> 
  Wherever they are, their work is too great to go unnoticed and we need your help to find them.
</p>
<p><a  style="border-width:1px; border-style:solid; padding: 10px;" href="https://airtable.com/shrxyiaPrghyDHyoy" target="_blank">APPLY HERE -></a></p>
<p>
The Indian Ruby/Rails community will propose many such unsung heroes and a select panel will finalize one such hero and announce his/her name at <a href="http://rubyconfindia.org">RubyConfIndia</a>.</p>
