<div class='gci-heading gci-heading-1'>Student Scholarship</div>
<p>As part of RubyConfIndia's commitment to encourage students in India to excel in computing and technology, we are offering student scholarships (selected few, based on some criteria, as explained below).</p>

<div class='gci-heading gci-heading-2'>Student Scholarship Conditions</div>
<ul class="gci-unordered-list">
  <li>The student must be studying in a School / College / University in India at the time of the conference (Jan. 2017). They must show proof of being a student, before the conference begins.</li>
  <li>A committee will evaluate the students and short-list the candidates eligible for this scholarship. </li>
  <li>Attend the core day(s) of the main conference i.e. 28, 29 Jan. 2017.</li>
	<li>The Student should write a blog post on their experience at RubyConfIndia.</li>
  <li>The selected scholars will give a brief presentation of about 5 minutes during the lightning talks at the conference.</li>
  <li>The last date to submit your application is <b>15th Nov. 2016</b>.</li>
</ul>

<div class='gci-heading gci-heading-3'>What will the student get as part of the scholarship?</div>
<ul class="gci-unordered-list">
  <li>A free conference pass for the 2 day conference.</li>
  <li>Travel (by III tier rail) cost will be paid after the conference.</li>
	<li>We will take care of your stay from 27th Jan (check in) to 29th Jan. 2017 (check out).</li>
</ul>

<p><a  style="border-width:1px; border-style:solid; padding: 10px;" href="/student-scholarship" target="_blank">APPLY HERE -></a></p>

<!--<h5><b>Applications for "Student Scholarship" is now closed</b>. We will inform all those who had applied, by email.</h5>-->

<p>&nbsp;</p>
<div class='gci-heading gci-heading-2'>Student Scholars</div>

<div class="row">
	<div class="col-sm-3 volun">
		<img src="{{ site.github_project_name }}/assets/images/individuals/taneea.jpg" alt="Taneea S Agrawaal" />
		<div class="title">Taneea S Agrawaal</div>
		<div class="links">
			<a href="https://twitter.com/tansa05" target="_blank"><i class="fa fa-twitter"></i></a>
			<a href="https://github.com/TanSA05" target="_blank"><i class="fa fa-github"></i></a>
		</div>
	</div>
	<div class="col-sm-3 volun">
		<img src="{{ site.github_project_name }}/assets/images/individuals/vrinda.jpg" alt="Vrinda Malhotra" />
		<div class="title">Vrinda Malhotra</div>
		<div class="links">
			<a href="https://twitter.com/vrindam8" target="_blank"><i class="fa fa-twitter"></i></a>
			<a href="https://github.com/TheChirpyWitch" target="_blank"><i class="fa fa-github"></i></a>
		</div>
	</div>

	<!--<div class="col-sm-3 volun">
		<img src="{{ site.github_project_name }}/images/students/aditi.jpg" alt="Aditi" />
		<div class="title">Aditi</div>
		<div class="links">
			<a href="https://twitter.com/Aditi27832349" target="_blank"><i class="fa fa-twitter"></i></a>
			<a href="https://github.com/AditiShree" target="_blank"><i class="fa fa-github"></i></a>
		</div>
	</div>

	<div class="col-sm-3 volun">
		<img src="{{ site.github_project_name }}/images/students/pravendrasingh.jpg" alt="Pravendra Singh" />
		<div class="title">Pravendra Singh</div>
		<div class="links">
			<a href="https://twitter.com/hackpravj" target="_blank"><i class="fa fa-twitter"></i></a>
			<a href="https://github.com/pravj" target="_blank"><i class="fa fa-github"></i></a>
		</div>
	</div>-->

</div>
<p>&nbsp;</p>

<p>&nbsp;</p>
<!--<div class='gci-heading gci-heading-2'>Students sponsored by GopherAcademy</div>

<div class="row">
	<div class="col-sm-3 volun">
		<img src="{{ site.github_project_name }}/images/students/abhina.jpg" alt="Abhina Sathyan" />
		<div class="title">Abhina Sathyan</div>
		<div class="links">
			<a href="https://github.com/abhina10" target="_blank"><i class="fa fa-github"></i></a>
		</div>
        </div>
	<div class="col-sm-3 volun">
		<img src="{{ site.github_project_name }}/images/students/anjana.jpg" alt="Anjana S" />
		<div class="title">Anjana S</div>
		<div class="links">
			<a href="https://twitter.com/GokulSrinivas23" target="_blank"><i class="fa fa-twitter"></i></a>
			<a href="https://github.com/anjana14" target="_blank"><i class="fa fa-github"></i></a>
		</div>
        </div>

	<div class="col-sm-3 volun">
		<img src="{{ site.github_project_name }}/images/students/gokul.jpg" alt="Gokul Srinivas" />
		<div class="title">Gokul Srinivas</div>
		<div class="links">
			<a href="https://twitter.com/GokulSrinivas23" target="_blank"><i class="fa fa-twitter"></i></a>
			<a href="https://github.com/GokulSrinivas" target="_blank"><i class="fa fa-github"></i></a>
		</div>
	</div>
	<div class="col-sm-3 volun">
		<img src="{{ site.github_project_name }}/images/students/harini.jpg" alt="Harini V Reddy" />
		<div class="title">Harini V Reddy</div>
		<div class="links">
			<a href="https://twitter.com/haarikavreddy" target="_blank"><i class="fa fa-twitter"></i></a>
			<a href="https://github.com/harinivreddy" target="_blank"><i class="fa fa-github"></i></a>
		</div>
	</div>

</div>

<div class="row">
	<div class="col-sm-3 volun">
		<img src="{{ site.github_project_name }}/images/students/kishor.jpg" alt="Kishor Bhat" />
		<div class="title">Kishor Bhat</div>
		<div class="links">
			<a href="https://twitter.com/kbhat95" target="_blank"><i class="fa fa-twitter"></i></a>
			<a href="https://github.com/kbhat95" target="_blank"><i class="fa fa-github"></i></a>
		</div>
	</div>
</div>

<p>&nbsp;</p>
