<div class="sim">
<div class='gci-heading gci-heading-1'>SIM Card</div>
<p>To get an Indian SIM card for your Android phone, you need to do the following:
<br />
Make sure you have these documents with you (Original)
</p>
<ul style="list-style-type: lower-alpha;">
<li> Four color passport photographs of yourself,</li>
<li> Photocopy of the personal details page of your passport. You will also have to produce your passport for verification, after which it will be returned to you there and then,</li>
<li> A photocopy of your Indian visa. Once again, you will have to show the original visa for verification and it will be returned there and then,</li>
<li> Photocopy of the proof of your home address in your country of residence. This could be your passport, driver’s license or any other Government issued document. Remember to carry the original document along for verification. It's better if you carry an additional document besides passport, like drivers license which helps them cross verify address etc.</li>
<li> Proof of where you will be staying in India. A letter from your hotel confirming that you are a guest will suffice.</li>
</ul>
<br />
<div class='gci-heading gci-heading-3'>Sim card cost and activation process</div>
<ul style="list-style-type: lower-alpha;">
<li> Range would be $7 to $9,</li>
<li> Minimum 1 day and maximum 3 days for verifying the authenticity of your documents and activating your card.</li>
</ul>
<br />
<div class='gci-heading gci-heading-3'>Regarding the handset device</div>
<ul style="list-style-type: lower-alpha;">
<li> In India 99% of phones are unlocked. So if you have an unlocked phone that be great, you can replace the SIM and your done.</li>
<li> SIM cards come in two sizes. Do ask for the right sim card and put it in your phone at the counter and see if it detects.</li>
<li> Cheap Android One handsets cost approx $100 dollars.</li>
</ul>
<br />
<div class='gci-heading gci-heading-3'>Where to get the SIM Card?</div>
<ul style="list-style-type: lower-alpha;">
<li> At the Airport after the custom check, OR</li>
<li> In the city at service centers or showrooms. There are plenty and you would be able to find one everywhere.</li>
</ul>
<br />
<div class='gci-heading gci-heading-3'>How to make a call using your new Prepaid SIM Card to US</div>
<ul style="list-style-type: lower-alpha;">
<li> For international calls dial country code + area code + phone number.</li>
</ul>


<br />
<div class='gci-heading gci-heading-2'>How to recharge?</div>
<p>
You can use sites like <a href="http://freecharge.in" target="_blank">http://freecharge.in</a> or <a href="http://paytm.com" target="_blank">http://paytm.com</a> to recharge your phone.
</p>
</div>
<style>
	.sim ul{ list-style-type: lower-alpha; }
	.sim ul li{ padding-bottom:10px; }
</style>