<div class='gci-heading gci-heading-1'>Staff Information</div>

<b>RubyConfIndia Organizers</b>: <a href="mailto:team@rubyconfindia.org" class="gci-link">team@rubyconfindia.org </a>

<div class='gci-heading gci-heading-4 mt-20 mb-20'>If the matter is especially urgent, please call/contact any of these individuals:</div>

<div class="row">
  <div class="col-sm-2 staff">
    <img src="{{ site.github_project_name }}/assets/images/staff/ajey-gore.jpg" alt="Ajey Gore" />
    <div class="title">Ajey Gore</div>
    <div class="twitter"><a href="https://twitter.com/AjeyGore" class="gci-link" target="_blank">@ajeygore</a></div>
    <div class="phone">+919958413789</div>
  </div>

  <div class="col-sm-2 staff">
    <img src="{{ site.github_project_name }}/assets/images/staff/gautam-rege.jpeg" alt="Gautam Rege" />
    <div class="title">Gautam Rege</div>
    <div class="twitter"><a href="https://twitter.com/gautamrege" class="gci-link" target="_blank">@gautamrege</a></div>
    <div class="phone">+919881395656</div>
  </div>

  <div class="col-sm-2 staff">
    <img src="{{ site.github_project_name }}/assets/images/staff/niranjan-paranjape.jpg" alt="Niranjan Paranjape" />
    <div class="title">Niranjan Paranjape</div>
    <div class="twitter"><a href="https://twitter.com/niranjan_p" class="gci-link" target="_blank">@niranjan_p</a></div>
    <div class="phone">+919538998499</div>
  </div>

  <div class="col-sm-2 staff">
    <img src="{{ site.github_project_name }}/assets/images/staff/satish-talim.jpg" alt="Satish Talim" />
    <div class="title">Satish Talim</div>
    <div class="twitter"><a href="https://twitter.com/indianguru" class="gci-link" target="_blank">@indianguru</a></div>
    <div class="phone">+918087766880</div>
  </div>

  <div class="col-sm-2 staff">
    <img src="{{ site.github_project_name }}/assets/images/staff/sidu-ponnappa.jpg" alt="Sidu Ponnappa" />
    <div class="title">Sidu Ponnappa</div>
    <div class="twitter"><a href="https://twitter.com/ponnappa" class="gci-link" target="_blank">@ponnappa</a></div>
    <div class="phone">+919880609867</div>
  </div>

  <div class="col-sm-2 staff">
    <img src="{{ site.github_project_name }}/assets/images/staff/prathamesh-sonpatki.jpg" alt="Prathamesh Sonpatki" />
    <div class="title">Prathamesh Sonpatki</div>
    <div class="twitter"><a href="https://twitter.com/_cha1tanya" class="gci-link" target="_blank">@_cha1tanya</a></div>
    <div class="phone">+919422033142</div>
  </div>

  <div class="col-sm-2 staff">
    <img src="{{ site.github_project_name }}/assets/images/staff/anuja-joshi.jpeg" alt="Anuja Joshi" />
    <div class="title">Anuja Joshi</div>
    <div class="twitter"><a href="https://twitter.com/_anujajoshi" class="gci-link" target="_blank">@_anujajoshi</a></div>
  </div>

  <div class="col-sm-2 staff">
    <img src="{{ site.github_project_name }}/assets/images/staff/shweta-kale.jpg" alt="Shweta Kale" />
    <div class="title">Shweta Kale</div>
    <div class="twitter"><a href="https://twitter.com/shwetakale13" class="gci-link" target="_blank">@shwetakale13</a></div>
  </div>
  
  <div class="col-sm-2 staff">
    <img src="{{ site.github_project_name }}/assets/images/staff/prithviraj-sukale.jpg" alt="Prithviraj Sukale" />
    <div class="title">Prithviraj Sukale</div>
    <div class="twitter"><a href="https://twitter.com/shwetakale13" class="gci-link" target="_blank">@shwetakale13</a></div>
  </div>
  
</div>
<div style="height:80px;">&nbsp;</div>
