<div class='gci-heading gci-heading-1'>RubyConfIndia Talk Schedule</div>
<div>

<div class="col-sm-8">

<p>
<b>This schedule is subject to change as speaker availability changes.</b>
</p>

<div class="panel panel-warning">
  <div class="panel-heading"><i class="glyphicon glyphicon-calendar"></i> Saturday, 19<sup>th</sup> March, 2016</div>
  <div class="panel-body">
  <table class="table">
  <tr>
    <td><i class="glyphicon glyphicon-time"></i> 8:00 AM</td>
    <td>Registration</td>
  </tr>
  <tr>
    <td><i class="glyphicon glyphicon-time"></i> 9:00 AM</td>
    <td>Welcome and House Rules</td>
  </tr>
  <tr>
    <td class="first-col"><i class="glyphicon glyphicon-time"></i> 9:15 AM </td>
    <td class="first-col">Opening Keynote Speaker Matz</td>
  </tr>
  <tr>
    <td><i class="glyphicon glyphicon-time"></i> 10:00 AM</td>
    <td>{% include talk-schedule/talks/prathamesh-sonpatki.html %}</td>    
  </tr>
  <tr>
    <td><i class="glyphicon glyphicon-time"></i> 10:25 AM</td>
    <td>Shobhit Srivastava - "Hidden features in Ruby you may not know about"</td>
  </tr>
    <tr>
      <td class="first-col" colspan="2"><p class="text-center"><i class="fa fa-coffee"></i> Tea Break</p></td>
    </tr>
  <tr>
  <tr>
    <td><i class="glyphicon glyphicon-time"></i> 11:30 AM</td>
    <td>Katrina Owen - "Succession"</td>
  </tr>
  <tr>
    <td><i class="glyphicon glyphicon-time"></i> 11:55 AM</td>
    <td>Sethupathi Asokan - "CodeCuriosity - Making Open Source your Livelihood"</td>
  </tr>
  <tr>
      <td class="first-col" colspan="2"><p class="text-center"><i class="glyphicon glyphicon-cutlery"></i> Lunch Break</p></td>
    </tr>
  <tr>
    <td><i class="glyphicon glyphicon-time"></i> 1:30 PM</td>
    <td>{% include talk-schedule/talks/aaron-cruz.html %}</td>
  </tr>
  <tr>
    <td><i class="glyphicon glyphicon-time"></i> 1:55 PM</td>
    <td>Sumit Mahamuni - "Closer look at method / variable scopes in Ruby"</td>
  </tr>
  <tr>
    <td><i class="glyphicon glyphicon-time"></i> 2:20 PM</td>
    <td>Sumit Das and Shishir Joshi - "Let's Go with Ruby"</td>
  </tr>
  <tr>
      <td class="first-col" colspan="2"><p class="text-center"><i class="fa fa-coffee"></i> Tea Break</p></td>
  </tr>
  <tr>
    <td><i class="glyphicon glyphicon-time"></i> 3:05 PM</td>
    <td>Ruby Hero Award and Sponsors time</td>
  </tr>
  <tr>
    <td><i class="glyphicon glyphicon-time"></i> 3:25 PM</td>
    <td>Sean Griffin - "Databases: What We Can Learn From Other Languages"</td>
  </tr>
  <tr>
    <td><i class="glyphicon glyphicon-time"></i> 3:50 PM</td>
    <td>Sarah Mei - "Factory, Workshop, Stage"</td>
  </tr>
  <tr>
    <td class="last-col"><i class="glyphicon glyphicon-time"></i> 4:35 PM</td>
    <td class="last-col">Lightning Talks</td>
  </tr>
  <tr>
    <td class="last-col"><i class="glyphicon glyphicon-time"></i> 6:30 PM</td>
    <td class="last-col">Party</td>
  </tr>
  </table>
  </div>
</div>

<div class="panel panel-warning">
  <div class="panel-heading"><i class="glyphicon glyphicon-calendar"></i> Sunday, 20<sup>th</sup> March, 2016</div>
  <div class="panel-body">
  <table class="table">
  <tr>
    <td class="first-col"><i class="glyphicon glyphicon-time"></i> 9:45 AM </td>
    <td class="first-col">Laurent Sansonetti</td>
  </tr>
  <tr>
    <td><i class="glyphicon glyphicon-time"></i> 10:30 AM</td>
    <td>Manohar Amrutkar - "Streaming, Spark and Ruby"</td>
  </tr>
  <tr>
      <td class="first-col" colspan="2"><p class="text-center"><i class="fa fa-coffee"></i> Tea Break</p></td>
  </tr>
  <tr>
    <td><i class="glyphicon glyphicon-time"></i> 11:30 AM</td>
    <td>Anuja Ware and Shweta Kale - "To fear or not to fear: That is the question"</td>
  </tr>
  <tr>
    <td><i class="glyphicon glyphicon-time"></i> 11:55 AM</td>
    <td>Vagmi Mudumbai - "Statically typed Ruby"</td>
  </tr>
  <tr>
    <td class="first-col" colspan="2"><p class="text-center"><i class="glyphicon glyphicon-cutlery"></i> Lunch Break</p></td>
  </tr>
  <tr>
    <td><i class="glyphicon glyphicon-time"></i> 1:30 PM</td>
    <td>Abhinandan Kothari and Chirag Aggarwal - "Functional Testing of Mobile Applications using Appium and Ruby"</td>
  </tr>
  <tr>
    <td><i class="glyphicon glyphicon-time"></i> 1:55 PM</td>
    <td>Jon McCartie - "From Facepalm to Foolproof"</td>
  </tr>
  <tr>
    <td class="first-col" colspan="2"><p class="text-center"><i class="fa fa-coffee"></i> Tea Break</p></td>
  </tr>
  <tr>
    <td><i class="glyphicon glyphicon-time"></i> 2:45 PM</td>
    <td>Rishi Jain - "A programmers guide to Music"</td>
  </tr>
  <tr>
    <td><i class="glyphicon glyphicon-time"></i> 3:10 PM</td>
    <td>Charles Nutter - "Ruby Performance: The Last Mile"</td>
  </tr>
  <tr>
    <td><i class="glyphicon glyphicon-time"></i> 3:55 PM</td>
    <td>Vote of Thanks</td>
  </tr>
  
  </table>
  </div>
</div>
<div class="col-sm-4">
</div>
</div>
</div>

<style>
.panel-warning { border-color: #292c33; }
.panel-warning .panel-heading { color: #FFFFFF; background-color: #292c33; border-color: #292c33; }

.heading-style1{ padding-bottom:30px; text-align:center; text-transform:none; }
.gopherConIndia-supporters a{display:block; margin:10px auto; text-align:center;}

table.table .first-col{border-top-width:0px;}
table.table .last-col{border-bottom:1px solid #ddd;}
table.table tbody tr td:first-child{ white-space:nowrap; }
table.table tbody tr td p{ padding-top:12px; }

.modal{ padding-top:6%; overflow:auto; }
.modal-lg{ width:78%; }
.modal-content{ border-radius:0px; }

.modal-content .modal-body h2{ padding-bottom:0px; margin-bottom:0px; text-transform:none; letter-spacing:0.1px; }
.modal-content .modal-body .modal-desc{ font-size:13px; margin-bottom:20px; font-weight:bold; }
.modal-content .modal-body .modal-desc i{ color:#D18339; }
.modal-content .modal-body p{ padding-top:0px; margin:0px 0px 20px 0px; font-size:16px; }

.modal-content .modal-body .image-box {
    border-radius: 50%;
  width:120px;
  height:120px;
  background-position:center center;
  background-size:cover;
    border: 5px solid #2A2D32;
  display:block;
    overflow: hidden
}


.modal-content .modal-body .name{ font-weight:bold; display:block; font-size:16px; }
.modal-content .modal-body .company{ font-weight:bold; display:block; font-size:14px; }
.modal-content .modal-body .speaker-desc{ font-size:13px; }

</style>
