<div class='gci-heading gci-heading-1'>Visa Requirements</div>
<p>A Tourist visa is given to those visiting India for tourism or other non-business related purposes. You should apply for a Tourist Visa only.</p>
<p>e-Tourist Visa Facility is available for <a href="https://indianvisaonline.gov.in/visa/tvoa.html" target="_blank">some Nationalities</a>.</p>
<p>The GopherConIndia organizers are happy to provide an invitation letter if you need one; we do suggest, however, that you check with your local embassy or consulate, as requirements differ from country to country. Do apply for your Indian Tourist Visa definitely by mid Nov. 2016.</p>

<div class='gci-heading gci-heading-2'>Resources</div>
<ul>
  <li><a href="https://www.indian-visa.com/guidelines?id=3" target="_blank">India Visa</a></li>
  <li><a href="http://www.immihelp.com/nri/indiavisa/tourist-visa-india.html" target="_blank">ImmiHelp</a></li>
  <li><a href="http://india.travisa.com/" target="_blank">TraVisa</a></li>
</ul>