<div class='gci-heading gci-heading-1'>Travelling to Bengaluru</div>

<p>Bengaluru also known as Bengaluru, is the capital of the Indian state of Karnataka. It is India's third-largest city. Once called the "Garden City of India" and the "Pensioner's Paradise", these epithets no longer apply to Bengaluru. Bengaluru is the major center of India's IT industry, popularly known as the <em>Silicon Valley of India</em>.</p>

<div class='gci-heading gci-heading-2'>By Air</div>
<p><a href="http://www.bengaluruairport.com/home.jspx" target="_blank">Bengaluru International Airport</a> (IATA: BLR), is 40 km (25 mi) from the central business district of Bengaluru (MG Road) and 30 km (19 mi) from the Bengaluru City Railway Station.
</p>

<p>
  The new airport is among India's busiest and most modern. The airport is host to 10 domestic airlines and 21 international airlines connecting the city to about 50 destinations across India and the rest of the world.
</p>

<p>When departing from Bengaluru airport, make sure to check restrictions on times for baggage check-in, and make sure to bring a printout of your boarding pass with you to the airport. For flights leaving in the early morning hours (such as 3am) you may need to check bags as much as 2.5 hours in advance.</p>

<div class='gci-heading gci-heading-2'>From airport to Bengaluru city</div>
<p><b>Post-paid taxi</b> services are available. The taxi operators will have basic A/C cars, all equipped with tracking devices to ensure safety and transparency. Both operators have professional call centres. Hence, guests traveling to the airport can call the cab call centres and a cab will pick them up and drop them at the airport. For travelers arriving at the airport, there is a dedicated taxi holding area. These are by far the best and most convenient mode of transport from the airport.</p>
<p>There is another more trusted taxi brand from the Karnataka State Government which is called KSTDC cabs. You can find the queue for KSTDC cabs as soon as you exit from the airport arrival hall.</p>
<p><b>Pre-paid taxi</b> service provide pre paid Limousine and car rental facilities through counters at the terminal building.</p>
<p><b>Hotel pick-up</b>. Another option is to arrange with your hotel in Bengaluru to have a driver pick you up at the airport. Some hotels, especially the higher-end ones, provide this service for free if you are staying with them. If it's your first time traveling to Bengaluru, this is the recommended way to get from the airport to your hotel. The driver will be found outside the airport with a card bearing your name.</p>

<div class='gci-heading gci-heading-2'>By Rail</div>
<p>Bengaluru has two major railway terminals. The Bengaluru City (IR station code: SBC) railway station is situated in the heart of the city, opposite the Majestic Bus stand. Most trains, both local and long-distance, arrive and depart from here. The other terminal is Yeshwantpur Junction (IR station code: YPR) located on NH-4 (Tumkur Road). A few (mostly long-distance) trains arrive and depart from here. Two smaller railway terminals are Bengaluru East (IR station code: BNCE) and Bengaluru Cantonment (IR station code: BNC).Of late Krishnarajapuram (KJM) has become an important stop owing to proximity of IT companies and the ring road just passing close to the station and well connected by buses to major parts. It also forms the 1st stop for majority trains leaving Yeshvantapur towards Jolarpettai. If you arrive at Yeshwantpur Junction, you will need to take a taxi or auto rickshaw to get into the city.</p>

<div class='gci-heading gci-heading-2'>By Bus</div>
<p>If you have difficulty in arranging a plane or railway ticket to your next destination, or you prefer a little more adventure, you can go by bus. There are both government and private buses that run services to major cities like Mumbai, Goa, Chennai, Mangalore, Coimbatore, Madurai, Tirupati, Hyderabad, etc. Buses can be a normal luxury bus, a Volvo A/C bus or a sleeper bus for night travel.</p>

<div class='gci-heading gci-heading-2'>Get a Cab within Bengaluru</div>
<ul class="list-group col-lg-4">
	<li class="list-group-item">OLA Cabs Phone: +91 80 3355 3355</li>
	<li class="list-group-item">Meru Cabs Phone: +91 80 4422 4422</li>
	<li class="list-group-item">Taxi for Sure Phone: +91 80 6060 1010</li>
	<li class="list-group-item">Easy Cabs Phone: +91 80 4343 4343</li>
	<li class="list-group-item">Fast Track Taxi Phone: +91 80 2888 9999</li>
</ul>

<br clear="all" />
<p><b>Reference</b>: <a href="http://wikitravel.org/en/Bangalore" target="_blank">http://wikitravel.org/en/Bangalore</a></p>
