<div class='gci-heading gci-heading-1'>Travelling to Kochi</div>

<p>Kochi (formerly called as Cochin) is a port city of the southern state of Kerala. Kochi is located on the west coast of India by the Arabian Sea. The city is about 206 km north of Thiruvananthapuram the state's capital. Kochi is easily accessible by air, rail and road.</p>

<div class='gci-heading gci-heading-2'>By Air</div>
<p>The city has an international airport; it is known as the Cochin International Airport. The airport is located in Nedumbassery about 38 km from Kochi main city.

About 9 domestic and 17 international airlines connect with this airport. Bus and taxi services are easily available to travel from the airport.

The city also has a second airport which is a Defence Airbase and is not open to the public. Find Flights to Kochi
</p>

<div class='gci-heading gci-heading-2'>By Rail</div>
<p>Kochi has two major railway stations; they are the Ernakulam Junction and Ernakulam Town. The Southern Railway Zone of the Indian Railways caters to the city of Kochi. The railways stations at Aluva, Thripunithura, Kalamassery, Kumbalam, Nettoor and Aroor serve the city outskirts and surrounding metropolitan area. Kochi is well linked with major cities and states of India. </p>

<div class='gci-heading gci-heading-2'>By Bus</div>
<p>Kochi is well connected by road to adjoining cities and states via several state and national highways. Kochi is well link with the National Highway number 47, 17, 49, 47A and 47C. The city is also well connected with several state highways. Buses and taxis services are available daily in Kochi. </p>

<div class='gci-heading gci-heading-2'>City Transport</div>
<p>Taxis can be hired from taxi stands located all over the city. Major taxi stands are located outside the city railway stations. Other options are auto-rickshaws and private rent-a-cars and bikes. The city has private bus operators and the state public transport KSRTC (Kerala State Road Transport Corporation). Find Flights to Kochi</p>

<br clear="all" />
<div class='gci-heading gci-heading-1'>How to reach the venue</div>

<div class='gci-heading gci-heading-2'>From Airport</div>

<p>Le Meridien is located about 38km from the airport. There are prepaid taxis available at the airport (costing around Rs. 1000).</p>

<p>There are also buses available to Kochi from the airport. Buses to Ernakulam, Vyttila or Fort Kochi will take you to Vyttila, which is about 4km from the hotel. From here, you can take a taxi or an auto-rickshaw to the hotel.</p>

<ul>
    <li><a href="http://cial.aero/contents/viewcontent.aspx?linkLvl1Id=17&linkid=103">Bus timings</a></li>
</ul>

<div class='gci-heading gci-heading-2'>From train stations</div>

<p>Kochi has two main train stations - Ernakulam Town (also called Ernakulam North), which is 10km from the venue, and Ernakulam Junction (or Ernakulam South), which is about 8km away. You can travel by prepaid taxi or auto rickshaw from either station.</p>

<div class='gci-heading gci-heading-2'>From bus stand</div>

<p>If you're traveling by bus to Kochi, most buses will take you to Vyttila Hub, which is about 4km from the venue. You can take a taxi or an auto rickshaw from here.</p>
