

<div class='gci-heading gci-heading-1'>Travelling to Kochi</div>

  <p>If you’re planning to visit Kochi for Rubyconf India 2017,
here are some frequently asked questions.
If you have a question that is not answered on this page,
please ask the question on the
<a href="https://groups.google.com/forum/#!forum/kerala-ruby-users-group">Kerala Ruby mailing list</a>.</p>

<div class="gci-heading gci-heading-2" id="traveling-to-kochi">Reaching Kochi</div>

<p>Kochi (also known as Cochin) is a port city of the southern state of Kerala.
Kochi is located on the west coast of India by the Arabian Sea.
The city is about 206 km north of Thiruvananthapuram, the state’s capital.
Kochi is easily accessible by air, rail and road.</p>

<div class="gci-heading gci-heading-3" id="by-air">By air</div>

<p>The city has an international airport; it is known as the Cochin International Airport.
The airport is located in Nedumbassery, about 38 km from Kochi main city.
About 9 domestic and 17 international airlines connect with this airport.
Bus and taxi services are easily available to travel from the airport.
The city also has a second airport which is a Defence Airbase and is not open to the public.</p>

<div class="gci-heading gci-heading-3" id="by-train">By Train</div>

<p>Kochi is well linked with major cities and states of India.
Kochi has two major railway stations; they are the Ernakulam Junction and Ernakulam Town.
The railways stations at Aluva, Thripunithura, Kalamassery, Kumbalam, Nettoor and Aroor
serve the city outskirts and surrounding metropolitan area.</p>

<div class="gci-heading gci-heading-3" id="by-bus">By Bus</div>

<p>Kochi is well connected by road to adjoining cities and states via several state and national highways.
Kochi is well link with the National Highway number 47, 17, 49, 47A and 47C.
The city is also well connected with several state highways.
Buses and taxis services are available daily in Kochi.</p>

<div class="gci-heading gci-heading-2" id="city-trasportation">City Transportation</div>

<p>The city has private bus operators and the state public transport KSRTC (Kerala State Road Transport Corporation).
(Some of the buses may not have signs in English.)</p>

<p>Uber and Ola Cabs apps can be used for hiring cabs within the city.</p>

<p>Taxis can also be hired from taxi stands located all over the city.
Other options are auto-rickshaws and private rent-a-cars and bikes.
You can find taxi and auto rickshaw stands outside the city railway stations.</p>

<div class="gci-heading gci-heading-2" id="how-to-reach-the-venue">How to reach the venue</div>

<p>The venue for the conference is Le Meridien.</p>

<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3259.21227484587!2d76.3142845334748!3d9.935320436146053!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3b0872fe2d56e867%3A0xd1920a60a7435a58!2sLe+M%C3%A9ridien+Kochi!5e0!3m2!1sen!2s!4v1481018080586" width="600" height="450" frameborder="0" style="border:0" allowfullscreen=""></iframe>

<br/>
<br/>

<div class="gci-heading gci-heading-3" id="from-airport">From Airport</div>

<p>Le Meridien is located about 38km from the airport. There are prepaid taxis
available at the airport (costing around Rs. 1000). There are taxi booking
counters at both the domestic and international terminals. You can also
contact them at +91 484 2610115 (Extn: 2242).</p>

<p>You can also book cabs using Uber or Ola Cabs apps in Kochi.</p>

<p>Buses are available to Kochi from the airport. Buses to Ernakulam, Vyttila or
Fort Kochi will take you to Vyttila, which is about 4km from the hotel. From
here, you can take a taxi or an auto-rickshaw to the hotel.</p>

<ul>
  <li><a href="http://cial.aero/contents/viewcontent.aspx?linkLvl1Id=17&amp;linkid=103">Bus timings from the airport</a></li>
</ul>

<div class="gci-heading gci-heading-3" id="from-train-stations">From train stations</div>

<p>Kochi has two main train stations - Ernakulam Town (also called Ernakulam
North), which is 10km from the venue, and Ernakulam Junction (or Ernakulam
South), which is about 8km away. You can travel by prepaid taxi or auto
rickshaw from either station.</p>

<div class="gci-heading gci-heading-3" id="from-bus-stand">From bus stand</div>

<p>If you’re traveling by bus to Kochi, most buses will take you to Vyttila Hub,
which is about 4km from the venue. You can take a taxi or an auto rickshaw
from here.</p>

<div class="gci-heading gci-heading-2" id="power-socket">Power socket</div>

<p><a href="http://www.worldstandards.eu/electricity/plugs-and-sockets/">Type C, D, M</a> -
220V, 50Hz.</p>

<div class="gci-heading gci-heading-2" id="communication">Communication</div>

<p>The local language is Malayalam, but many people in Kochi can communicate in English.</p>

<div class="gci-heading gci-heading-2" id="money">Money</div>

<p>If you’re traveling to India from abroad,
please note that India withdrew old currency denominations of Rs. 500 and 1000 in Nov 2016.
As a result, there might be restrictions on how much cash you can withdraw from ATMs.
Use your credit/debit card, whenever possible.</p>

<p>The Rupee is available in denominations of Rs. 5, 10, 20, 50, 100, 500 and 2000.
Coins are available in denominations of Rs. 1, 2, 5 and 10.</p>

<div class="gci-heading gci-heading-2" id="weather">Weather</div>

<p>Kochi has tropical weather, and it is generally quite hot and humid.
January is relatively cooler, with daily temperatures in the range 22-32C (72-90F).</p>

<div class="gci-heading gci-heading-2" id="sim-cards">SIM cards</div>

<p>If you’re visiting from outside India, and need a SIM card while you’re in India,
you can purchase a SIM card from kiosks at the Cochin airport.</p>

<ul>
  <li><a href="http://www.padhaaro.com/2013/11/26/buy-use-sim-card-india-foreigner/">How to Buy and Use a SIM Card in India as a foreigner</a></li>
  <li><a href="http://10yearitch.com/india-travel-advice/buying-and-using-a-sim-card-in-india/">Buying and Using a SIM Card in India</a></li>
</ul>

<p>It might take 24-48 hours for new SIM cards to be activated.</p>

<div class="gci-heading gci-heading-2" id="sighseeing">Sightseeing</div>

<p>Some places to visit in Kochi:</p>

<ul>
  <li><a href="https://www.kochimuzirisbiennale.org">Kochi Muziris Biennale</a></li>
  <li><a href="https://en.wikipedia.org/wiki/Fort_Kochi#Main_Tourist_Attractions">Fort Kochi</a></li>
  <li><a href="raw://en.wikipedia.org/wiki/Marine_Drive,_Kochi">Marine Drive</a></li>
  <li><a href="https://en.wikipedia.org/wiki/Hill_Palace,_Tripunithura">Hill Palace, Tripunithura</a></li>
  <li><a href="https://www.cleartrip.com/activities/india/kochi/houseboats-in-kochi/">Houseboats</a></li>
</ul>

<p>Blog posts:</p>

<ul>
  <li><a href="http://www.indiatimes.com/culture/travel/10-fascinating-spots-in-god-s-own-country-that-you-must-explore-263897.html">10 Fascinating Spots In God’s Own Country That You Must Explore</a></li>
</ul>

<p>Other activities nearby:</p>

<ul>
  <li><a href="http://www.wonderla.com/kochi-amusement-park/">Wonderla Amusement Park</a></li>
  <li><a href="https://www.cleartrip.com/activities/india/kochi/go-karting-15-minutes-777080/">Go-karting</a></li>
  <li><a href="http://www.paintballkerala.com">Paintball</a></li>
</ul>

<p>If you have a day or two before or after the conference,
you might want to visit some of these places.</p>

<ul>
  <li>Aleppey (53 km away)</li>
  <li>Munnar (130km away)</li>
  <li>Guruvayoor (93km away)</li>
</ul>

<div class="gci-heading gci-heading-2" id="food-recommendations">Food recommendations</div>

<p>While you’re in Kochi, make sure that you try out the Kerala cuisine.
If you’re staying in Le Meridien, there are two restaurants in the hotel -
<a href="https://www.zomato.com/kochi/latest-recipe-le-méridien-kochi-marad">Latest Recipe</a> and
<a href="https://www.zomato.com/kochi/ember-le-méridien-hotel-marad">Ember</a>
where you can try local cuisine.</p>

<p>Some of the other places you can try in Kochi:</p>

<ul>
  <li><a href="https://www.zomato.com/kochi/dhe-puttu-edappally">Dhe Puttu</a> -
Try out the different varieties of <a href="https://en.wikipedia.org/wiki/Puttu">Puttu</a>.</li>
  <li><a href="https://www.zomato.com/kochi/nawras-seafood-restaurant-chittor-road">Nawras</a> -
One of the best places to try out local seafood recipes.</li>
</ul>

<div class="gci-heading gci-heading-2" id="other-links">Other links</div>

<ul>
  <li><a href="https://www.keralatourism.org/things-to-note.php">Kochi: Travel Tips</a></li>
  <li><a href="http://wikitravel.org/en/Kochi">Kochi - Wikitravel</a></li>
</ul>

