<!--Venue Section-->
<div class='gci-heading gci-heading-1'>Venue</div>

<div class="col-sm-4">
  <a href="http://chanceryhotels.com/accommodation/">The Chancery Pavilion Hotel</a><br />
  135, Residency Road, Bengaluru,<br/>
  Karnataka 560025<br/>
  Tel:080 4141 4141<br />
</div>

<div class="col-sm-8">
  <!-- <p>Kochi, also known as Cochin (KO-chin), is a major port city on the south west coast of India by the Arabian Sea and is part of the district of Ernakulam in the state of Kerala.</p>
       <p>Known as the Queen of the Arabian Sea, Kochi was an important spice trading centre on the west coast of India from the 14th century</p>
  <p>Look for spicy dishes flavoured with tamarind and coconut in Kochi, and don’t be surprised if your dinner is served up on a banana leaf. The region is a major banana-growing area, and traditional Kochi cuisine employs the fruit in many dishes, both sweet and savoury. Coconut water provides a refreshing and sweet contrast to the piquant food. </p> -->
</div>

<div class="col-sm-12">
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1944.0435637070404!2d77.59747217580069!3d12.966276411524188!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae15d7b63cf2eb%3A0x8f7b9a58eea12c1b!2sThe+Chancery+Pavilion!5e0!3m2!1sen!2sin!4v1507539324178" width="100%" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>
