<!--Venue Section-->
<div class='gci-heading gci-heading-1'>Venue</div>

<div class="col-sm-4">
  <a href="http://www.lemeridienkochi.com/">Le Meridian Kochi</a><br />
  Kundannoor, Maradu, </br>
  Ernakulam, Kerala 682304</br>
  Tel:(91)(484) 270 5777<br />
</div>

<div class="col-sm-8">
  <p>Kochi, also known as Cochin (KO-chin), is a major port city on the south west coast of India by the Arabian Sea and is part of the district of Ernakulam in the state of Kerala.</p>
  <p>Known as the Queen of the Arabian Sea, Kochi was an important spice trading centre on the west coast of India from the 14th century</p>
  <p>Look for spicy dishes flavoured with tamarind and coconut in Kochi, and don’t be surprised if your dinner is served up on a banana leaf. The region is a major banana-growing area, and traditional Kochi cuisine employs the fruit in many dishes, both sweet and savoury. Coconut water provides a refreshing and sweet contrast to the piquant food. </p>
</div>

<div class="col-sm-12">
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3929.999747861992!2d76.31451131479366!3d9.933978092896426!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3b0872fe2d56e867%3A0xd1920a60a7435a58!2sLe+Meridien+Kochi!5e0!3m2!1sen!2sin!4v1452496629205" width="100%" height="300" frameborder="0" style="border:0"></iframe>
</div>

