<!--Venue Section-->
<div class='gci-heading gci-heading-1'>Venue</div>

<div class="col-sm-4">
  <a href="http://www.vivantabytaj.com/">Vivanta by Taj</a><br />
  41/3 Mahatma Gandhi Road,<br />
  Bengaluru 560 001, Karnataka, India<br />
  Tel:+918066604444<br />
  Fax:+918066614444<br />
  Email: <a href="mailto:praful.narchal@tajhotels.com">Mukut Chakravarti - Director of Sales</a><br />
  <a href="https://www.yourreservation.net/tb3/?bf=Taj_Corporate&iataNumber=COR1100312&rateAccessCode=*G1$&choosehotel=HLTBLRTR&arrivalDate=2016-02-15">Book your hotel room</a> at heavily discounted rate.<br />
</div>

<div class="col-sm-8">
  <p>Bengaluru is the most sought out cosmopolitan city in India and best known for making people from all over the world feel at home.</p>
  <p>Bengaluru, the Silicon Valley of India, is the ideal location for our first Indian Go conference. With being host to all global software companies for many many years, Bengaluru boasts some of the best world-class restaurants and great nightlife to round out your conference downtime.</p>
  <p>No wonder, it's termed as the Software and Party Hub of India. What a way to experience this, along with Bengaluru hosting a Go Conference for the first time in India.</p>
</div>

<div class="col-sm-12">
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3887.9771383492325!2d77.619691!3d12.973314!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae1686b281d2a3%3A0xfe17a276bcf050c5!2sVivanta+By+Taj+-+MG+Road%2C+Bangalore!5e0!3m2!1sen!2sin!4v1437881383756" width="100%" height="300" frameborder="0" style="border:0"></iframe>
</div>

