<div class='gci-heading gci-heading-1'>Gallery</div>
<!-- <h4 class="normal-transform">Images</h4>
<div class="row">
  <div class="col-sm-2 staff">
    <h1><a href="https://plus.google.com/photos/110396546927072297938/albums/6120386773375892385" target="_blank">2015</a></h1>
    <div>Bangalore</div>
  </div>
</div><br><br>

<h4 class="normal-transform">Videos</h4>
<div class="row">
  <div class="col-sm-2 staff">
    <h1><a href="https://www.youtube.com/playlist?list=PLxFC1MYuNgJTY3uQ5Ja4F5Sz305nnrBOq" target="_blank">2015</a></h1>
    <div>Bangalore</div>
  </div>
</div> -->

<div class="row">
  <div class="col-sm-2 staff blue-color box-hight">
    <div class="text-color">
    	<p class="big">2015</p>
        <h6>Bangalore</h6>
        <a href="https://plus.google.com/photos/110396546927072297938/albums/6120386773375892385" target="_blank"><i class="fa fa-picture-o"></i></a>
        <a class="border-left-image" href="https://www.youtube.com/playlist?list=PLxFC1MYuNgJTY3uQ5Ja4F5Sz305nnrBOq" target="_blank"><i class="fa fa-video-camera"></i></a></h1>
    </div>
  </div>
</div>

<div class="clearfix" style="height:100px;"></div>