.list-title {
  text-align: center;
  color: $gray;
  font-weight: 200;
  line-height: 20px;
  font-size: 24px;
  border-top: solid 1px $gray;
  margin: 60px 0 20px 0;

  span {
    display: block;
    margin: 0 auto;
    margin-top: -12px;
    background: $white;
    width: 200px;
  }
}

.speakers,
.partners {
  display: block;
  margin: 0;
  padding: 0;
  text-align: center;

  li {
    display: inline-block;
    position: relative;
    list-style-type: none;
    margin: 12px;
    padding: 0;
    width: 200px;
  }  
}

.speakers {
  h3,
  h4 {
    margin: 0;
    text-align: left;
    font-size: 16px;
    line-height: 21px;
  }

  h3 {
    margin-top: 4px;
    color: $red;
  }

  h4 {
    color: $gray;
  }

  a.twitter,
  a.github {
    position: absolute;
    top: 185px;
    right: 6px;
  }

  a.github {
    right: 44px;
  }
}

.partners {
  li {
    margin: 12px 36px;
  }
}