.list-title {
  text-align: center;
  color: $gray;
  font-weight: 200;
  line-height: 20px;
  font-size: 24px;
  border-top: solid 1px $gray;
  margin: 60px 0 20px 0;

  span {
    display: block;
    margin: 0 auto;
    margin-top: -12px;
    background: $white;
    width: 200px;
  }
}

.speakers,
.partners,
.sponsors {
  display: block;
  margin: 0;
  padding: 0;
  text-align: center;

  img {
    max-width: 100%;
  }

  li {
    display: inline-block;
    position: relative;
    list-style-type: none;
    margin: 12px;
    padding: 0;
    width: 120px;
    text-align: center;

    @include breakpoint($tablet-small) {
      width: 160px;
    }

    @include breakpoint($pc) {
      width: 200px;
    }
  }  
}

.speakers {
  h3,
  h4 {
    margin: 0;
    text-align: left;
    font-size: 16px;
    line-height: 21px;
  }

  h3 {
    margin-top: 4px;
    color: $red;
  }

  h4 {
    color: $gray;
  }

  a.twitter,
  a.github {
    position: absolute;
    top: 105px;
    right: 6px;

    @include breakpoint($tablet-small) {
      top: 145px;
    }

    @include breakpoint($pc) {
      top: 185px;
    }
  }

  a.github {
    right: 44px;
  }
}

.partners {
  li {
    padding: 6px 18px;
    margin: 0;
    width: 100%;

    @include breakpoint($tablet-small) {
      padding: 9px 27px;
      width: 46%;
    }

    @include breakpoint($tablet) {
      width: 30%;
    }
  }

  span {
    padding: 2px 6px;
    background: $gray-xxxlight;
    color: $gray;
    border-radius: 2px;
    text-transform: uppercase;
    font-size: 14px;

  }
}

.sponsors {
  &.gold {
    li {
      padding: 6px 18px;
      margin: 0;
      width: 100%;

      @include breakpoint($tablet-small) {
        padding: 9px 27px;
        width: 46%;
      }

      .twitter,
      .github {
        display: block;
        position: absolute;
        bottom: 0;
        right: 0;
      }

      .github {
        right: 40px;
      }
    }    
  }

  &.silver {
    li {
     padding: 6px 18px;
      margin: 0;
      width: 50%;

      @include breakpoint($tablet-small) {
        padding: 9px 27px;
        width: 30%;
      }

      @include breakpoint($tablet) {
        width: 23%;
      }
     
    }
  }

  &.associate {
    li {
     padding: 6px 18px;
      margin: 0;
      width: 30%;

      @include breakpoint($tablet-small) {
        padding: 9px 27px;
        width: 23%;
      }

      @include breakpoint($tablet) {
        width: 19%;
      }
     
    }
  }
}