#schedule-page {
  .header {
    text-align: center;
    color: #666666;
    font-weight: 200;
    line-height: 20px;
    font-size: 24px;
    border-top: solid 1px #666666;
    margin: 60px 0 20px 0;
  }

  .day {
    display: block;
    margin: 0 auto;
    margin-top: -12px;
    background: #fff;
    width: 200px;
  }

  .highlight {
    font-size: 24px;
    font-weight: bold;
    border: none;
  }

  ul {
    list-style: none;
    padding: 10px;
    width: 80%;
    margin: 0 10%;
  }

  .slot {
    @include clearfix;
    &:nth-child(even) {
      background: #E6E6E6;
    }
  }

  .time, .talk {
    float: left;
    margin: 20px 2%;
  }

  .time {
    width: 20%;
  }

  .talk {
    width: 72%;
  }

  .presenter {
    font-style: italic;
    padding: 10px;
    &:before {
      content: "By - "
    }
  }

  .org {
    font-weight: bold;
  }
}