<section id="about" class="container content-section homepage">
  <div class="row">
	<div class="col-lg-3 sticker">

	</div>
    <div class="col-lg-9">
      <div class="clear-fix">

        <div style="overflow: hidden; padding-top:30px; padding-left:20px;">
          <h2>About RubyConf India</h2>
          <div class="head-first-ever"> RubyConf India is a global event complementing other RubyConf events across the world.</div>
          <p class="home-paragraph">This year our event is a 2 day, single track event focused on Ruby Language, Framework and Tools.
            While we welcome all kinds of talks, we would love to have more talks around Ruby and experience reports around big data with Ruby.</p>
          <p class="home-paragraph">Our CFP is closed now and we are lining up speakers from well known international and Indian Ruby community.
            </a></p >
          <p class="home-paragraph">Student Scholars: Please submit your applications for attending Ruby Conf India. See more details on the <a href="/scholarship">student scholarship</a> page.</p >
          <p class="strong">Note: The conference is entirely in English.</p>
        </div>
      </div>
    </div>
  </div>
</section>
