<section id="about" class="container content-section homepage">
  <div class="row">
	<div class="col-lg-3 sticker">
			<span class="text-center pull-right">
				<!--<img src="{{ site.github_project_name }}/images/gophercon-con-logo.png" alt="gophercon" style="margin-top:36px;"/>-->
				<img src="{{ site.github_project_name }}/images/gopher-150.png" alt="gophercon" style="margin-top:100px;"/>
				<span style="display:block; font-size:10px;margin-top:16px;">POWERED BY</span>
				<a href="http://minio.io/" target="_blank"><img src="{{ site.github_project_name }}/images/minio-white.png" alt="Minio.io" style="margin-top:10px;"/></a>
			</span>
	</div>
    <div class="col-lg-9">
      <div class="clear-fix">

        <div style="overflow: hidden; padding-top:30px; padding-left:20px;">
          <h2>About RubyConf India</h2>
          <div class="head-first-ever"> RubyConf India is a global event complementing other RubyConf events across the world.</div>
          <p class="home-paragraph">This year our event is a 2 day, single track event focussed on Ruby Language, Framework and Tools.
            While we welcome all kinds of talks, we would love to have more talks around Ruby and experience reports around big data with Ruby.</p>
          <p class="home-paragraph">We are lining up speakers from well known international community.
            Please don't forget to submit your RFP when it opens on 5th December here. </p >
          <p class="strong">Note: The conference is entirely in English.</p>
        </div>
      </div>
    </div>
  </div>
</section>
