<section class="intro">
    <div class="intro-body">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">

                </div>
                <div class="col-lg-9">
                    <div class="clear-fix">

                        <h1 class="brand-heading">RUBY<span class="dark">CONF</span></h1>
                        <div class="col-sm-8">
                            <h4 class="white">INDIA 2017</h4>
                            <p class="intro-text">This year RubyConf India is going to be at God's own country, Kerala!,
                                Welcome! </p>
                            <p class="strong">Le Meridien, Kochi. 27-29 January 2017</p>
                        </div>


                        <div class="col-sm-9" style="font-size:12px;">
                            <div class="col-sm-3 text-left">
                                <ul class="list-inline banner-social-buttons">
                                    <li>
                                        <a href="https://twitter.com/rubyconfindia" class="btn btn-default btn-lg"
                                           target="_blank"><i class="fa fa-twitter fa-fw"></i></a>
                                    </li>
                                    <li>
                                        <a href="https://www.facebook.com/rubyconfindia/" class="btn btn-default btn-lg"
                                           target="_blank"><i class="fa fa-facebook fa-fw"></i></a>
                                    </li>

                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
</section>
