<section class="intro">
  <div class="intro-body">
    <div class="container">
      <div class="row">
		<div class="col-lg-3 sticker">
			<span class="text-center pull-right">
				<img src="{{ site.github_project_name }}/images/gopher-150.png" alt="gophercon" style="margin-top:100px;"/>
				<span style="display:block; font-size:10px;margin-top:20px;">POWERED BY</span>
				<a href="http://minio.io/" target="_blank"><img src="{{ site.github_project_name }}/images/minio-white.png" alt="gophercon" style="margin-top:8px;width:124px;"/></a>
			</span>

		</div>
        <div class="col-lg-9">
		<div class="clear-fix">

          <h1 class="brand-heading">RUBY<span class="dark">CONF</span></h1>
		   <div class="col-sm-8">
          <h4 class="white">INDIA 2016</h4>
          <p class="intro-text">This year RubyConf India is going to be at God's own country! Kerala, Welcome! </p>
          <p class="strong">Le Meridien, Kochi. 19-20 March 2016</p>

          <div class="give-talk-img">
            <a href="{{ site.github_project_name }}/registration-information/">
              <img src="{{ site.github_project_name }}/images/a-register.png" alt="talk-image" />
            </a>
			<a href="{{ site.github_project_name }}/gopher-month/">
              <img src="{{ site.github_project_name }}/images/a-gomonth.png" alt="talk-image">
            </a>
			<br />
          </div>

		  </div>


		  <div class="col-sm-9" style="font-size:12px;">
		  <!--
		  <div> Track GopherCon India at <a href="http://lanyrd.com/2015/gopherconindia/" target="_blank">Lanyrd.com </a></div>
          <div>(GopherCon India is grateful for the support of Google's <a href="https://twitter.com/enneff" target="_blank">Andrew Gerrand</a>. Also thanks to <a href="https://twitter.com/mattetti" target="_blank">Matt Aimonetti</a> and the GopherCon organizers, <a href="https://twitter.com/erikstmartin" target="_blank">Erik St. Martin</a> and <a href="https://twitter.com/bketelsen" target="_blank">Brian Ketelsen</a>. <a href="http://gopherconindia.sourcegraph.com/" target="_blank">Live blogging</a> from 19-21 Feb. 2015 will be done by <a href="https://twitter.com/srcgraph" target="_blank">Sourcegraph</a>.)</div>
		  </div>
          -->
		      <div class="col-sm-3 text-right">
			      <ul class="list-inline banner-social-buttons">
              <li><a href="https://twitter.com/GopherConIndia" class="btn btn-default btn-sm" target="_blank"><i class="fa fa-twitter fa-fw"></i></a> </li>
              <li><a href="https://www.facebook.com/pages/Gopherconindia/732057883513320" class="btn btn-default btn-sm" target="_blank"><i class="fa fa-facebook fa-fw"></i></a> </li>
              <li><a href="https://plus.google.com/u/0/+GopherconIndia/posts" class="btn btn-default btn-sm" target="_blank"><i class="fa fa-google-plus fa-fw"></i></a> </li>
            </ul>
		      </div>
		    </div>
      </div>
    </div>
  </div>
</section>
<!--
<div class="QR" >
<a href="#" class="closeQR"><i class="fa fa-angle-right"></i></a>
<a class="pull-right" href="https://play.google.com/store/apps/details?id=com.dyulok.android.townscriptapp&hl=en" target="_blank"><img src="{{ site.github_project_name }}/images/download-our-event-app.png" alt="Download our Event App" style="height:350px;" class="img-responsive" /></a>
</div>
-->
