<section id="speakers" class="content-section text-center download-section homepage">
  <div class="container">
    <h2 class="speaker-title">Speakers</h2>
    <p class="home-paragraph">We're looking for speakers who wish to give a
      talk at RubyConf India 2019. If you're interested kindly send your <a
      href="https://www.papercall.io/rci19" target="_blank">talk proposal</a> today.</p>
    <!-- <p class="home-paragraph last">Our CFP is closed now and we are reviewing the proposals. We will announce the speakers soon.</b></p> -->
    <br/>
    <br/>
    <div class="speakers-wrapper text-left">
      <div class="row speaker">
        <div class="col-sm-2 image center">
          <div class="image-box">
            <img alt="speaker image" src="/assets/images/speakers/balakumar.jpg">
          </div>
        </div>
        <div class="col-sm-10">
          <p class="name">Bala Kumar</p>
          <p class="company"><a href="https://twitter.com/sribalakumar" target="_blank">@sribalakumar</a></p>
          <p class="about-speaker">Product developer turned Site reliability Engineer, scaling systems for Freshworks. Been using Ruby & Rails for the last 5 years. Besides tech he volunteers with Bhumi to teach kids on programming fundamentals and his recent passion is crunching through weather models and radar images to predict rains.</p>
        </div>
      </div>
    </div>
    <div class="speakers-wrapper text-left">
      <div class="row speaker">
        <div class="col-sm-2 image center">
          <div class="image-box">
            <img alt="speaker image" src="/assets/images/speakers/bradurani.jpg">
          </div>
        </div>
        <div class="col-sm-10">
          <p class="name">Brad Urani</p>
          <p class="company"><a href="https://twitter.com/bradurani" target="_blank">@bradurani</a></p>
          <p class="about-speaker">Brad Urani is a coder, karaoke singer and barbecue evangelist. He believes happiness is directly correlated with the size of your .vimrc and refuses to buy into YAGNI. When not hiking or hacking, he preaches the wonders of Rails and relational databases as Principal Engineer at Procore in Santa Barbara, CA.</p>
        </div>
      </div>
    </div>

    <div class="speakers-wrapper text-left">
      <div class="row speaker">
        <div class="col-sm-2 image center">
          <div class="image-box">
            <img alt="speaker image" src="/assets/images/speakers/headius.jpg">
          </div>
        </div>
        <div class="col-sm-10">
          <p class="name">Charles Nutter</p>
          <p class="company"><a href="https://twitter.com/headius" target="_blank">@headius</a></p>
          <p class="about-speaker">He is one of the JRuby guys,
            co-lead of JRuby project and JVM enthusiast.
            He is a Ruby Hero and Java Champion too! He works every day
            to make JRuby the best JVM-based Ruby possible while pushing
            JVM folks and other language authors to keep improving the platform.
          </p>
        </div>
      </div>
    </div>
    <div class="speakers-wrapper text-left">
      <div class="row speaker">
        <div class="col-sm-2 image center">
          <div class="image-box">
            <img alt="speaker image" src="/assets/images/speakers/gautam-rege.jpeg">
          </div>
        </div>
        <div class="col-sm-10">
          <p class="name">Gautam Rege</p>
          <p class="company"><a href="https://twitter.com/gautamrege" target="_blank">@gautamrege</a></p>
          <p class="about-speaker">
            Gautam Rege has been working in Ruby since 2007. Gautam works a lot in Rails and at Josh Software Private Limited, the company he co-founded, working exclusively in Ruby and Ruby-related technologies. He is well versed with Rhodes (the Ruby mobile framework), Merb, Sinatra and occasionally also experiments with JS frameworks like Sproutcore, and Backbone. He is also a part of organization committee of Rubyconf, India and many other conferences. He is active member of Ruby community in Pune. He has anchored and given talks at many Ruby conferences.</a>
          </p>
        </div>
      </div>
    </div>
    <div class="speakers-wrapper text-left">
      <div class="row speaker">
        <div class="col-sm-2 image center">
          <div class="image-box">
            <img alt="speaker image" src="/assets/images/speakers/jasonswett.jpg">
          </div>
        </div>
        <div class="col-sm-10">
          <p class="name">Jason Swett</p>
          <p class="company"><a href="https://twitter.com/jasonswett" target="_blank">@jasonswett</a></p>
          <p class="about-speaker">Jason Swett helps Rails developers write better tests. Since putting his first website online in 1996, he has taught programming in four countries and worked for organizations like AT&T, Deloitte and the University of Chicago. Jason lives in Sand Lake, Michigan.</p>
        </div>
      </div>
    </div>
    <div class="speakers-wrapper text-left">
      <div class="row speaker">
        <div class="col-sm-2 image center">
          <div class="image-box">
            <img alt="speaker image" src="/assets/images/speakers/muditm.png">
          </div>
        </div>
        <div class="col-sm-10">
          <p class="name">Mudit Maheshwari</p>
          <p class="company"><a href="https://twitter.com/Magical_Mudit" target="_blank">@Magical_Mudit</a></p>
          <p class="about-speaker">Joined GO-JEK as Product Engineer after graduating from IIT Indore last year. He has been working in GO-FOOD, the food business wing of GO-JEK, and has been focused and about building innovative features to enthrall customers. He is passionate about exploring and learning new technologies and likes reading about distributed systems and data-intensive applications. When AFK, he is always ready for a game of cricket or football.</p>
        </div>
      </div>
    </div>


    <div class="speakers-wrapper text-left">
      <div class="row speaker">
        <div class="col-sm-2 image center">
          <div class="image-box">
            <img alt="speaker image" src="/assets/images/speakers/rtdp.jpg">
          </div>
        </div>
        <div class="col-sm-10">
          <p class="name">Ratnadeep Deshmane</p>
          <p class="company"><a href="https://twitter.com/Rtdp" target="_blank">@Rtdp</a></p>
          <p class="about-speaker">Ratnadeep Deshmane aka rtdp is a Ruby developer for past 10 years. He loves travel and has been a digital nomad for past few years. Before starting his digital nomading journey he ran a venture funded startup AppSurfer. Currently, he is Pune writing and enjoying more and more of Ruby.</p>
        </div>
      </div>
    </div>
    
    <div class="speakers-wrapper text-left">
      <div class="row speaker">
        <div class="col-sm-2 image center">
          <div class="image-box">
            <img alt="speaker image" src="/assets/images/speakers/sidu.jpg">
          </div>
        </div>
        <div class="col-sm-10">
          <p class="name">Sidu Ponnappa</p>
          <p class="company"><a href="https://twitter.com/ponnappa" target="_blank">@ponnappa</a></p>
          <p class="about-speaker">Sidu Ponnappa serves as a Director at GO-JEK and is the Head of the India team. He takes care of Data Engineering and Global Talent Acquisition. Sidu has founded three startups, the last being acquired by GO-JEK in 2015. Sidu has established and scaled the India organisation before moving to head up Data Engineering. He’s helped build the technology arm of GO-JEK to 250+ engineers who build and scale systems that process 3+ million orders daily. Sidu  started coding when he was six and has since gone on to co-found 3 companies launching 4 products. He is also a trustee of the Emerging Technology Trust, an non-profit he helped found in 2010 that supports the Indian open source community, and runs three of the largest tech conferences in the country. He has worked as an engineer, product manager, salesperson, recruiter, marketer, CTO and CEO. He has failed more times than he can count. He is an avid motorcycle lover.</p>
        </div>
      </div>
    </div>

<div class="speakers-wrapper text-left">
      <div class="row speaker">
        <div class="col-sm-2 image center">
          <div class="image-box">
            <img alt="speaker image" src="/assets/images/speakers/swanand.png">
          </div>
        </div>
        <div class="col-sm-10">
          <p class="name">Swanand Pagnis</p>
          <p class="company"><a href="https://twitter.com/_swanand" target="_blank">@_swanand</a></p>
          <p class="about-speaker">Software Engineer. Parent. Nerd. Long time Rubyist. He likes writing software, reading software, building communities, and continuous improvement. Ruby, OCaml, SQL are his weapons of choice. He earns his living at First.io and organizes meetups for his Bangalore Ruby friends.</p>
        </div>
      </div>
    </div>

    <div class="speakers-wrapper text-left">
      <div class="row speaker">
        <div class="col-sm-2 image center">
          <div class="image-box">
            <img alt="speaker image" src="/assets/images/speakers/torstenruger.jpg">
          </div>
        </div>
        <div class="col-sm-10">
          <p class="name">Torsten Rüger</p>
          <p class="about-speaker">Torsten has been coding in various roles for 38 years. He found ruby in 2001, and hasn’t coded much else since. Nowadays, he feels privileged because he can code for fun, and what interests him most is how code actually works. Hence the very self referential implementation of ruby in ruby.<br /><br />When he doesn’t code he does timber-framing and builds houses. He lives in the finish nature, with his wife, where they run a B&B, and enjoy the quiet life.</p>
        </div>
      </div>
    </div>

<div class="speakers-wrapper text-left">
      <div class="row speaker">
        <div class="col-sm-2 image center">
          <div class="image-box">
            <img alt="speaker image" src="/assets/images/speakers/matz.jpg">
          </div>
        </div>
        <div class="col-sm-10">
          <p class="name">Yukihiro Matsumoto</p>
          <p class="company"><a href="https://twitter.com/yukihiro_matz" target="_blank">@yukihiro_matz</a></p>
          <p class="about-speaker">
            Yukihiro "Matz" Matsumoto is a programmer, and the creator of the Ruby language. He works for many open source related organizations and companies, e.g. NaCl inc. in Japan, Heroku and Ruby Association. Since his real name is difficult for non-Japanese speakers to pronounce correctly, he uses the nickname Matz on the Net. Matz <a href="https://youtu.be/e4HwanYNkhY" target="_blank">spoke</a> at RubyConfIndia 2016. Matz also spoke at RubyConfIndia 2017 on <a href ="https://speakerdeck.com/matz/what-is-software-made-of" target="_blank">What is software made of?</a>
          </p>
        </div>
      </div>
    </div>

<!--
          <div class="speakers-wrapper text-left">
          <div class="row speaker">
          <div class="col-sm-2 image center">
          <div class="image-box">
          <img alt="speaker image" src="{{ site.github_project_name }}/assets/images/speakers/aboobacker.jpg">
          </div>
          </div>
          <div class="col-sm-10">
          <p class="name">Aboobacker MK</p>
          <p class="company"><a href="https://twitter.com/tachyons" target="_blank">@_tachyons</a></p>
          <p class="about-speaker">
          Ruby on rails developer at Red Panthers.
          Open source enthusiast and volunteer at Swathanthra Malayalam Computing.
          </p>
          </div>
          </div>
          </div>

          <div class="speakers-wrapper text-left">
          <div class="row speaker">
          <div class="col-sm-2 image center">
          <div class="image-box">
          <img alt="speaker image" src="{{ site.github_project_name }}/assets/images/speakers/aram.jpg">
          </div>
          </div>
          <div class="col-sm-10">
          <p class="name">Aram Bhusal</p>
          <p class="company"><a href="https://twitter.com/phoenixwizard" target="_blank">@phoenixwizard</a></p>
          <p class="about-speaker">
          Aram is a full stack developer with over 7 years of experience
          building all kinds of web apps, primarily using Ruby on Rails.
          He has worked on B2B solutions around loyalty, messaging, Ecommerce,
          messaging and content curation platforms.
          In his previous avatars he was heading technology in various startups
          like 88 Cordials, Cloudaria and PoshVine, and is currently the AVP Technology in ArgilDX.
          </p>
          </div>
          </div>
          </div>

          <div class="speakers-wrapper text-left">
          <div class="row speaker">
          <div class="col-sm-2 image center">
          <div class="image-box">
          <img alt="speaker image" src="{{ site.github_project_name }}/assets/images/speakers/avdi-grimm.jpg">
          </div>
          </div>
          <div class="col-sm-10">
          <p class="name">Avdi Grimm</p>
          <p class="company"><a href="https://twitter.com/avdi" target="_blank">@avdi</a></p>
          <p class="about-speaker">Avdi Grimm is a father, a Ruby Hero, the head chef at <a href = "https://www.rubytapas.com/" target = "_blank">RubyTapas</a>, and author of the books <a href="http://www.confidentruby.com/" target="_blank">Confident Ruby</a>, <a href="http://objectsonrails.com/" target="_blank"> Objects on Rails</a> and <a href="http://exceptionalruby.com/" target="_blank">Exceptional Ruby</a>. He splits his theoretical spare time between hiking the Smoky Mountains and dancing to oontz-oontz music.
          <br>
          His passion is Ruby. He spends most of his time training and educating other programmers, speaking at software conferences, hosting podcast and programming episodes.</p>
          </div>
          </div>
          </div>

          <div class="speakers-wrapper text-left">
          <div class="row speaker">
          <div class="col-sm-2 image center">
          <div class="image-box">
          <img alt="speaker image" src="{{ site.github_project_name }}/assets/images/speakers/elle-meredith.jpg">
          </div>
          </div>
          <div class="col-sm-10">
          <p class="name">Elle Meredith</p>
          <p class="company"><a href="https://twitter.com/aemeredith" target="_blank">@aemeredith</a></p>
          <p class="about-speaker">
          Elle works as a consultant for Blackmill. Before Blackmill,
          she was a Development Director in the New York City office of thoughtbot.
          She believes in writing clean code, driven by automatic tests, with agile practices,
          an even work/life balance, and a respectful and inclusive team culture.
          Elle appreciates the value of strong communities.
          When she is not immersed in the Ruby community,
          she is probably immersed in water, or lately, in bread flour.
          </p>
          </div>
          </div>
          </div>

          <div class="speakers-wrapper text-left">
          <div class="row speaker">
          <div class="col-sm-2 image center">
          <div class="image-box">
          <img alt="speaker image" src="/assets/images/speakers/kei.jpg">
          </div>
          </div>
          <div class="col-sm-10">
          <p class="name">Kei Sawada </p>
          <p class="company"><a href="https://twitter.com/remore" target="_blank">@remore</a></p>
          <p class="about-speaker">
          Kei, pronounced as "Kay", is a guy who loves day-to-day engineering.
          He feels happy at any moment during programming. That's why he met Ruby.
          His job was, is and will be everything about server-side and people.
          He also plays the contrabass once in a while.
          </p>
          </div>
          </div>
          </div>

          <div class="speakers-wrapper text-left">
          <div class="row speaker">
          <div class="col-sm-2 image center">
          <div class="image-box">
          <img alt="speaker image" src="/assets/images/speakers/paul.jpg">
          </div>
          </div>
          <div class="col-sm-10">
          <p class="name">Paul Stefan Ort </p>
          <p class="company"><a href="https://twitter.com/PaulStefanOrt" target="_blank">@PaulStefanOrt</a></p>
          <p class="about-speaker">
          <a href="https://www.pso.io/" target="_blank">Paul </a> makes software at
          <a href="https://www.defmethod.com" target="_blank">Def Method </a> in New York City.
          He is building <a href="https://www.dependable.io" target="_blank">Dependable </a>
          for dependency update automation and the evolution of codebases.
          He is a classical violinist and pianist when not programming or reading.
          </p>
          </div>
          </div>
          </div>

          <div class="speakers-wrapper text-left">
          <div class="row speaker">
          <div class="col-sm-2 image center">
          <div class="image-box">
          <img alt="speaker image" src="/assets/images/speakers/prasun.jpg">
          </div>
          </div>
          <div class="col-sm-10">
          <p class="name">Prasun Anand </p>
          <p class="company"><a href="https://twitter.com/prasun_anand" target="_blank">@prasun_anand</a></p>
          <p class="about-speaker">
          Prasun is involved with different open-source projects aimed at super fast Scientific Computing on Ruby and D. He worked with SciRuby as a GSoC student in 2016, 2017. He worked on JRuby port of NMatrix and is currently work on creating GPGPU libraries for D and Ruby. One such effort is ArrayFire gem which has an outstanding performance. Currently he is working with Genenetwork on softwares for high performance genome analysis and RbCUDA gem.
          </p>
          </div>
          </div>
          </div>

          <div class="speakers-wrapper text-left">
          <div class="row speaker">
          <div class="col-sm-2 image center">
          <div class="image-box">
          <img alt="speaker image" src="/assets/images/speakers/rishi-jain.jpg">
          </div>
          </div>
          <div class="col-sm-10">
          <p class="name">Rishi Jain </p>
          <p class="company"><a href="https://twitter.com/jainrishi15" target="_blank">@jainrishi15</a></p>
          <p class="about-speaker">
          Rishi is currently working at Unbxd where he helps customers go from
          intent to content and solving some interesting problems along the way.
          Rishi also likes to travel and indulge in sports.
          Currently, Rishi is pursuing the dark of art of cooking his own meals, sleeping on time and staying positive.
          </p>
          </div>
          </div>
          </div>

          <div class="speakers-wrapper text-left">
          <div class="row speaker">
          <div class="col-sm-2 image center">
          <div class="image-box">
          <img alt="speaker image" src="/assets/images/speakers/shobhit.png">
          </div>
          </div>
          <div class="col-sm-10">
          <p class="name">Shobhit Bakliwal </p>
          <p class="company"><a href="https://twitter.com/shobhitic" target="_blank">@shobhitic</a></p>
          <p class="about-speaker">Founder of software company Indusbit,
          He has been in love with Ruby since 2012. Amateur pianist,
          full stack developer, newbie salesman, lazy blogger,
          and a product guy at heart. Was an early team member at
          Crowdfire and Head of Product at Unacademy.
          </p>
          </div>
          </div>
          </div>

          <div class="speakers-wrapper text-left">
          <div class="row speaker">
          <div class="col-sm-2 image center">
          <div class="image-box">
          <img alt="speaker image" src="/assets/images/individuals/siddharth.jpg">
          </div>
          </div>
          <div class="col-sm-10">
          <p class="name">Siddharth Sharma </p>
          <p class="company"><a href="https://twitter.com/_svs_" target="_blank">@_svs_</a></p>
          <p class="about-speaker">Siddharth is currently the CTO at
          <a href="https://www.shaadi.com/" target="_blank">shaadi.com</a>,
          the world's no. 1 matchmaking service. He has been a Ruby developer
          for over ten years. In prior lives Siddharth has been an investment
          banker and musician.
          </p>
          </div>
          </div>
          </div>

          <div class="speakers-wrapper text-left">
          <div class="row speaker">
          <div class="col-sm-2 image center">
          <div class="image-box">
          <img alt="speaker image" src="/assets/images/speakers/tony.jpg">
          </div>
          </div>
          <div class="col-sm-10">
          <p class="name">Tony Vincent </p>
          <p class="company"><a href="https://twitter.com/TonyThayil" target="_blank">@TonyThayil</a></p>
          <p class="about-speaker">
          He is a developer from Kochi, Kerala working at <a href="https://redpanthers.co/">RedPanthers</a>
          and He is in love with ruby.
          He enjoys contributing to opensource and answering stuff on Stack Overflow.
          He has prior experience of speaking at RubyConf Indonesia 2017
          </p>
          </div>
          </div>
          </div>

          <div class="speakers-wrapper text-left">
          <div class="row speaker">
          <div class="col-sm-2 image center">
          <div class="image-box">
          <img alt="speaker image" src="/assets/images/individuals/tushar.jpg">
          </div>
          </div>
          <div class="col-sm-10">
          <p class="name">Tushar Maroo </p>
          <p class="company"><a href="https://twitter.com/tusharmaroo" target="_blank">@tusharmaroo</a></p>
          <p class="about-speaker">
          He is a software architect with a business mindset. Currently working as an Engineering lead at <a href="http://shopx.in/">ShopX.</a>
          He started his career as a freelancer wearing multiple hats and going fullstack.
          He has been working on some challenging features & solving scaling problems lately for the B2B world.
          He loves open source, also he help in organizing BRUG meetups (<a href="https://www.meetup.com/Bangalore-Ruby-Users-Group">Bangalore Ruby User Group</a>).
          When not working you can find him exploring $crypto currencies & blockchain.
          </p>
          </div>
          </div>
          </div>

          <div class="speakers-wrapper text-left">
          <div class="row speaker">
          <div class="col-sm-2 image center">
          <div class="image-box">
          <img alt="speaker image" src="/assets/images/speakers/victor.jpg">
          </div>
          </div>
          <div class="col-sm-10">
          <p class="name">Victor Shepelev </p>
          <p class="company"><a href="http://twitter.com/zverok" target="_blank">@zverok</a></p>
          <p class="about-speaker">
          Ukrainian programmer and poet with more than fifteen years of programming experience
          and twelve years of Ruby programming. Working at VerbIT.ai,
          mentoring students (including Google Summer of Code-2016/2017,
          as a mentor for SciRuby organization), developing open source (Ruby Association Grant 2015).
          </p>
          </div>
          </div>
          </div>

          <div class="speakers-wrapper text-left">
          <div class="row speaker">
          <div class="col-sm-2 image center">
          <div class="image-box">
          <img alt="speaker image" src="/assets/images/speakers/holman.png">
          </div>
          </div>
          <div class="col-sm-10">
          <p class="name">Zach Holman</p>
          <p class="company"><a href="https://twitter.com/holman" target="_blank">@holman</a></p>
          <p class="about-speaker">Zach Holman is a developer living in San
          Francisco. He joined GitHub in 2010 as one of their first engineering
          hires, and helped build and grow their product and culture over five
          years. Currently he’s the founder and CEO of <a href =
          "http://during.com/" target="_blank">During</a>, a new calendar to
          help you during your day. He also advises startups, including <a href
          ="https://about.gitlab.com/" target="_blank">GitLab</a>
          and <a href="https://dockbit.com/" target="_blank">Dockbit</a>.
          </p>
          </div>
          </div>
          </div>
     -->
  </div>
</section>
