<section id="speakers" class="content-section text-center download-section homepage">
  <div class="container">
    <h2 class="speaker-title">Speakers</h2>
    <p class="home-paragraph">We're looking for speakers who wish to give a talk at RubyConf India 2018. If you're interested kindly send your <a href="https://www.papercall.io/rci18" target="_blank">talk proposal</a> today.</p>
    <!-- <p class="home-paragraph last">Our CFP is closed now and we are reviewing the proposals. We will announce the speakers soon.</b></p> -->

    <br/>
    <br/>

    <div class="speakers-wrapper text-left">
      <div class="row speaker">
        <div class="col-sm-2 image center">
          <div class="image-box">
            <img alt="speaker image" src="{{ site.github_project_name }}/assets/images/speakers/avdi-grimm.jpg">
          </div>
        </div>
        <div class="col-sm-10">
          <p class="name">Avdi Grimm</p>
          <p class="company"><a href="https://twitter.com/avdi" target="_blank">@avdi</a></p>
          <p class="about-speaker">Avdi Grimm is a father, a Ruby Hero, the head chef at <a href = "https://www.rubytapas.com/" target = "_blank">RubyTapas</a>, and author of the books <a href="http://www.confidentruby.com/" target="_blank">Confident Ruby</a>, <a href="http://objectsonrails.com/" target="_blank"> Objects on Rails</a> and <a href="http://exceptionalruby.com/" target="_blank">Exceptional Ruby</a>. He splits his theoretical spare time between hiking the Smoky Mountains and dancing to oontz-oontz music.
          <br>
          His passion is Ruby. He spends most of his time training and educating other programmers, speaking at software conferences, hosting podcast and programming episodes.</p>
        </div>
      </div>
    </div>

    <div class="speakers-wrapper text-left">
      <div class="row speaker">
        <div class="col-sm-2 image center">
          <div class="image-box">
            <img alt="speaker image" src="/assets/images/speakers/headius.jpg">
          </div>
        </div>
        <div class="col-sm-10">
          <p class="name">Charles Nutter</p>
          <p class="company"><a href="https://twitter.com/headius" target="_blank">@headius</a></p>
          <p class="about-speaker">He is one of the “JRuby guys”,
            co-lead of JRuby project and JVM enthusiast.
            He is a Ruby Hero and Java Champion too! He works every day
            to make JRuby the best JVM-based Ruby possible while pushing
            JVM folks and other language authors to keep improving the platform.
          </p>
        </div>
      </div>
    </div>

    <div class="speakers-wrapper text-left">
      <div class="row speaker">
        <div class="col-sm-2 image center">
          <div class="image-box">
            <img alt="speaker image" src="/assets/images/individuals/siddharth.jpg">
          </div>
        </div>
        <div class="col-sm-10">
          <p class="name">Siddharth Sharma </p>
          <p class="company"><a href="https://twitter.com/_svs_" target="_blank">@_svs_</a></p>
          <p class="about-speaker">Siddharth is currently the CTO at
            <a href="https://www.shaadi.com/" target="_blank">shaadi.com</a>,
            the world's no. 1 matchmaking service. He has been a Ruby developer
            for over ten years. In prior lives Siddharth has been an investment
            banker and musician.
          </p>
        </div>
      </div>
    </div>

    <div class="speakers-wrapper text-left">
      <div class="row speaker">
        <div class="col-sm-2 image center">
          <div class="image-box">
            <img alt="speaker image" src="/assets/images/speakers/holman.png">
          </div>
        </div>
        <div class="col-sm-10">
          <p class="name">Zach Holman</p>
          <p class="company"><a href="https://twitter.com/holman" target="_blank">@holman</a></p>
          <p class="about-speaker">Zach Holman is a developer living in San
            Francisco. He joined GitHub in 2010 as one of their first engineering
            hires, and helped build and grow their product and culture over five
            years. Currently he’s the founder and CEO of <a href =
            "http://during.com/" target="_blank">During</a>, a new calendar to
            help you during your day. He also advises startups, including <a href
            ="https://about.gitlab.com/" target="_blank">GitLab</a>
            and <a href="https://dockbit.com/" target="_blank">Dockbit</a>.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
