<section id="sponsor" class="sponsor-section homepage">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <h2>Sponsors</h2>
        <p class="text-cetner"><a href="pdf/RCI18SponsorshipProspectus.pdf" class="btn btn-lg btn-warning" target="_blank">Sponsorship Prospectus &nbsp; <span class="glyphicon glyphicon-cloud-download"></span></a></p>
        <p class="home-paragraph">RubyConfIndia is organised by a community of passionate Indian Rubyists on a volunteer-basis. We can't put on a great show without some great sponsors.</p>

        <p class="home-paragraph">Here is your chance to reach the decision makers and developers from hundreds of top companies. RubyConfIndia has a capacity of up to 550 attendees and there are sponsorship opportunities to fit any budget. Be part of the Ninth Ruby conference in India and help us make history.</p>
        <p class="home-paragraph">Interested in sponsoring RubyConfIndia 2018? Click on the SPONSORSHIP PROSPECTUS button above.</p>
      </div>
    </div>

    <h2 class="sponsor-head col-sm-offset-4">Platinum Sponsor </h2>
    <div class="row">
      <div class="sponsors-bg clearfix">
        <div style="padding: 0px; margin-left: -62px; margin-right: 62px;" class="col-md-4">
          <div class="text-center">
            <a href="http://www.go-jek.com/" target="_blank">
              <img width="200px" alt="sponsor logo image" src="{{ site.github_project_name }}/assets/images/sponsors/gojek.png" class="image-responsive"></a>
          </div>
        </div>
        <div class="col-md-8" style="padding: 0 0 0 9px" class="col-md-8">
          <p class="sponsor-paragraph">
            <a href="http://www.go-jek.com/" target="_blank"><strong>GO-JEK</strong></a> is the largest consumer technology company in Indonesia and is funded by Sequoia Capital India and Yuri Milner’s DST Global. In the year since its launch GO-JEK has partnered with 200,000 motorcycle drivers and 5,000 trucks nationwide, growing monthly transaction volumes by 900x since launch and daily transaction volumes over 100x in just the last six months alone. With over 11 million downloads, the GO-JEK app has become the leading transport, courier, and hyperlocal shopping app in Indonesia. It’s food delivery service alone is the largest in Southeast Asia. GO-JEK has <a href="http://asia.nikkei.com/Business/Deals/Motorcycle-app-acquires-Indian-software-companies" target="_blank">set up an R&D centre in Bangalore</a> and is <a href="https://hasjob.co/go-jek.com/xt7n5" target="_blank">now hiring</a> the best hackers in India.</p>
        </div>
      </div>
    </div>

    <h2 class="sponsor-head col-sm-offset-4">Gold Sponsors </h2>

    <div class="row">
      <div class="sponsors-bg clearfix">
        <div style="padding: 0px; margin-left: -62px; margin-right: 62px;" class="col-md-4">
          <div class="text-center">
            <a href="http://www.joshsoftware.com/" target="_blank">
              <img width="200px" alt="sponsor logo image" src="{{ site.github_project_name }}/assets/images/sponsors/josh.png" class="image-responsive"></a>
          </div>
        </div>
        <div class="col-md-8" style="padding: 0 0 0 9px" class="col-md-8">
          <p class="sponsor-paragraph">
            True to its name, it was an innate enthusiasm and passion for building web solutions in Ruby On Rails. that led to the establishment of Josh Software in 2007. With a belief that Programming is An Art, <a href="http://www.joshsoftware.com/" target="_blank"><strong>Josh Software</strong></a> has a unique organizational process focused to facilitate high performance, scalability and high-standard code quality. Josh Software believes that Go is the language of this decade and has made major forays in this direction. The hand picked Josh Software team of 38 regularly contributes back to the open source community.</p>
        </div>
      </div>
    </div>

    <h2 class="sponsor-head col-sm-offset-4">Silver Sponsors</h2>
     <div class="row">
      <div class="sponsors-bg clearfix">
        <div style="padding: 0px; margin-left: -62px; margin-right: 62px;" class="col-md-4">
          <div class="text-center">
            <a href="http://amuratech.com/" target="_blank">
              <img alt="sponsor logo image" src="{{ site.github_project_name }}/assets/images/sponsors/amura.png" class="image-responsive"></a>
          </div>
        </div>

        <div class="col-md-8" style="padding: 0 0 0 9px" class="col-md-8">
          <p class="sponsor-paragraph">
            <a href ="http://amuratech.com/" target="_blank">Amura </a>was founded in January 2010 as a global digital marketing platform & services company, catering to the automotive and real estate industry. Today, it's reckoned as the market leader in real estate marketing in India. With a vision for providing a combination of platforms and services, it launched its first platform in less than a year from conception – a lead capture platform that incorporated live chat and peripheral tracking.
          </p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="sponsors-bg clearfix">
        <div style="padding: 0px; margin-left: -62px; margin-right: 62px;" class="col-md-4">
          <div class="text-center">
            <a href="http://www.mavenhive.in/" target="_blank">
              <img alt="sponsor logo image" src="{{ site.github_project_name }}/assets/images/sponsors/mavenhive.png" class="image-responsive"></a>
          </div>
        </div>

        <div class="col-md-8" style="padding: 0 0 0 9px" class="col-md-8">
          <p class="sponsor-paragraph">
            <a href="http://www.mavenhive.in" target="_blank">MavenHive</a> is a Bangalore based tech consulting firm specializing in end-to-end product development and training. Over the last 5 years, we have helped several startups and organizations from across the world realize their product vision and achieve major milestones in their journey. We have built a team of talented people from diverse backgrounds who have contributed their experience and skills to deliver high quality solutions for our clients. We are always looking for great developers to work with, to strengthen our capabilities and influence our work culture - <a href="http://www.mavenhive.in" target ="_blank">www.mavenhive.in</a>
          </p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="sponsors-bg clearfix">
        <div style="padding: 0px; margin-left: -62px; margin-right: 62px;" class="col-md-4">
          <div class="text-center">
            <a href="https://scripbox.com" target="_blank">
              <img alt="sponsor logo image" src="{{ site.github_project_name }}/assets/images/sponsors/scripbox.png" class="image-responsive"></a>
          </div>
        </div>

        <div class="col-md-8" style="padding: 0 0 0 9px" class="col-md-8">
          <p class="sponsor-paragraph">
            <a href="https://scripbox.com" target="_blank">Scripbox</a>
              is India's most trusted online investment service. They simplify the journey of anyone who wants to get started with investing for whatever savings need they might have. As the first step, they make personal finance jargon-free. They break down complex investing concepts and automate them so everyone can grow their wealth. They do this by combining cutting edge technology, data-driven algorithms, awesome UX and friendly customer support. They now have investors in over 1050 cities, and manage over Rs.550 crore savings.
          </p>
        </div>
      </div>
    </div>

    <h2 class="sponsor-head col-sm-offset-4">Digital Sponsor</h2>
    <div class="row">
      <div class="sponsors-bg clearfix">
        <div style="padding: 0px; margin-left: -62px; margin-right: 62px;" class="col-md-4">
          <div class="text-center">
            <a href="https://www.bigbinary.com/" target="_blank">
              <img alt="sponsor logo image" src="{{ site.github_project_name }}/assets/images/sponsors/bigbinary.png" class="image-responsive"></a>
          </div>
        </div>

        <div class="col-md-8" style="padding: 0 0 0 9px" class="col-md-8">
          <p class="sponsor-paragraph">
            <a href="https://www.bigbinary.com" target="_blank"><strong>BigBinary</strong></a> is a Ruby
            on Rails Consulting company based in San Francisco, Miami and Pune.
            Over the years, they have made tons of contributions to Ruby on Rails code, with their team consisting
            of
            three of the <a href="http://contributors.rubyonrails.org/" target="_blank">top 40 contributors to Ruby
              on Rails</a>.
            They build web and mobile applications using Ruby on Rails, <a
                                                                          href="https://www.bigbinary.com/building-modern-web-applications-with-reactjs" target="_blank">React</a>
            and React Native. </p>
        </div>

      </div>
    </div>

    <h2 class="sponsor-head col-sm-offset-4">Speaker Sponsors</h2>
    <div class="row">
      <div class="sponsors-bg clearfix">
        <div style="padding: 0px; margin-left: -62px; margin-right: 62px;" class="col-md-4">
          <div class="text-center">
            <a href="https://www.redpanthers.co/" target="_blank">
              <img alt="sponsor logo image" src="{{ site.github_project_name }}/assets/images/sponsors/red-panthers.png" class="image-responsive"></a>
          </div>
        </div>

        <div class="col-md-8" style="padding: 0 0 0 9px" class="col-md-8">
          <p class="sponsor-paragraph">
            <a href ="https://www.redpanthers.co/" target="_blank">Red Panthers </a>is a Ruby on Rails development studio, based in the beautiful city of Cochin (known as the queen of Arabian Sea), India. They work with client in hand-crafting applications that turn client's ideas into profitable and effective businesses. Over the years they have worked with clients ranging from single-person startup to MNC that have over 10,000 employees. Got a business/idea in your hand? Do you lack technological support? Unsure about how to implement your ideas? Red panthers, is here to help you materialize your ideas.
          </p>
        </div>
      </div>
    </div>

    <h2 class="sponsor-head" style="text-align:center;padding: 0px; margin: auto;" > Friends </h2>

    <div class="row">
      <div class="sponsors-bg clearfix">
        <div style="padding: 0px; margin: 0 auto;" class="col-md-4">
        </div>
        <div style="padding: 0px; margin: 0 auto;" class="col-md-4">
          <div class="text-center">
            <a href="https://www.jetbrains.com/" target="_blank">
              <img width="200px" alt="sponsor logo image" src="{{ site.github_project_name }}/assets/images/sponsors/jetbrains.png" class="image-responsive"></a>
          </div>
        </div>
        <div style="padding: 0px; margin: 0 auto;" class="col-md-4">
        </div>
      </div>
    </div>

         <!--

          <h2 class="sponsor-head col-sm-offset-4">Gold Sponsors </h2>

         <div class="row">
         <div class="sponsors-bg clearfix">
         <div style="padding: 0px; margin-left: -62px; margin-right: 62px;" class="col-md-4">
         <div class="text-center">
         <a href="http://www.joshsoftware.com/" target="_blank">
         <img width="200px" alt="sponsor logo image" src="{{ site.github_project_name }}/assets/images/sponsors/josh.png" class="image-responsive"></a>
         </div>
         </div>
         <div class="col-md-8" style="padding: 0 0 0 9px" class="col-md-8">
         <p class="sponsor-paragraph">
         True to its name, it was an innate enthusiasm and passion for building web solutions in Ruby On Rails. that led to the establishment of Josh Software in 2007. With a belief that Programming is An Art, <a href="http://www.joshsoftware.com/" target="_blank"><strong>Josh Software</strong></a> has a unique organizational process focused to facilitate high performance, scalability and high-standard code quality. Josh Software believes that Go is the language of this decade and has made major forays in this direction. The hand picked Josh Software team of 38 regularly contributes back to the open source community.</p>
         </div>
         </div>
         </div>
         <h2 class="sponsor-head col-sm-offset-4">Digital Sponsor</h2>
         <div class="row">
         <div class="sponsors-bg clearfix">
         <div style="padding: 0px; margin-left: -62px; margin-right: 62px;" class="col-md-4">
         <div class="text-center">
         <a href="https://www.bigbinary.com/" target="_blank">
         <img alt="sponsor logo image" src="{{ site.github_project_name }}/assets/images/sponsors/bigbinary.png" class="image-responsive"></a>
         </div>
         </div>

         <div class="col-md-8" style="padding: 0 0 0 9px" class="col-md-8">
         <p class="sponsor-paragraph">
         <a href="https://www.bigbinary.com/about-us" target="_blank"><strong>BigBinary</strong></a> is a Ruby
         on Rails Consulting company based in San Francisco, Miami and Pune.
         Over the years, they have made tons of contributions to Ruby on Rails code, with their team consisting
         of
         three of the <a href="http://contributors.rubyonrails.org/" target="_blank">top 40 contributors to Ruby
         on Rails</a>.
         They build web and mobile applications using Ruby on Rails, <a
         href="https://www.bigbinary.com/building-modern-web-applications-with-reactjs" target="_blank">React</a>
         and React Native. </p>
         </div>

         </div>
         </div>

         <h2 class="sponsor-head col-sm-offset-4">Associate Sponsors</h2>
         <div class="row">
         <div class="sponsors-bg clearfix">
         <div style="padding: 0px; margin-left: -62px; margin-right: 62px;" class="col-md-4">
         <div class="text-center">
         <a href="http://www.mavenhive.in/" target="_blank">
         <img alt="sponsor logo image" src="{{ site.github_project_name }}/assets/images/sponsors/mavenhive.png" class="image-responsive"></a>
         </div>
         </div>

         <div class="col-md-8" style="padding: 0 0 0 9px" class="col-md-8">
         <p class="sponsor-paragraph">
         MavenHive is a Bangalore based tech consulting firm specializing in end-to-end product development and training. Over the last 5 years, we have helped several startups and organizations from across the world realize their product vision and achieve major milestones in their journey. We have built a team of talented people from diverse backgrounds who have contributed their experience and skills to deliver high quality solutions for our clients. We are always looking for great developers to work with, to strengthen our capabilities and influence our work culture - <a href="http://www.mavenhive.in">www.mavenhive.in</a>
         </p>
         </div>
         </div>
         </div>

         <h2 class="sponsor-head col-sm-offset-4">Speaker Sponsor</h2>
         <div class="row">
         <div class="sponsors-bg clearfix">
         <div style="padding: 0px; margin-left: -62px; margin-right: 62px;" class="col-md-4">
         <div class="text-center">
         <a href="https://www.redpanthers.co/" target="_blank">
         <img alt="sponsor logo image" src="{{ site.github_project_name }}/assets/images/sponsors/red-panthers.png" class="image-responsive"></a>
         </div>
         </div>

         <div class="col-md-8" style="padding: 0 0 0 9px" class="col-md-8">
         <p class="sponsor-paragraph">
         Red Panthers is a Ruby on Rails development studio, based in the beautiful city of Cochin (known as the queen of Arabian Sea), India. We work with our client in hand-crafting applications that turn their ideas into profitable and effective businesses. Over the years we have worked with clients ranging from single-person startup to MNC that have over 10,000 employees. Got a business/idea in your hand? Do you lack technological support? Unsure about how to implement your ideas? We, Red panthers, is here to help you materialize your ideas.
         </p>
         </div>
         </div>
         </div>

         <h2 class="sponsor-head col-sm-offset-4">Ruby Hero Sponsor</h2>
         <div class="row">
         <div class="sponsors-bg clearfix">
         <div style="padding: 0px; margin-left: -62px; margin-right: 62px;" class="col-md-4">
         <div class="text-center">
         <a href="http://amuratech.com/" target="_blank">
         <img alt="sponsor logo image" width="250px" height="51px" src="{{ site.github_project_name }}/assets/images/sponsors/amura.png" class="image-responsive"></a>
         </div>
         </div>

         <div class="col-md-8" style="padding: 0 0 0 9px" class="col-md-8">
         <p class="sponsor-paragraph"><a href="http://amuratech.com/" target="_blank"><strong>Amura</strong></a> was founded in January 2010 as a global digital marketing platform & services company, catering to the automotive and real estate industry. Today, it's reckoned as the market leader in real estate marketing in India. With a vision for providing a combination of platforms and services, it launched its first platform in less than a year from conception – a lead capture platform that incorporated live chat and peripheral tracking.</p>
         </div>
         </div> -->
    </div>
  </div>
</section>
