<section id="sponsor" class="sponsor-section homepage">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <h2>Sponsors</h2>
                <p class="text-cetner"><a href="pdf/RCI17SponsorshipProspectus.pdf" class="btn btn-lg btn-warning" target="_blank">Sponsorship Prospectus &nbsp; <span class="glyphicon glyphicon-cloud-download"></span></a></p>
                <p class="home-paragraph">RubyConfIndia is organised by a community of passionate Indian Rubyists on a volunteer-basis. We can't put on a great show without some great sponsors. Here is your chance to reach the decision makers and developers from hundreds of top companies. RubyConfIndia has a capacity of up to 550 attendees and there are sponsorship opportunities to fit any budget. Be part of the eighth Ruby conference in India and help us make history.</p>
                <p class="home-paragraph">Interested in sponsoring RubyConfIndia 2017? Click on the SPONSORSHIP PROSPECTUS button above.</p>
      </div>
    </div>

    <!-- <h2 class="sponsor-head col-sm-offset-4">Gold Sponsors </h2>
         <div class="row">
         <div class="sponsors-bg clearfix">
         <div style="padding: 0px; margin-left: -62px; margin-right: 62px;" class="col-md-4">
         <div class="text-center">
         <a href="https://www.digitalocean.com/" target="_blank">
         <img alt="sponsor logo image" src="{{ site.github_project_name }}/assets/images/sponsors/digitalocean.png" class="image-responsive"></a>
         </div>
         </div>

         <div class="col-md-8" style="padding: 0 0 0 9px" class="col-md-8">
         <p class="sponsor-paragraph">
         <a href="https://www.digitalocean.com/" target="_blank"><strong>DigitalOcean</strong></a> is the world’s fastest growing cloud hosting provider built for developers. Our mission is simple: we’re passionate about making complex infrastructure simple and delighting our customers with a seamless experience that brings them joy. New users can easily deploy a blazing fast cloud server in 55 seconds with an intuitive control panel interface, which can be replicated on a larger scale with the company’s straightforward API.</p>
         </div>

         </div>
         </div>
         <div class="row">
         <div class="sponsors-bg clearfix">
         <div style="padding: 0px; margin-left: -62px; margin-right: 62px;" class="col-md-4">
         <div class="text-center">
         <a href="http://www.go-jek.com/" target="_blank">
         <img width="200px" alt="sponsor logo image" src="{{ site.github_project_name }}/assets/images/sponsors/gojek.png" class="image-responsive"></a>
         </div>
         </div>
         <div class="col-md-8" style="padding: 0 0 0 9px" class="col-md-8">
         <p class="sponsor-paragraph">
         <a href="http://www.go-jek.com/" target="_blank"><strong>GO-JEK</strong></a> is the largest consumer technology company in Indonesia and is funded by Sequoia Capital India and Yuri Milner’s DST Global. In the year since its launch GO-JEK has partnered with 200,000 motorcycle drivers and 5,000 trucks nationwide, growing monthly transaction volumes by 900x since launch and daily transaction volumes over 100x in just the last six months alone. With over 11 million downloads, the GO-JEK app has become the leading transport, courier, and hyperlocal shopping app in Indonesia. It’s food delivery service alone is the largest in Southeast Asia. GO-JEK has <a href="http://asia.nikkei.com/Business/Deals/Motorcycle-app-acquires-Indian-software-companies">set up an R&D centre in Bangalore</a> and is <a href="https://hasjob.co/go-jek.com/xt7n5">now hiring</a> the best hackers in India.</p>
         </div>
         </div>
         </div>

         <div class="row">
         <div class="sponsors-bg clearfix">
         <div style="padding: 0px; margin-left: -62px; margin-right: 62px;" class="col-md-4">
         <div class="text-center">
         <a href="http://www.joshsoftware.com/" target="_blank">
         <img width="200px" alt="sponsor logo image" src="{{ site.github_project_name }}/assets/images/sponsors/josh.png" class="image-responsive"></a>
         </div>
         </div>
         <div class="col-md-8" style="padding: 0 0 0 9px" class="col-md-8">
         <p class="sponsor-paragraph">
         True to its name, it was an innate enthusiasm and passion for building web solutions in Ruby On Rails. that led to the establishment of Josh Software in 2007. With a belief that Programming is An Art, <a href="http://www.joshsoftware.com/" target="_blank"><strong>Josh Software</strong></a> has a unique organizational process focused to facilitate high performance, scalability and high-standard code quality. Josh Software believes that Go is the language of this decade and has made major forays in this direction. The hand picked Josh Software team of 38 regularly contributes back to the open source community.</p>
         </div>
         </div>
         </div>

         <div class="row">
         <div class="sponsors-bg clearfix">
         <div style="padding: 0px; margin-left: -62px; margin-right: 62px;" class="col-md-4">
         <div class="text-center">
         <a href="http://www.qwinixtech.com/" target="_blank">
         <img width="200px" alt="sponsor logo image" src="{{ site.github_project_name }}/assets/images/sponsors/qwinix.png" class="image-responsive"></a>
         </div>
         </div>
         <div class="col-md-8" style="padding: 0 0 0 9px" class="col-md-8">
         <p class="sponsor-paragraph">
         <a href="http://www.qwinixtech.com/" target="_blank"><strong>Qwinix</strong></a> Technologies is a Denver-based application development and IT services provider with offices in Costa Rica, Dubai and India.
         Collaboration, transparency and agile practices, combined with quality-conscious code and global delivery model, enable Qwinix to more
         quickly develop highly-functional, cost-effective applications that deliver reliable business results. From startups to Fortune 500 companies,
         Qwinix clients appreciate the integration of Agile, Lean &amp; Continuous Delivery that bring their ideas to market faster.</p>
         </div>
         </div>
         </div>

         <h2 class="sponsor-head col-sm-offset-4">Silver Sponsor</h2>
         <div class="row">
         <div class="sponsors-bg clearfix">
         <div style="padding: 0px; margin-left: -62px; margin-right: 62px;" class="col-md-4">
         <div class="text-center">
         <a href="https://www.chillr.in/" target="_blank">
         <img alt="sponsor logo image" width="200px" src="{{ site.github_project_name }}/assets/images/sponsors/chillr.png" class="image-responsive"></a>
         </div>
         </div>
         <div class="col-md-8" style="padding: 0 0 0 9px" class="col-md-8">
         <p class="sponsor-paragraph">
         <a href="https://www.chillr.in/" target="_blank"><strong>Chillr</strong></a> is India's first multi-bank mobile payment app on which users can send money 'instantly' to anyone in their phonebook using just the mobile number, without having to know receiver's bank account number, IFSC code or even bank name and that too 24X7. Users can also make utility payments like mobile, DTH and datacard recharges in less that half a minute. Invested by Sequoia Capital and a bunch of angel investors in Series-A round of funding, Chillr plans to partner with at least 15 banks this fiscal year and is soon going to launch offline and online merchant payments. In a non-wallet model where all transactions happen seamlessly and directly between bank accounts, Chillr claims to be competing with cash rather than other digital payment solutions available in the market.</p>
         </div>
         </div>
         </div>

         <h2 class="sponsor-head col-sm-offset-4">Digital Sponsor</h2>
         <div class="row">
         <div class="sponsors-bg clearfix">
         <div style="padding: 0px; margin-left: -62px; margin-right: 62px;" class="col-md-4">
         <div class="text-center">
         <a href="http://redpanthers.co/" target="_blank">
         <img alt="sponsor logo image" src="{{ site.github_project_name }}/assets/images/sponsors/red-pathers.png" class="image-responsive"></a>
         </div>
         </div>

         <div class="col-md-8" style="padding: 0 0 0 9px" class="col-md-8">
         <p class="sponsor-paragraph">
         <a href="http://redpanthers.co/" target="_blank"><strong>Red Panthers</strong></a> is a Ruby on Rails development studio, based in the beautiful city of Cochin (known as the queen of Arabian Sea), India. We work with our clients hand-crafting applications that turns their ideas into profitable and effective businesses.</p>
         </div>

         </div>
         </div>

         <h2 class="sponsor-head col-sm-offset-4">Associate Sponsor</h2>
         <div class="row">
         <div class="sponsors-bg clearfix">
         <div style="padding: 0px; margin-left: -62px; margin-right: 62px;" class="col-md-4">
         <div class="text-center">
         <a href="http://bigbinary.com/" target="_blank">
         <img alt="sponsor logo image" src="{{ site.github_project_name }}/assets/images/sponsors/bigbinary.png" class="image-responsive"></a>
         </div>
         </div>

         <div class="col-md-8" style="padding: 0 0 0 9px" class="col-md-8">
         <p class="sponsor-paragraph"><a href="http://bigbinary.com/" target="_blank"><strong>BigBinary</strong></a> is a Ruby on Rails Consulting company based in San Francisco and Miami. They build web and mobile applications using Ruby on Rails and React Native.</p>
         </div>
         </div>
         </div>
         <div class="row">
         <div class="sponsors-bg clearfix">
         <div style="padding: 0px; margin-left: -62px; margin-right: 62px;" class="col-md-4">
         <div class="text-center">
         <a href="http://codemancers.com/" target="_blank">
         <img alt="sponsor logo image" src="{{ site.github_project_name }}/assets/images/sponsors/codemancers.png" class="image-responsive"></a>
         </div>
         </div>

         <div class="col-md-8" style="padding: 0 0 0 9px" class="col-md-8">
         <p class="sponsor-paragraph">Experienced and a thorough commitment to quality describes what we do at <a href="http://codemancers.com/" target="_blank"><strong>Codemancers</strong></a>. To our clients we are the experts that deliver well crafted software, but really, we are just a small team that geeks out on anything from typography to performance tools.</p>
         </div>
         </div>
         </div>
         <div class="row">
         <div class="sponsors-bg clearfix">
         <div style="padding: 0px; margin-left: -62px; margin-right: 62px;" class="col-md-4">
         <div class="text-center">
         <a href="http://cybrilla.com/" target="_blank">
         <img alt="sponsor logo image" src="{{ site.github_project_name }}/assets/images/sponsors/cybrilla.png" class="image-responsive"></a>
         </div>
         </div>

         <div class="col-md-8" style="padding: 0 0 0 9px" class="col-md-8">
         <p class="sponsor-paragraph"><a href="http://cybrilla.com/" target="_blank"><strong>Cybrilla</strong></a> An agile software development firm that builds robust, scalable and secure applications, basically applications that rock! At present, their fingers are dipped in global products for IoT in Retail, Augmented Reality in Banking, Social Networking for Celebs and a lot of Fin-tech. Their motto is to leverage technology to change lives and are always looking for more hands for their mission.</p>
         </div>
         </div>
         </div>
         <div class="row">
         <div class="sponsors-bg clearfix">
         <div style="padding: 0px; margin-left: -62px; margin-right: 62px;" class="col-md-4">
         <div class="text-center">
         <a href="http://limoapp.in/" target="_blank">
         <img alt="sponsor logo image" src="{{ site.github_project_name }}/assets/images/sponsors/limo-logo.png" class="image-responsive"></a>
         </div>
         </div>

         <div class="col-md-8" style="padding: 0 0 0 9px" class="col-md-8">
         <p class="sponsor-paragraph"><a href="http://limoapp.in/" target="_blank"><strong>Limo</strong></a> helps individuals, groups, communities and corporates to deploy their own or shared mass transit infrastructure. Our bespoke transport solutions help everyone to have an eco-friendly, economical, safe and comfortable journey to and from work.</p>
         </div>
         </div>
         </div>
         <div class="row">
         <div class="sponsors-bg clearfix">
         <div style="padding: 0px; margin-left: -62px; margin-right: 62px;" class="col-md-4">
         <div class="text-center">
         <a href="http://www.mavenhive.in" target="_blank">
         <img alt="sponsor logo image" src="{{ site.github_project_name }}/assets/images/sponsors/mavenhive.png" class="image-responsive">
         </a>
         </div>
         </div>

         <div class="col-md-8" style="padding: 0 0 0 9px" class="col-md-8">
         <p class="sponsor-paragraph"><a href="http://www.mavenhive.in/" target="_blank"><strong>MavenHive</strong></a> is a Bangalore based technology consulting firm founded by professionals with over a decade of experience. We work with product companies worldwide to convert their ideas into high quality software. Technology is our forte and delighting customers while being excited about our work is why we’re here. We are looking to add promising people to our team.</p>
         </div>
         </div>
         </div> -->
  </div>
</section>
