<section id="support" class="support-section homepage">
    <div class="container content-section">
        <h2 class="supporters-head">Supporters</h2>
        <div class="row">

            <div class="support-bg clearfix">

				<div class="col-md-3">
                    <div class="source-logo aerospike-img-position"><a href="http://www.aerospike.com/" target="_blank">
                        <img alt="townscript" src="{{ site.github_project_name }}/images/supporter/aerospike.jpg" class="image-responsive"></a></div>
                </div>

				<div class="col-md-3">
                    <div class="source-logo"><a href="https://www.ardanlabs.com/" target="_blank">
                        <img alt="townscript" src="{{ site.github_project_name }}/images/supporter/ardanlabs.jpg" class="image-responsive ardanlabs-img-width"></a></div>
                </div>

				<div class="col-md-3">
                    <div class="source-logo"><br><a href="http://www.mpowersoft.com/" target="_blank"><img alt="mpower" src="{{ site.github_project_name }}/images/supporter/mpower-logo.png" class="image-responsive"></a></div>
                </div>

				<div class="col-md-3">
                    <div class="source-logo sourcegraph-img-position"><a href="//www.townscript.com/" target="_blank">
                        <img alt="townscript" src="{{ site.github_project_name }}/images/supporter/townscript.png" class="image-responsive"></a></div>
                </div>
                <div class="col-md-3">
                    <div class="source-logo"><a href="//www.actiotech.com" target="_blank">
                        <img alt="actiotech" src="{{ site.github_project_name }}/images/supporter/actiotech.png" class="image-responsive"></a></div>
                </div>

                <div class="col-md-3">
                    <div class="source-logo"><a href="http://www.gophercon.in/blog/2014/09/03/airbnb/" target="_blank">
                        <img alt="airbnb" src="{{ site.github_project_name }}/images/supporter/airbnb.png" class="image-responsive" /></a>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="source-logo"><a href="//bigbinary.com" target="_blank">
                        <img alt="bigbinary" src="{{ site.github_project_name }}/images/supporter/bigbinary.png" class="image-responsive"></a></div>
                </div>

                <div class="col-md-3">
                    <div class="source-logo"><a href="//www.coreos.com" target="_blank">
                        <img alt="coreos" src="{{ site.github_project_name }}/images/sponsors/coreos.png" class="image-responsive"></a></div>
                </div>

            </div>

        </div>

        <div class="row">

            <div class="support-bg clearfix">

                <div class="col-md-3">
                    <div class="source-logo"><a href="http://deltax.com/" target="_blank">
                        <img alt="deltax-big" src="{{ site.github_project_name }}/images/supporter/deltax.png" class="image-responsive"></a></div>
                </div>

                <div class="col-md-3">
                    <div class="source-logo" style="margin-top: -20px;"><a href="http://www.ericsson.com/" target="_blank"><img alt="Ericsson" src="{{ site.github_project_name }}/images/supporter/ericsson.png" class="image-responsive"></a></div>
                </div>

				<div class="col-md-3">
                    <div class="source-logo"><a href="http://www.flipit.com/in" target="_blank">
                        <img alt="Flipit" src="{{ site.github_project_name }}/images/supporter/flipit.png" class="image-responsive"></a></div>
                </div>

				<div class="col-md-3">
                    <div class="source-logo"><a href="https://blog.gopheracademy.com" target="_blank">
                        <img alt="Gopher Academy" src="{{ site.github_project_name }}/images/supporter/gopher-academy.png" class="image-responsive" style="height:96px;"></a></div>
                </div>

            </div>

        </div>

        <div class="row">
            <div class="support-bg clearfix">
                <div class="col-md-3">
                    <div class="source-logo"><br /><a href="http://www.galvanize.com" target="_blank"><img alt="Galvanize" src="{{ site.github_project_name }}/images/supporter/galvanize.png" class="image-responsive"></a></div>
                </div>
				<div class="col-md-3">
                    <div class="source-logo"><a href="http://www.goinggotraining.net" target="_blank">
                        <img alt="* GoingGo Training" src="{{ site.github_project_name }}/images/supporter/going-go-training.png" class="image-responsive" style="height: 80px" /></a></div>
                </div>

                <div class="col-md-3">
                    <div class="source-logo">
                <a href="http://golangprojects.com/" target="_blank"><img alt="Golang Projects" src="{{ site.github_project_name }}/images/supporter/golang-projects.png" class="image-responsive"></a>
                    </div>
                </div>

				 <div class="col-md-3">
                    <div class="source-logo"><a href="http://www.metacasts.tv/" target="_blank">
                        <img alt="metacasts.tv" src="{{ site.github_project_name }}/images/supporter/meta-casts.png" class="image-responsive" /></a></div>
                </div>

            </div>
        </div>

        <div class="row">
            <div class="support-bg clearfix">

				<div class="col-md-3">
                    <div class="source-logo"><br><a href="http://www.mpowersoft.com/" target="_blank"><img alt="mpower" src="{{ site.github_project_name }}/images/supporter/mpower-logo.png" class="image-responsive"></a></div>
                </div>


				<div class="col-md-3">
                    <div class="source-logo"><a href="//www.nitrous.io/" target="_blank"><img alt="nitrous.io" src="{{ site.github_project_name }}/images/supporter/nitrous.io.png" class="image-responsive"></a></div>
                </div>

				<div class="col-md-3">
                    <div class="source-logo"><br><a href="http://www.opensourceforu.com/" target="_blank"><img alt="Open Source For You" src="{{ site.github_project_name }}/images/supporter/open-source.png" class="image-responsive"></a></div>
                </div>

				<div class="col-md-3">
                    <div class="source-logo"><a href="http://oreil.ly/GopherConIndia" target="_blank">
                        <img alt="oreilly" src="{{ site.github_project_name }}/images/supporter/oreilly.png" class="image-responsive"></a></div>
                </div>



            </div>
        </div>

		<div class="row">
            <div class="support-bg clearfix">

				<div class="col-md-3">
                    <div class="source-logo"><a href="http://bit.ly/PacktGCIn" target="_blank">
                        <img alt="packt publishing" src="{{ site.github_project_name }}/images/supporter/packt-publishing.png" class="image-responsive"></a></div>
                </div>

				<div class="col-md-3">
                    <div class="source-logo"><a href="http://rainingclouds.com/" target="_blank">
                        <img alt="rainingclouds" src="{{ site.github_project_name }}/images/supporter/raining-clouds.png" class="image-responsive" /></a></div>
                </div>

				<div class="col-md-3">
                    <div class="source-logo"><a href="//www.siminars.com/" target="_blank">
                        <img alt="siminars" src="{{ site.github_project_name }}/images/supporter/siminars.png" class="image-responsive" /></a></div>
                </div>

            </div>
        </div>

		<div class="row">
            <div class="support-bg clearfix">

				 <div class="col-md-3">
                    <div class="source-logo"><a href="//talkingstreet.in" target="_blank"><img alt="Talking Street" src="{{ site.github_project_name }}/images/supporter/talking-street.png" class="image-responsive"></a></div>
                </div>

				<div class="col-md-3">
                    <div class="source-logo"><a href="//thenewstack.io/" target="_blank">
                        <img alt="The New Stack" src="{{ site.github_project_name }}/images/supporter/thenewstack.png" class="image-responsive"></a></div>
                </div>

				<div class="col-md-3">
                    <div class="source-logo"><a href="//www.townscript.com/" target="_blank">
                        <img alt="townscript" src="{{ site.github_project_name }}/images/supporter/townscript.png" class="image-responsive"></a></div>
                </div>
			</div>
		</div>
    </div>
</section>
