<section id="support" class="support-section homepage">
  <div class="container content-section">
    <h2 class="supporters-head">Supporters</h2>
    <div class="row">

      <div class="support-bg clearfix">

	<!-- <div class="col-md-3">
             <div class="source-logo ruby-garage-logo"><a href="https://rubygarage.org/blog/ruby-conferences-in-winter" target="_blank">
             <img alt="Ruby Garage" src="{{ site.github_project_name }}/assets/images/supporter/rubygarage.png" class="image-responsive"></a></div>
             </div> -->

      </div>

    </div>

  </div>
</section>
