<div class="up-footer">
  <div class="container">
    <div class="row" style="margin-top:20px;">

      <div class="col-md-4">
        <div class="widget footer-widget tweets-widget">
         <a class="twitter-timeline" href="https://twitter.com/search?q=%23gopherconindia+OR+%40gopherconindia+OR+gopherconindia" data-widget-id="504219794225131520" data-theme="dark" height="500">Tweets about "#gopherconindia OR @gopherconindia OR gopherconindia"</a>
          <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
        </div>
      </div>

      <div class="col-md-4">
          <div class="widget footer-widget tweets-widget">
          <a class="twitter-timeline" href="https://twitter.com/hashtag/IwantToHearAtGopherConIndia" data-widget-id="504220835213615104" data-theme="dark" height="500">#IwantToHearAtGopherConIndia Tweets</a>
          <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
          </div>
      </div>

      <div class="col-md-4">
        <div class="widget footer-widget tweets-widget text-left">
          <h3 style="margin-bottom:10px;text-align:left;text-transform: none; letter-spacing: 0px;">Organized By</h3>

          Innovation Technology Trust<br />
          GF01 & MZ01<br />
          Tower C, Panchsil Techpark <br />
          Yerwada, Pune <br />
          Maharashtra 411006<br />
          India

        </div>
      </div>

    </div>
  </div>
</div>