---
title: RubyConf India 2015 - Policy
---

.container
  %h1#code-of-conduct Ruby Conf India
  %hr
  %p
    Launched in 2010, RubyConf India is India's premier Ruby and Rails conference and one of the largest RubyConfs in the world. 
  %p
    Sold out every year since its inception, the sixth iteration of the conference is scheduled on 4th and 5th April 2015 at the Cidade-de-Goa resort, Goa.
  %p
    Organized entirely by a group of volunteers on a non-profit basis, RubyConf India aims to help connect, educate and entertain Ruby programmers across the country.
  .row.push-down
    .col-md-6
      .h2#past-conferences Past Conferences
      %hr
      %ul
        %li
          %a.link{:href => "/rci2014"} 2014 -- Goa
        %li
          %a.link{:href => "/rci2013"} 2013 -- Pune
        %li
          %a.link{:href => "/rci2012"} 2012 -- Pune
        %li
          %a.link{:href => "/rci2011"} 2011 -- Bangalore
        %li
          %a.link{:href => "/rci2010"} 2010 -- Bangalore
    .col-md-6
      .h2#past-conferences Organizers
      %hr
      %p Ajey Gore - +919764999768
      %p Gautam Rege - +919881395656
      %p Niranjan Paranjape - +919538998499