---
title: RubyConf India 2015 - Policy
---

.container
  %h1#code-of-conduct Ruby Conf India
  %hr
  %p
    RubyConf India is a community conference intended for networking and collaboration in the developer community. We
    value the participation of each member of the community and want all participants to have an enjoyable and fulfilling
    experience. We are committed to providing a safe environment for everyone regardless of gender, race, nationality,
    religion, disability, appearance or sexual orientation. Any misconduct by any participant during the course of the
    conference, at the venue or otherwise, will not be tolerated. Attendees violating these rules may be asked to leave the
    conference without a refund at the sole discretion of the conference organizers.
  .row.push-down
    .col-md-6
      .h2#past-conferences Past Conferences
      %hr
      %ul
        %li
          %a.link{:href => "#"} 2014 -- Bangalore
        %li
          %a.link{:href => "#"}  2013 -- Pune
        %li
          %a.link{:href => "#"}  2012 -- Bangalore
        %li
          %a.link{:href => "#"}  2011 -- Bangalore
        %li
          %a.link{:href => "#"}  2010 -- Bangalore
    .col-md-6
      .h2#past-conferences Organizers
      %hr
      %p Ajey Gore - +919764999768
      %p Gautam Rege - +919881395656
      %p Niranjan Paranjape - +919538998499