---
title: RubyConf India 2015
page_id: home
---

<h2 class="list-title"><span>Guest Speakers</span></h2>

<ul class="speakers">
  <li>
    <img src="/images/speakers/aaron.jpeg" alt="Photo of Aaron Patterson">
    <a href='https://github.com/tenderlove' class="github">@tenderlove</a>
    <a href='https://twitter.com/tenderlove' class="twitter">@tenderlove</a>
    <h3>Aaron Patterson</h3>
    <h4>The only member of both the Ruby and Rails core teams.</h4>
  </li>

  <li>
    <img src="/images/speakers/eleanor.jpeg" alt="Photo of Eleanor McHugh">
    <h3>Eleanor McHugh</h3>
    <h4>British hacker and trans woman best known for Ruby and Go.</h4>
    <a href='https://github.com/feyeleanor' class="github">@feyeleanor</a>
    <a href='https://twitter.com/feyeleanor' class="twitter">@feyeleanor</a>
  </li>

  <li>
    <img src="/images/speakers/aslak.jpeg" alt="Photo of Aslak Hellesøy">
    <h3>Aslak Hellesøy</h3>
    <h4>The only member of both the Ruby and Rails core teams.</h4>
    <a href='https://github.com/zzak' class="github">@zzak</a>
    <a href='https://twitter.com/_zzak' class="twitter">@_zzak</a>
  </li>

  <li>
    <img src="/images/speakers/zzak.jpeg" alt="Photo of Zachary Scott">
    <h3>Zachary Scott</h3>
    <h4>The only member of both the Ruby and Rails core teams.</h4>
    <a href='https://github.com/tenderlove' class="github">@tenderlove</a>
    <a href='https://twitter.com/tenderlove' class="twitter">@tenderlove</a>
  </li>

  <li>
    <img src="/images/speakers/laurent.jpeg" alt="Photo of Laurent Sansonetti">
    <h3>Laurent Sansonetti</h3>
    <h4>The only member of both the Ruby and Rails core teams.</h4>
    <a href='https://github.com/lrz' class="github">@lrz</a>
    <a href='https://twitter.com/lrz' class="twitter">@lrz</a>
  </li>

  <li>
    <img src="/images/speakers/bryan.jpeg" alt="Photo of Bryan Helmkamp">
    <h3>Bryan Helmkamp</h3>
    <h4>The only member of both the Ruby and Rails core teams.</h4>
    <a href='https://github.com/brynary' class="github">@brynary</a>
    <a href='https://twitter.com/brynary' class="twitter">@brynary</a>
  </li>

  <li>
    <img src="/images/speakers/pj.jpeg" alt="Photo of PJ Hagerty">
    <h3>PJ Hagerty</h3>
    <h4>The only member of both the Ruby and Rails core teams.</h4>
    <a href='https://github.com/aspleenic' class="github">@aspleenic</a>
    <a href='https://twitter.com/aspleenic' class="twitter">@aspleenic</a>
  </li>

  <li>
    <img src="/images/speakers/terence.jpeg" alt="Photo of Terence Lee">
    <h3>Terence Lee</h3>
    <h4>The only member of both the Ruby and Rails core teams.</h4>
    <a href='https://github.com/hone' class="github">@hone</a>
    <a href='https://twitter.com/hone02' class="twitter">@hone02</a>
  </li>


</ul>