---
title: RubyConf India 2015
---

.row
  .col-lg-12.text-center
    %h2.page-header
      Back to the Beach!
    %section
      RubyConfIndia is going back to Goa next year on 5th and 6th of April 2015 at Cidade de Goa, where we'll discuss all things Ruby in the conference hall and on the beach.
    %section.push-down
      .col-sm-2.col-sm-offset-4
        %a.btn.btn-primary.btn-lg.btn-block{:href => "http://www.townscript.com/rubyconfindia2015", :target => "_blank"} Register
      .col-sm-2
        %a.btn.btn-success.btn-lg.btn-block{:href => "http://cfp.rubyconfindia.org/", :target => "_blank"} Submit Talk

.row
  .col-lg-12.text-center
    %h2.page-header
      Guest Speakers
    .col-md-3
      .thumbnail
        %image.img-responsive{:src => "https://pbs.twimg.com/profile_images/378800000325798111/ca48276f8ebbbbac9c6ce83aac3c8548.jpeg"}
        .caption
          .h4 Aaron Patterson
    .col-md-3
      .thumbnail
        %image.img-responsive{:src => "https://pbs.twimg.com/profile_images/529619119700578304/46PvhlHF.jpeg"}
        .caption
          .h4 Eleanor McHugh
    .col-md-3
      .thumbnail
        %image.img-responsive{:src => "https://avatars1.githubusercontent.com/u/1000?v=3&s=400"}
        .caption
          .h4 Aslak Hellesøy
    .col-md-3
      .thumbnail
        %image.img-responsive{:src => "https://avatars0.githubusercontent.com/u/277819?v=3&s=400"}
        .caption
          .h4 Zachary Scott
    %section
      And more...
