---
title: Schedule | RubyConf India 2015
page_id: schedule
---

<div id="schedule-page">
  <div class="header">
    <div class="day">
      April 3rd
    </div>
  </div>
  <ul>
    <li class="text-center highlight">Reach Goa</li>
  </ul>
  <div class="header">
    <div class="day">
      April 4th
    </div>
  </div>
  <ul>
    <li class="slot org">
      <span class="time">08:00 - 09:00</span>
      <span class="talk">
	<div class="title">Registrations</div>
      </span>
    </li>
    <li class="slot org">
      <span class="time">09:00 - 09:10</span>
      <span class="talk">
	<div class="title">Welcome</div>
      </span>
    </li>
    <li class="slot">
      <span class="time">09:15 - 09:40</span>
      <span class="talk">
	<div class="title">Guest Speaker 1</div>
      </span>
    </li>
    <li class="slot">
      <span class="time">09:40 - 10:05</span>
      <span class="talk">
	<div class="title">Diving in the unknown depths of a project</div>
	<div class="presenter">Christophe Philemotte</div>
      </span>
    </li>
    <li class="slot">
      <span class="time">10:05 - 10:30</span>
      <span class="talk">
	<div class="title">Functional Geekery for an Imperative Mind</div>
	<div class="presenter">Rajeev N Bharshetty</div>
      </span>
    </li>
    <li class="slot org">
      <span class="time">10:30 - 11:00</span>
      <span class="talk">
	<div class="title">Tea</div>
      </span>
    </li>
    <li class="slot">
      <span class="time">11:00 - 11:25</span>
      <span class="talk">
	<div class="title">ReactJS on Rails</div>
	<div class="presenter">Girish Sonawane</div>
      </span>
    </li>
    <li class="slot">
      <span class="time">11:25 - 11:50</span>
      <span class="talk">
	<div class="title">Leveraging AWS spot instances to create a low cost infrastructure</div>
	<div class="presenter">Vipul Sharma, Aditya Upadhyay</div>
      </span>
    </li>
    <li class="slot">
      <span class="time">11:50 - 12:15</span>
      <span class="talk">
	<div class="title">WebComponents - the next frontier of WebDev</div>
	<div class="presenter">Aakash Dharmadhikari</div>
      </span>
    </li>
    <li class="slot org">
      <span class="time">12:15 - 13:45</span>
      <span class="talk">
	<div class="title">Lunch</div>
      </span>
    </li>
    <li class="slot">
      <span class="time">13:45 - 14:00</span>
      <span class="talk">
	<div class="title">3 - Lightning Talks</div>
      </span>
    </li>
    <li class="slot">
      <span class="time">14:00 - 14:25</span>
      <span class="talk">
	<div class="title">Guest Speaker 2</div>
      </span>
    </li>
    <li class="slot">
      <span class="time">14:25 - 14:50</span>
      <span class="talk">
	<div class="title">require 'bliss</div>
	<div class="presenter">Sharath B. P., Bharath B. P. </div>
      </span>
    </li>
    <li class="slot">
      <span class="time">14:50 - 15:15</span>
      <span class="talk">
	<div class="title">Resilient by Design</div>
	<div class="presenter">Smit Shah</div>
      </span>
    </li>
    <li class="slot org">
      <span class="time">15:15 - 15:45</span>
      <span class="talk">
	<div class="title">Tea</div>
      </span>
    </li>
    <li class="slot">
      <span class="time">15:45 - 16:10</span>
      <span class="talk">
	<div class="title">Guest Speaker 3</div>
      </span>
    </li>
    <li class="slot">
      <span class="time">16:10 - 16:35</span>
      <span class="talk">
	<div class="title">Writing Ruby in your mother tongue</div>
	<div class="presenter">Ratnadeep Deshmane</div>
      </span>
    </li>
    <li class="slot">
      <span class="time">16:35 - 17:00</span>
      <span class="talk">
	<div class="title">Cryptography for Rails Developers</div>
	<div class="presenter">Christopher Rigor</div>
      </span>
    </li>
    <li class="slot">
      <span class="time">17:00 - 17:25</span>
      <span class="talk">
	<div class="title">Guest Speaker 4</div>
      </span>
    </li>
    <li class="slot">
      <span class="time">17:25 - 18:00</span>
      <span class="talk">
	<div class="title">Lightning Talks</div>
      </span>
    </li>
    <li class="slot">
      <span class="time">18:00 - 19:00</span>
      <span class="talk">
	<div class="title">Free time / Networking</div>
      </span>
    </li>
    <li class="slot">
      <span class="time">19:00 - 22:00</span>
      <span class="talk">
	<div class="title">Beach Party</div>
      </span>
    </li>
  </ul>
  <div class="header">
    <div class="day">
      April 5th
    </div>
  </div>
  <ul>
    <li class="slot">
      <span class="time">10:00 - 10:25</span>
      <span class="talk">
	<div class="title">Guest Speaker 5</div>
      </span>
    </li>
    <li class="slot">
      <span class="time">10:25 - 10:50</span>
      <span class="talk">
	<div class="title">Aggrobot - Go fetch me an aggregation</div>
	<div class="presenter">Shadab Ahmed</div>
      </span>
    </li>
    <li class="slot org">
      <span class="time">10:50 - 11:15</span>
      <span class="talk">
	<div class="title">Tea</div>
      </span>
    </li>
    <li class="slot">
      <span class="time">11:15 - 11:40</span>
      <span class="talk">
	<div class="title">Guest Speaker 6</div>
      </span>
    </li>
    <li class="slot">
      <span class="time">11:40 - 12:05</span>
      <span class="talk">
	<div class="title">Taking the Ruby road to Front-end testing</div>
	<div class="presenter">Anisha Narang</div>
      </span>
    </li>
    <li class="slot">
      <span class="time">12:05 - 12:30</span>
      <span class="talk">
	<div class="title">Writing Fast Ruby</div>
	<div class="presenter">Erik Michaels-Ober</div>
      </span>
    </li>
    <li class="slot org">
      <span class="time">12:30 - 14:00</span>
      <span class="talk">
	<div class="title">Lunch</div>
      </span>
    </li>
    <li class="slot">
      <span class="time">14:00 - 14:25</span>
      <span class="talk">
	<div class="title">Guest Speaker 7</div>
      </span>
    </li>
    <li class="slot">
      <span class="time">14:25 - 14:50</span>
      <span class="talk">
	<div class="title">Writing your own CPU profiler and other fun things to do</div>
	<div class="presenter">Emil Soman</div>
      </span>
    </li>
    <li class="slot">
      <span class="time">14:50 - 15:15</span>
      <span class="talk">
	<div class="title">Guest Speaker 8</div>
      </span>
    </li>
  </ul>
</div>
