---
title: Sponsor | RubyConf India 2015
page_id: sponsor
---

<% content_for :before_body do %>
  <div class="actions">
    <div>
      <h3>Sponsor Prospectus</h3>
      <p>Wondering why you should sponsor Ruby Conf India 2015?</p>
      <a href='RCI_Sponsorship_2015.pdf' target='_blank'>Download Prospectus</a>
    </div>
  </div>
<% end %>

<%= partial 'sponsor_prospectus' %>
