---
title: RubyConf India 2015 - Sponsors
---

.row
  .col-lg-12.text-center
    %h2.page-header
      Sponsor Prospectus
    %section
      %h4.col-lg-10.col-lg-offset-1.padding-down
        Wondering why you should sponsor Ruby Conf India 2015? 
    %section.push-down
      .col-sm-4.col-sm-offset-4
        %a.btn.btn-primary.btn-lg.btn-block{:href => "RCI_Sponsorship_2015.pdf", :target => "_blank"} Download Prospectus

%h2#gold Gold Sponsor (4 Lakhs INR / 7000 USD)
%hr
%ul
  %li Company logo at Venue (registration area, stage, backdrop)
  %li Company logo on Delegate kits
  %li Company logo on T-shirts.
  %li 1 delegate give-away
  %li Booth space or table: 8ft x 4ft
  %li Company logo in all videos.
  %li 4 Roll-up standees (to be designed by Sponsor)
  %li Mention in all newsletters.
  %li Company Name and Logo on webpage (350x200px)
  %li Twitter Promotion and credits
  %li 12 conference passes with 4 rooms (triple occupancy)

%h2#silver Silver Sponsora (Rs. 2 Lakhs / 3500 USD)
%hr
%ul
  %li Company logo at Venue (registration area, stage, backdrop)
  %li 1 delegate give-away
  %li 2 Roll-up standees (to be designed by Sponsor)
  %li Mention in all newsletters.
  %li Company Name and Logo on webpage (200x150)
  %li Twitter Promotion and credits
  %li 6 conference passes with 2 rooms (triple occupancy)

%h2#digital Digital Sponsor (Rs. 1 Lakh / 2000 USD)
%hr
%ul
  %li Company Name and Logo on webpage (150x100px)
  %li Logo on 4 Roll-up standees (prepared by conference organizers)
  %li Company Logo in every published video.
  %li Twitter Promotion and credits
  %li 3 conference passes with 1 room (triple occupancy)

%h2#associate Associate Sponsor (Rs. 50k / 1000 USD)
%hr
%ul
  %li Company Name and Logo on webpage (150x100px)
  %li Logo on 4 Roll-up standees (prepared by conference organizers)
  %li Display of logo during intervals and lunch.
  %li Twitter Promotion and credits
  %li 3 conference passes with 1 room (triple occupancy)

%h2#digital Adhoc Sponsor .. talk to us!
%hr
%ul
  %li Dinner Sponsor 
  %li Workshop Sponsor
  %li Student Sponsor
  %li Lanyard / Sticker sponsor
  %li Speaker Sponsor
  %li … more ideas are welcome.

