---
title: Sponsor | RubyConf India 2015
page_id: sponsor
---

<div id="sponsor">
  <div class="text-center">
    <div class="header">
      Sponsor Prospectus
    </div>
    <div class="caption">
      Wondering why you should sponsor Ruby Conf India 2015?
    </div>
    <div class='prospectus'>
      <a class='btn' href='RCI_Sponsorship_2015.pdf' target='_blank'>Download Prospectus</a>
    </div>
  </div>
  <h2 id='gold'>Gold Sponsor (4 Lakhs INR / 7000 USD)</h2>
  <hr>
  <ul>
    <li>Company logo at Venue (registration area, stage, backdrop)</li>
    <li>Company logo on Delegate kits</li>
    <li>Company logo on T-shirts.</li>
    <li>1 delegate give-away</li>
    <li>Booth space or table: 8ft x 4ft</li>
    <li>Company logo in all videos.</li>
    <li>4 Roll-up standees (to be designed by Sponsor)</li>
    <li>Mention in all newsletters.</li>
    <li>Company Name and Logo on webpage (350x200px)</li>
    <li>Twitter Promotion and credits</li>
    <li>12 conference passes with 4 rooms (triple occupancy)</li>
  </ul>
  <h2 id='silver'>Silver Sponsor (Rs. 2 Lakhs / 3500 USD)</h2>
  <hr>
  <ul>
    <li>Company logo at Venue (registration area, stage, backdrop)</li>
    <li>1 delegate give-away</li>
    <li>2 Roll-up standees (to be designed by Sponsor)</li>
    <li>Mention in all newsletters.</li>
    <li>Company Name and Logo on webpage (200x150px)</li>
    <li>Twitter Promotion and credits</li>
    <li>6 conference passes with 2 rooms (triple occupancy)</li>
  </ul>
  <h2 id='digital'>Digital Sponsor (Rs. 1 Lakh / 2000 USD)</h2>
  <hr>
  <ul>
    <li>Company Name and Logo on webpage (150x100px)</li>
    <li>Logo on 4 Roll-up standees (prepared by conference organizers)</li>
    <li>Company Logo in every published video.</li>
    <li>Twitter Promotion and credits</li>
    <li>3 conference passes with 1 room (triple occupancy)</li>
  </ul>
  <h2 id='associate'>Associate Sponsor (Rs. 50k / 1000 USD)</h2>
  <hr>
  <ul>
    <li>Company Name and Logo on webpage (150x100px)</li>
    <li>Logo on 4 Roll-up standees (prepared by conference organizers)</li>
    <li>Display of logo during intervals and lunch.</li>
    <li>Twitter Promotion and credits</li>
    <li>3 conference passes with 1 room (triple occupancy)</li>
  </ul>
  <h2 id='digital'>Adhoc Sponsor .. talk to us!</h2>
  <hr>
  <ul>
    <li>Dinner Sponsor</li>
    <li>Workshop Sponsor</li>
    <li>Student Sponsor</li>
    <li>Lanyard / Sticker sponsor</li>
    <li>Speaker Sponsor</li>
    <li>… more ideas are welcome.</li>
  </ul>
</div>