---
title: RubyConf India 2015 - Venue
---


.row.push-down
  .col-md-8.push-down
    %iframe{:width => "100%", :height => "400px", :frameborder => "0", :scrolling => "no", :marginheight => "0", :marginwidth => "0", :src => "https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3845.5310424228533!2d73.814336!3d15.455841999999999!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bbfc73489aaaaab%3A0xec44c33d3aababc9!2sCidade+De+Goa!5e0!3m2!1sen!2sin!4v1418786843670"}
  .col-md-4
    %h3
      Cidade De Goa
    %section
      Vainguinim Beach,
    %section
      Dona Paula, Goa 403004
