.actions {
  border-bottom: solid 1px rgba($black, 0.2);
  @include pie-clearfix;
  
  h3, 
  a, 
  p {
    color: $red;
    text-decoration: none;
  }
  
  h3 {
    font-size: 24px;
    font-weight: 800;
  }
  
  p {
    font-size: 15px;
  }
  
  a {
    display: inline-block;
    line-height: 36px;
    border-radius: 19px;
    margin: 10px 10px 0 -2px;
    padding: 0 15px;
    background: $white;
    color: $red;
    border: solid 1px $red;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
    
    &:after {
      content: "\2192";
      padding-left: 4px;
    }
    
    &:hover {
      background: $yellow-light;
    }
    
    &.primary {
      background: $red;
      color: $white;
      
      &:hover {
        background: $black;
      }
    }
  }

  div {
    display: block;
    position: relative;
    background: $yellow-xlight;
    width: 44%;
    float: left;
    padding: 0 30px;
    height: 160px;
    z-index: 20;
    margin-top: -100px;
        
    &:last-child {
      background: $gray-xxlight;
      float: right;
      z-index: 10;
      text-align: right;
    }
    
    &:after,
    &:before {
      content: "";
      display: block;
      position: absolute;
      width: 0;
      height: 0;
      top: 0;
      right: -160px;
      
      border: solid 80px $cream;
      border-top-color: transparent;
      border-right-color: transparent;
    }

    &:first-child:before {
      right: -161px;
      border-left-color: rgba($black, 0.2);
      border-bottom-color: rgba($black, 0.2);
    }

    &:last-child:after {
      right: auto;
      left: -160px;
      border-bottom-color: $gray-xxlight;
      border-right-color: $gray-xxlight;
      border-left-color: transparent;
    }
    
    &:last-child:before {
      display: none;
    }
  }
}
