.banner {
  height: 500px;
  width: 100%;
  background: #a00 image-url("/images/header.svg") center center repeat;
  background-size: 100% auto;
  text-align: center;
  
  div {
    width: 220px;
    padding: 20px;
    background: $white;
    margin: 0 auto;
    box-shadow: 0 0 4px 1px rgba($black, 0.2);
  }
  
  a {
    color: inherit;
    text-decoration: none;
  }
  
  h1 a, h3 {
    font-weight: 300;
    font-family: lato;

    @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi){ 
      font-weight: 200;
    }
  }
  
  h1 {
    padding: 90px 0 20px 0;
    margin-bottom: 10px;
    background: transparent image-url("/images/logo.svg") no-repeat top center;     
    background-size: 72px auto;
    border-bottom: solid 1px $red;
    color: $black;
    
    a {
      display: block;
      font-size: 40px;
      line-height: 32px;
      text-transform: none;
    }
    
    span {
      display: block;
      text-align: right;
      font-weight: 800;
      font-size: 14px;
      line-height: 18px;
      text-transform: uppercase;
      padding-right: 8px;
    }
  }
  
  h2, h3 {
    margin: 0;
    color: $red;
    line-height: 1.3em;
  }
  
  h2 {
    font-size: 16px;
    font-weight: 700;
    text-transform: lowercase;
  }
  
  h3 {
    font-size: 24px;
  }
}